<c-row>
    <c-col xs="12">
        <table cTable striped="true" hover="true" *ngIf="collections | async">
            <thead>
            <tr>
                <th>Collection</th>
                <th>Truncate</th>
                <th>Drop</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let table of collections | async; let i = index" [ngClass]="{'table-warning':table.export}"
                [class.editing]="table.editing">
                <td>
            <span *ngIf="!table.editing">
              {{table.name}}
                <i class="cui-pencil edit-table-name ml-2" (click)="table.editing = !table.editing"></i>
            </span>
                    <c-input-group sizing="sm" *ngIf="table.editing" style="max-width: 200px">
                        <input type="text" cFormControl placeholder="newName"
                               [(ngModel)]="table.newName" autofocus (keyup.enter)="renameTable(table)"
                               (keyup.escape)="table.editing = false" #tableNameInput (mouseover)="tableNameInput.focus()">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm input-group" [disabled]="!canRename(table)"
                                    (click)="renameTable(table)">rename
                            </button>
                        </div>
                    </c-input-group>
                </td>
                <td>
                    <div class="input-group confirm-group" *ngIf="table.modifiable">
                        <input type="text" class="form-control form-control-sm" placeholder="truncate {{table.name}}"
                               [(ngModel)]="table.truncate" (keyup.enter)="sendRequest('truncate', table)">
                        <div class="input-group-append">
                            <button class="btn btn-sm" [ngClass]="dropTruncateClass('truncate', table)" type="button"
                                    (click)="sendRequest('truncate', table)">truncate
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group confirm-group" *ngIf="table.tableType !== 'SOURCE'">
                        <input type="text" class="form-control form-control-sm" placeholder="drop {{table.name}}"
                               [(ngModel)]="table.drop" (keyup.enter)="sendRequest('drop', table)">
                        <div class="input-group-append">
                            <button class="btn btn-sm" [ngClass]="dropTruncateClass('drop', table)" type="button"
                                    (click)="sendRequest('drop', table)">drop
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </c-col>


    <br><br>
    <c-col xs="12">
        <h5>Create New Collection</h5>
        <table cTable striped="true">
            <tbody>
            <tr>
                <td>
                    <c-dropdown direction="dropup">
                        <button cButton cDropdownToggle type="button" class="btn btn-light dropdown-toggle">
                            {{selectedStore ? selectedStore : 'Select store'}}
                        </button>

                        <ul cDropdownMenu>
                            <ng-container *ngIf="(stores|async).length > 0">
                                <li>
                                    <button cDropdownItem (click)="selectedStore = null">auto</button>
                                </li>
                                <li cDropdownDivider></li>
                                <li role="menuitem" *ngFor="let store of (stores | async)">
                                    <button cDropdownItem (click)="selectedStore = store.name">{{store.name}}</button>
                                </li>
                            </ng-container>
                            <li *ngIf="(stores|async).length === 0" role="menuitem">
                                <button cDropdownItem disabled>no stores available</button>
                            </li>
                        </ul>
                    </c-dropdown>
                </td>
                <td>
                    <c-input-group class="justify-content-end">
                        <input cFormControl type="text" style="max-width: 300px;" [(ngModel)]="newCollectionName">
                        <button (click)="createCollection()" cButton>Create Collection</button>
                    </c-input-group>
                </td>
            </tr>
            </tbody>
        </table>
    </c-col>
</c-row>
