<div class=" input-group instance-wrapper card p-1 my-1 border" *ngFor="let el of config.value.values; let i = index;"
     [ngClass]="el.dockerRunning ? 'border-success' : 'border-danger'">
    <div class="instance-collapsed p-2 bg-gray d-none">
        <div class="info">
            <span>Alias: {{el.alias}}</span>
            <span>Host: {{el.url}}</span>
        </div>
        <i class="cui-pencil"></i>
    </div>
    <div class="instance-expanded">
        <div class="input-group docker-status">
            <div class="input-group-prepend prepend-status">
                <span class="input-group-text" *ngIf="el.isTesting; else notTesting">Waiting...</span>
                <ng-template #notTesting>
                    <span class="input-group-text bg-success" *ngIf="el.dockerRunning; else notRunning">Reachable</span>
                </ng-template>
                <ng-template #notRunning>
                    <span class="input-group-text bg-danger">{{ form.dirty ? 'Please save first' : 'Not Reachable'}}</span>
                </ng-template>
            </div>
            <button class="btn btn-secondary" (click)="testConnection($event, config.value.values[i], config.value.key)"
                    [disabled]="form.dirty"><i class="cui-reload"></i></button>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon1">Host</span>
            </div>
            <input type="text" class="form-control list-input" [(ngModel)]="el.host"
                   (input)="markElementReset(config.value.key, config.value.values[i])"
                   [ngModelOptions]="{standalone: true}" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon2">Alias</span>
            </div>
            <input type="text" class="form-control list-input form-control" [(ngModel)]="el.alias"
                   (input)="markElementReset(config.value.key, config.value.values[i])"
                   [ngModelOptions]="{standalone: true}" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="instance-taskbar">
            <div></div>
            <span class="input-group-btn">
                <button class="btn btn-secondary"
                        (click)="removeElement(config.value.values, config.value.key, i)"
                        type="button">Delete</button>
            </span>
        </div>
    </div>
</div>
<div class="input-group my-1">
    <div class="list-add-wrapper input-group">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"
                    (click)="addElement(config.value.values, config.value.key, config.value.template)">New Instance</button>
        </span>
    </div>
</div>
