<div class=" input-group instance-wrapper card p-1 my-1 border" *ngFor="let el of config.value.values; let i = index;"
     [ngClass]="el.dockerRunning ? 'border-success' : 'border-danger'">
    <div class="instance-collapsed p-2 bg-gray d-none">
        <div class="info">
            <span>Alias: {{el.alias}}</span>
            <span>Host: {{el.url}}</span>
        </div>
        <i class="cui-pencil"></i>
    </div>
    <div class="instance-expanded">
        <div class="input-group docker-status">
            <div class="input-group-prepend prepend-status">
                <span class="input-group-text" *ngIf="el.isTesting; else notTesting">Waiting...</span>
                <ng-template #notTesting>
                    <span class="input-group-text bg-success" *ngIf="el.dockerRunning; else notRunning">Reachable</span>
                </ng-template>
                <ng-template #notRunning>
                    <span class="input-group-text bg-danger">{{ form.dirty ? 'Please save first' : 'Not Reachable'}}</span>
                </ng-template>
            </div>
            <button class="btn btn-secondary" (click)="testConnection($event, config.value.values[i], config.value.key)"
                    [disabled]="form.dirty"><i class="cui-reload"></i></button>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon1">Host</span>
            </div>
            <input type="text" class="form-control list-input" [(ngModel)]="el.host"
                   (input)="markElementReset(config.value.key, config.value.values[i])"
                   [ngModelOptions]="{standalone: true}" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon2">Alias</span>
            </div>
            <input type="text" class="form-control list-input form-control" [(ngModel)]="el.alias"
                   (input)="markElementReset(config.value.key, config.value.values[i])"
                   [ngModelOptions]="{standalone: true}" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon4">Protocol</span>
            </div>
            <select class="custom-select" id="inputGroupSelect01"
                    (change)="setProtocolAndMarkElement(el, $event, config.value.key, config.value.values[i])">
                <option *ngFor="let protocol of el.protocols"
                        [selected]="protocol === el.protocol">{{protocol}}</option>
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Insecure Connection (HTTP)</span>
            </div>
            <div class="checkbox-wrapper">
                <br>
                <label [class]="'switch switch-label switch-pill switch-sm switch-primary'">
                    <input [(ngModel)]="el.usingInsecure" [ngModelOptions]="{standalone: true}"
                           (change)="setInsecureAndMark(el.usingInsecure, config.value.key, config.value.values[i])"
                           type="checkbox" class="form-control switch-input"
                           [ngClass]="inputValidation(config.value.key)">
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
            </div>
        </div>
        <div class="input-group" *ngIf="el.protocol === 'tcp'">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basiaddon5">Port</span>
            </div>
            <input type="number" class="form-control list-input" [(ngModel)]="el.port"
                   (input)="markElementReset(config.value.key, config.value.values[i])"
                   [ngModelOptions]="{standalone: true}" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="auth" *ngIf="el.protocol === 'ssh'">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basiaddon3">Username</span>
                </div>
                <input type="text" class="form-control list-input form-control" [(ngModel)]="el.username"
                       (input)="markElementReset(config.value.key, config.value.values[i])"
                       [ngModelOptions]="{standalone: true}" placeholder="" aria-label=""
                       aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basiaddon6">Password</span>
                </div>
                <input type="password" class="form-control list-input form-control" [(ngModel)]="el.password"
                       (input)="markElementReset(config.value.key, config.value.values[i])"
                       [ngModelOptions]="{standalone: true}" placeholder="" aria-label=""
                       aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="instance-taskbar">
            <div></div>
            <span class="input-group-btn">
                <button class="btn btn-secondary"
                        (click)="removeElement(config.value.values, config.value.key, i)"
                        type="button">Delete</button>
            </span>
        </div>
    </div>
</div>
<div class="input-group my-1">
    <div class="list-add-wrapper input-group">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"
                    (click)="addElement(config.value.values, config.value.key, config.value.template)">New Instance</button>
        </span>
    </div>
</div>
