#zoom-wrapper {
  margin: 0;
  height: 3.3em;
  justify-content: flex-end;
  padding: 0.35em 1em 0.35em 0.35em;
}
.custom-switch{
  padding-top: 0.5rem;
}
#statistics-wrapper{
  margin: 0;
  height: 3.3em;
  justify-content: flex-end;
  padding: 0.35em 1em 0.35em 0.35em;
}
