<div class="row no-gutters" *ngIf="!hidden">
    <div class="col-md-6">
        <ol class="breadcrumb">
            <li *ngFor="let b of breadcrumbs" class="breadcrumb-item">
                <ng-container *ngIf="b.routerLink">
                    <a [routerLink]="b.routerLink">{{b.name}}</a>
                </ng-container>
                <ng-container *ngIf="!b.routerLink">{{b.name}}</ng-container>
            </li>
        </ol>
    </div>
    <div class="col-md-6" *ngIf="breadcrumbs[0].name != 'Schema'">
        <div class="custom-control-inline breadcrumb" id="zoom-wrapper">
            <div class="custom-control" *ngIf="_breadcrumb._showZoom">
                Zoom: {{zoom}}
                <button class="btn btn-light" (click)="zoomOut()">-</button>
                <button class="btn btn-light" style="margin-left:0.5em;" (click)="zoomIn()">+</button>
                <span>  </span>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="breadcrumbs[0].name == 'Schema'">
        <div class="custom-control-inline breadcrumb" id="statistics-wrapper">
            <div class="custom-control" *ngIf="_breadcrumb.getTableId() && _breadcrumb.getTableId() != '!notShow!'">
                <button class="btn btn-light"
                        [routerLink]=" '/views/schema-editing/' + _breadcrumb.getTableId() + '/statistics-column'">
                    Statistics
                </button>
            </div>
        </div>
    </div>

</div>
<div style="width:100%;height: 1.5rem;background: transparent;" *ngIf="hidden"></div>
