<c-row class="no-gutters" *ngIf="!hidden">
    <c-col md="6" class="d-flex align-items-center">
        <c-breadcrumb
                class="m-0"
                style="--cui-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
            <li *ngFor="let b of breadcrumbs" class="breadcrumb-item">
                <ng-container *ngIf="b.routerLink">
                    <a [routerLink]="b.routerLink">{{b.name}}</a>
                </ng-container>
                <ng-container *ngIf="!b.routerLink">{{b.name}}</ng-container>
            </li>
        </c-breadcrumb>
    </c-col>
    <c-col class="col-md-6" *ngIf="breadcrumbs[0].name != 'Schema'">
        <div class="custom-control-inline breadcrumb" id="zoom-wrapper">
            <div class="custom-control" *ngIf="_breadcrumb._showZoom">
                Zoom: {{zoom}}
                <button cButton color="light" (click)="zoomOut()">-</button>
                <button cButton color="light" style="margin-left:0.5em;" (click)="zoomIn()">+</button>
                <span>  </span>
            </div>
        </div>
    </c-col>
    <c-col class="col-md-6" *ngIf="breadcrumbs[0].name == 'Schema'">
        <div class="custom-control-inline breadcrumb breadcrumb-menu-right" id="statistics-wrapper">
            <div class="custom-control" *ngIf="_breadcrumb.getTableId()">
                <button cButton color="light" [routerLink]=" '/views/schema-editing/' + _breadcrumb.getTableId() + '/statistics-column'">
                    Statistics
                </button>

            </div>
            <div class="custom-control"
                 *ngIf="_breadcrumb.getNamespaceName() && _breadcrumb.isRelational() && !_breadcrumb.getTableId()">
                <button cButton color="light" [routerLink]=" '/views/uml/' + _breadcrumb.getNamespaceName()">
                    UML
                </button>
            </div>
        </div>
    </c-col>

</c-row>
<div style="width:100%;height: 1.5rem;background: transparent;" *ngIf="hidden"></div>
