<div class="list-group grey-border" id="console">
    <div id="console-item-head" *ngIf="usesAdvancedConsole(language())"
         class="list-group-item header grey-bg"
         (dblclick)="toggleNamespaceField()">
                    <span *ngIf="showNamespaceConfig"
                          class="document-db-info"><span>Namespace: {{ activeNamespace() }}</span></span>
        <div *ngIf="!showNamespaceConfig" class="advanced-console-db-info">
            <span class="document-db-info"><span>Namespace: </span></span>
            <select class="form-control form-control-sm advanced-console-db-info"
                    [ngModel]="activeNamespace()"
                    (ngModelChange)="changedDefaultDB($event)">
                <option *ngFor="let namespace of namespaces()"
                        [ngValue]="namespace.name">{{ namespace.name }}
                </option>
            </select>
        </div>
        <div>
            <button cButton tooltip="Clear" placement="right" color="primary" size="sm" type="submit" class="pull-right"
                    (click)="clearConsole()"><i
                    class="cil-trash"></i></button>
            <button cButton tooltip="Format" placement="right" color="primary" size="sm" type="submit"
                    class="pull-right me-1"
                    (click)="formatQuery()"><i
                    class="cil-clear-all"></i></button>
        </div>
    </div>
    <div class="form-group"
         [ngClass]="usesAdvancedConsole(language()) ? 'advanced-console': 'simple-console'">
        <app-editor [language]="language()" #editor id="query-editor"></app-editor>
    </div>
</div>