<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Edit instance</h4>
            <button class="close" (click)="emitDone()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="idField" class="input-group-text">Id</label>
                    </div>
                    <input id="idField" class="form-control" type="text" name="id" [(ngModel)]="id" readonly="true">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="hostField" class="input-group-text">Host</label>
                    </div>
                    <input id="hostField" class="form-control" type="text" name="host" (input)="modified = true" [(ngModel)]="host">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="aliasField" class="input-group-text">Alias</label>
                    </div>
                    <input id="aliasField" class="form-control" type="text" name="alias" (input)="modified = true" [(ngModel)]="alias">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="idField" class="input-group-text">Connected</label>
                    </div>
                    <input id="idField" [class]="'form-control ' + (connected === true ? 'our-bg-success-subtle' : connected === false ? 'our-bg-danger-subtle' : '')" type="text" name="connected" [(ngModel)]="connected" readonly="true">
                </div>
                <details>
                    <summary>Advanced settings</summary>
                    <div class="mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="registryField" class="input-group-text">Registry</label>
                            </div>
                            <input id="registryField" class="form-control" type="text" name="registry" placeholder="Using default setting" (input)="modified = true" [(ngModel)]="registry">
                            <div class="form-text">Leave empty to use the default registry for this Polypheny instance</div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="communicationPortField" class="input-group-text">Communication Port</label>
                            </div>
                            <input id="communicationPortField" class="form-control" type="text" name="communicationPort" [(ngModel)]="communicationPort" disabled="true">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label for="handshakePortField" class="input-group-text">Handshake Port</label>
                            </div>
                            <input id="handshakePortField" class="form-control" type="text" name="handshakePort" [(ngModel)]="handshakePort" disabled="true">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label for="proxyPortField" class="input-group-text">Proxy Port</label>
                            </div>
                            <input id="proxyPortField" class="form-control" type="text" name="proxyPort" [(ngModel)]="proxyPort" disabled="true">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>
                </details>
            </form>
            <app-dockerhandshake *ngIf="handshake !== null" [handshake]="handshake"></app-dockerhandshake>

        </div>
        <div class="modal-footer">
            <div class="input-group">
                <button cButton color="success" class="me-2" (click)="updateDockerInstance()" [disabled]="!modified || updateLock || handshake !== null">Save</button>
                <button cButton color="primary" class="me-2" (click)="testConnection();" [disabled]="updateLock || handshake !== null">Test Connectivity</button>
                <button cButton color="primary" *ngIf="!connected && handshake === null" class="me-2" (click)="reconnectToDockerInstance()" [disabled]="updateLock || handshake !== null">Reconnect</button>
                <button cButton color="danger" class="me-2" (click)="removeDockerInstance();" [disabled]="lock || handshake !== null">Delete</button>
            </div>
        </div>
    </div>
</div>
