<div *ngIf="handshake.status === 'RUNNING' || handshake.status === 'NOT_RUNNING'" class="pt-3">
    <div *ngIf="handshake.status === 'RUNNING'" class="pb-3">
        <div class="d-flex align-items-center">
            <div class="spinner-border"></div>
            <div class="ms-2">Attempting to connect</div>
            <button cButton color="danger" class="ms-2" (click)="cancelHandshake()">Cancel</button>
        </div>
    </div>

    <div *ngIf="handshake.status === 'NOT_RUNNING' || handshake.status === 'FAILED'" class="pb-3">
        <div *ngIf="handshake.lastErrorMessage != ''" class="alert alert-danger">
            <strong>Connection attempt failed:</strong>
            {{ handshake.lastErrorMessage }}
        </div>
        <button cButton color="primary" (click)="redoHandshake()">Try again</button>
    </div>

    Run the following command on <strong>{{ handshake.hostname }}:</strong><br>
    <div *ngIf="handshake.containerExists === 'true'">
        <div class="handshake-string p-3 mt-2">
            <samp>{{ handshake.execCommand }}</samp><br>
            <button cButton color="secondary" class="mt-2" (click)="_util.clipboard(handshake.execCommand)">Copy</button>
        </div>
    </div>
    <div *ngIf="handshake.containerExists === 'false'">
        <div class="handshake-string p-3 mt-2">
            <samp>{{ handshake.runCommand }}</samp><br>
            <button cButton color="secondary" class="mt-2" (click)="_util.clipboard(handshake.runCommand)">Copy</button>
        </div>
    </div><br>

    <details *ngIf="handshake.containerExists === 'true'">
        <summary>No <tt>polypheny-docker-connector</tt> container exists?</summary>
        Use this command:<br>
        <div class="handshake-string p-3">
            <samp>{{ handshake.runCommand }}</samp><br>
            <button cButton color="secondary" class="mt-2" (click)="_util.clipboard(handshake.runCommand)">Copy</button>
        </div>
    </details>
    <details *ngIf="handshake.containerExists === 'false'">
        <summary>Is there a <tt>polypheny-docker-connector</tt> already running?</summary>
        Use this command:<br>
        <div class="handshake-string p-3">
            <samp>{{ handshake.execCommand }}</samp><br>
            <button cButton color="secondary" class="mt-2" (click)="_util.clipboard(handshake.execCommand)">Copy</button>
        </div>
    </details>
</div>
