@import url(../../assets/css/styles.css);

ul {
	display: flex;
	padding: 12px 0 0 0;
	position: relative;
	margin: auto;
	transition: all 0.5s;
	margin-top: -5px
}

ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 2px solid #c4c4c4;
	height: 12px;
	width: 0
}

/* css fix when using different recursion */
ul li:last-child:not(:first-child) ul{
	margin-left: -4px;
}

ul li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 12px 3px 0 3px;
	transition: all 0.5s
}

ul li:before,
ul li:after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 2px solid #c4c4c4;
	width: 50%;
	height: 12px
}

ul li:after {
	right: auto;
	left: 50%;
	border-left: 2px solid #c4c4c4
}

ul li:only-child {
	padding-top: 0
}

ul li:only-child:after,
ul li:only-child:before {
	display: none
}

ul li:first-child::before,
ul li:last-child::after {
	border: 0 none
}

ul li:last-child::before {
	border-right: 2px solid #c4c4c4;
	border-radius: 0 6px 0 0
}

ul li:first-child::after {
	border-radius: 6px 0 0 0
}

ul li .plan-node:hover+ul::before {
	border-color: #00B5E2
}

ul li .plan-node:hover+ul li::after,
ul li .plan-node:hover+ul li::before,
ul li .plan-node:hover+ul ul::before {
	border-color: #008CAF
}


/*
	PLAN NODE
*/
.plan-node {
	text-decoration: none;
	color: #4d525a;
	display: inline-block;
	transition: all 0.1s;
	position: relative;
	padding: 6px 10px;
	background-color: #fff;
	font-size: 12px;
	border: 1px solid #dedede;
	margin-bottom: 4px;
	border-radius: 3px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	width: 240px;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1)
}

.plan-node header {
	margin-bottom: 6px;
	cursor: pointer;
}

.plan-node header:hover {
	background-color: #f7f7f7
}

.plan-node header h4 {
	font-size: 13px;
	width: 100%;
  text-align: left;
	font-weight: 600;
	margin: 0;
}

.plan-node header .node-duration {
	float: right;
	margin-left: 10px;
	font-size: 13px
}

.plan-node .prop-list {
	float: left;
	text-align: left;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	margin-top: 10px;
	margin-bottom: 6px
}

.plan-node .relation-name {
	text-align: left;
	margin-bottom: 0.3em;
}

.plan-node .planner-estimate {
	border-top: 1px solid #dedede;
	text-align: left;
	padding-top: 3px;
	margin-top: 6px;
	width: 100%
}

.plan-node .tags {
	margin-top: 6px;
	text-align: left
}

.plan-node .tags span {
	display: inline-block;
	background-color: #FB4418;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	margin-right: 3px;
	margin-bottom: 3px;
	padding: 3px;
	border-radius: 3px;
	line-height: 1.1
}

.plan-node:hover {
	border-color: #00B5E2
}

.plan-node .node-description {
	text-align: left;
	font-style: italic;
	padding-top: 10px;
	word-break: normal
}

.plan-node .node-description .node-type {
	font-weight: 600;
	background-color: #00B5E2;
	color: #fff;
	padding: 0 6px
}

.plan-node .btn-default {
	border: 0
}

.node-bar-container {
	height: 5px;
	margin-top: 10px;
	margin-bottom: 3px;
	border-radius: 6px;
	background-color: #dedede;
	position: relative
}

.node-bar-container .node-bar {
	border-radius: 6px;
	height: 100%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0
}

.node-bar-label {
	text-align: left;
	display: block
}

.expanded {
	width: 400px !important;
	overflow: visible !important;
	padding: 6px 10px !important
}

.expanded .tags span {
	margin-right: 3px !important
}

.compact {
	width: 140px
}

.dot {
	width: 30px;
	overflow: hidden;
	padding: 3px
}

.dot .tags span {
	margin-right: 1px
}

.dot .node-bar-container {
	margin-top: 3px
}


.table {
	width: 100%
}

.table td {
	border-bottom: 1px solid #dedede;
	padding: 6px
}

.table tr:hover {
	background-color: #f7f7f7
}
