<div id="editor-wrapper">
    <div *ngFor="let el of data; let i=index;">
        <app-json-elem [el]="el" [index]="i" [length]="data.length" [indent]="0"
                       [type]="getType(el)"
                       (changed)="changeHappened()"
                       (remove)="removeColumn($event)"
                       (up)="changeOrder($event, -1)"
                       (down)="changeOrder($event, 1)"
                       (add)="addColumn($event)"></app-json-elem>
    </div>

    <div  class="input-group justify-content-center mt-3">
        <div (mouseleave)="setMenuShow(false)" (mouseenter)="menuEnter()">
            <button class="btn btn-sm btn-outline-primary" (click)="setMenuShow(true)"  type="button"><i class="cui-plus"></i></button>
            <ul *ngIf="show" class="dropdown-menu json-dropdown" (mouseleave)="setMenuShow(false)">
                <li><div class="dropdown-item" (click)="addMainColumn(0)"><i class="cui-plus"></i>Add Key-Value</div></li>
                <li><div class="dropdown-item" (click)="addMainColumn(1)"><i class="cui-plus"></i>Add Key-Object</div></li>
            </ul>
        </div>
    </div>

</div>

