<div id="editor-wrapper">
    <form #formType="ngForm" *ngFor="let el of data; let i=index;">
        <app-json-elem [el]="el" [index]="i" [length]="data.length" [indent]="0"
                       [type]="getType(el)"
                       [isDuplicate]="getIsDuplicate(i)"
                       (changed)="changeHappened()"
                       (remove)="removeColumn($event)"
                       (up)="changeOrder($event, -1)"
                       (down)="changeOrder($event, 1)"
                       (add)="addColumn($event)"
                       (validChanged)="validChanged()"></app-json-elem>
    </form>
    <div class="input-group justify-content-center mt-3">
        <div (mouseleave)="setMenuShow(false)" (mouseenter)="menuEnter()">
            <button cButton size="sm" variant="outline" color="primary" (click)="setMenuShow(true)" type="button">
                <i class="cil-plus"></i>
            </button>
            <ul *ngIf="show" class="dropdown-menu json-dropdown" (mouseleave)="setMenuShow(false)">
                <li>
                    <div class="dropdown-item" (click)="addMainColumn(0)">
                        <i class="cil-plus"></i>Add Key-Value
                    </div>
                </li>
                <li>
                    <div class="dropdown-item" (click)="addMainColumn(1)">
                        <i class="cil-plus"></i>Add Key-Object
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

