<app-toast></app-toast>
<app-edit-source-columns *ngIf="isSource() && tableId && tableId.includes('.')"></app-edit-source-columns>
<div class="row" *ngIf="!isSource()">

  <div class="col-lg-12">

    <h5 *ngIf="tableId">{{tableId}}</h5>
    <span *ngIf="!tableId">Please select a table in the left sidebar to edit its columns.</span>

    <p *ngIf="resultSet">Double click on a row in the table below to edit the table column.</p>
    <table class="table table-hover table-striped" *ngIf="resultSet" id="dbColumnTable">
      <thead>
        <tr>
          <th class="pk">PK</th>
          <th>Name</th>
          <th>Nullable</th>
          <th>Type</th>
          <th>Collection</th>
          <th>Parameters</th>
          <th>Default</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of resultSet.header; let i = index" (dblclick)="editCol(i, col, $event)" [ngClass]="{'editing': i === editColumn}">
          <ng-container *ngIf="i === editColumn" [formGroup]="updateColumn">
            <td class="pk"><i class="icon-key" *ngIf="col.primary"></i></td>
            <td>
              <input type="text" class="form-control form-control-sm" formControlName="name" [attr.data-before]="col.name" id="colName" #editColName [ngClass]="columnValidation(editColName.value, col.name)">
            </td>
            <td>
              <input type="checkbox" class="" formControlName="nullable" id="nullable" [attr.data-before]="col.nullable" (change)="changeNullable()">
            </td>
            <td>
              <select class="form-control form-control-sm" id="udt_name" [attr.data-before]="col.dataType" formControlName="dataType" (change)="onTypeChange()">
                <option *ngFor="let t of types" [value]="t.name" >{{t.name}}</option>
              </select>
              <!--<input class="form-control form-control-sm"
                     [typeahead]="types"
                     [typeaheadScrollable]="true"
                     [typeaheadOptionsInScrollableView]="5"
                     [(ngModel)]="d1[2]"
                     [ngModelOptions]="{standalone: true}"
                     id="udt_name"
                     [attr.data-before]="d1[2]">-->
            </td>
            <td>
              <select class="form-control form-control-sm" id="collectionsType" [attr.data-before]="col.collectionsType" formControlName="collectionsType">
                <option value="">none</option>
                <option value="ARRAY">ARRAY</option>
              </select>
            </td>
            <td class="data-type-parameters">
              <!-- precision -->
              <div class="input-group input-group-sm mt-1" *ngIf="_types.supportsPrecision(updateColumn.controls['dataType'].value)">
                <div class="input-group-prepend">
                  <label for="precision" class="input-group-text">{{_types.precisionPlaceholder(updateColumn.controls['dataType'].value)}}</label>
                </div>
                <input type="number" [placeholder]="_types.precisionPlaceholder(updateColumn.controls['dataType'].value)" formControlName="precision" class="form-control form-control-sm" id="precision" [attr.data-before]="col.precision">
              </div>

              <!-- scale -->
              <div class="input-group input-group-sm mt-1" *ngIf="_types.supportsScale(updateColumn.controls['dataType'].value)">
                <div class="input-group-prepend">
                  <label for="scale" class="input-group-text">scale</label>
                </div>
                <input type="number" placeholder="scale" formControlName="scale" class="form-control form-control-sm" id="scale" [attr.data-before]="col.scale">
              </div>

              <!-- dimension -->
              <div class="input-group input-group-sm mt-1" *ngIf="updateColumn.controls['collectionsType'].value === 'ARRAY'">
                <div class="input-group-prepend">
                  <label for="updateDim" class="input-group-text">dimension</label>
                </div>
                <input type="number" placeholder="dimension" formControlName="dimension" class="form-control form-control-sm" id="updateDim" [attr.data-before]="col.dimension">
              </div>

              <!-- cardinality -->
              <div class="input-group input-group-sm mt-1" *ngIf="updateColumn.controls['collectionsType'].value === 'ARRAY'">
                <div class="input-group-prepend">
                  <label for="updateCard" class="input-group-text">cardinality</label>
                </div>
                <input type="number" placeholder="cardinality" formControlName="cardinality" class="form-control form-control-sm" id="updateCard" [attr.data-before]="col.cardinality">
              </div>

            </td>
            <td>
              <!--<input type="text" [(ngModel)]="col.defaultValue" class="form-control form-control-sm" id="defaultValue" [attr.data-before]="col.defaultValue">-->
              <div class="input-group">
                  <input type="hidden" formControlName="oldName">
                <ng-container [ngSwitch]="updateColumn.controls['dataType'].value.toLowerCase()">
                  <input *ngSwitchCase="_types.numericTypes().includes( updateColumn.controls['dataType'].value.toLowerCase() ) && updateColumn.controls['collectionsType'].value !== 'ARRAY' ? updateColumn.controls['dataType'].value.toLowerCase() : ''" type="number" inputmode="decimal" placeholder="default value" class="form-control form-control-sm" formControlName="defaultValue" [ngClass]="validate(updateColumn.controls['defaultValue'].value)">
                  <ng-container *ngSwitchCase="_types.booleanTypes().includes( updateColumn.controls['dataType'].value.toLowerCase() ) ? updateColumn.controls['dataType'].value.toLowerCase() : ''">
                    <div class="form-check form-check-inline">
                      <label *ngIf="col.defaultValue === null" class="form-check-label disabled" [for]="'default'+col.name">null&nbsp;</label>
                      <label *ngIf="col.defaultValue === true" class="form-check-label" [for]="'default'+col.name">true&nbsp;</label>
                      <label *ngIf="col.defaultValue === false" class="form-check-label" [for]="'default'+col.name">false&nbsp;</label>
                      <input type="checkbox" class="form-check-input" formControlName="defaultValue">
                    </div>
                  </ng-container>
                  <input *ngSwitchDefault type="text" placeholder="default value" class="form-control form-control-sm" formControlName="defaultValue">
                </ng-container>
                <div class="input-group-append">
                  <button class="btn btn-sm" [ngClass]="{'btn-primary': updateColumn.controls['defaultValue'].value === null, 'btn-light': updateColumn.controls['defaultValue'].value !== null}" (click)="triggerDefaultNull()">null</button>
                </div>
              </div>
            </td>
            <td><button class="btn btn-primary" (click)="saveCol()"><i class="fa fa-save editColSave"></i></button></td>
          </ng-container>
          <ng-container *ngIf="i !== editColumn">
            <td class="pk"><i class="icon-key" *ngIf="col.primary"></i></td>
            <td>{{col.name}}</td>
            <td>
              <i class="fa fa-check" *ngIf="col.nullable"></i>
            </td>
            <td>{{col.dataType}}</td>
            <td>{{col.collectionsType}}</td>
            <td>
              <span *ngIf="col.precision">{{_types.precisionPlaceholder(col.dataType)}}: {{col.precision}}</span>
              <span *ngIf="col.scale">scale: {{col.scale}}</span>
              <span *ngIf="col.dimension">dimension: {{col.dimension}}</span>
              <span *ngIf="col.cardinality">cardinality: {{col.cardinality}}</span>
            </td>
            <td>{{col.defaultValue}}</td>
            <td class="delete">
              <app-delete-confirm (delete)="dropColumn(col)"></app-delete-confirm>
            </td>
          </ng-container>
        </tr>

        <tr>
          <td class="pk"></td>
          <td>
            <input type="text" class="form-control form-control-sm" name="columnName" placeholder="column name" [(ngModel)]="createColumn.name" [ngClass]="columnValidation(createColumn.name)">
          </td>
          <td>
            <input type="checkbox" class="" [(ngModel)]="createColumn.nullable" [checked]="createColumn.nullable" (change)="changeNullable(createColumn)">
          </td>
          <td>
            <select class="form-control form-control-sm" [(ngModel)]="createColumn.dataType" (change)="onTypeChange2( createColumn )">
              <option *ngFor="let t of types" [value]="t.name">{{t.name}}</option>
            </select>
            <!--<input class="form-control form-control-sm" placeholder="type"
                   [typeahead]="types"
                   [dropup]="true"
                   [typeaheadScrollable]="true"
                   [typeaheadOptionsInScrollableView]="5"
                   [(ngModel)]="test"
                   [ngModelOptions]="{standalone: true}">-->
          </td>
          <td>
            <select class="form-control form-control-sm" [(ngModel)]="createColumn.collectionsType">
              <option value="">none</option>
              <option value="ARRAY">ARRAY</option>
            </select>
          </td>
          <td>
            <!-- precision -->
            <div class="input-group input-group-sm mt-1" *ngIf="_types.supportsPrecision(createColumn.dataType)">
              <div class="input-group-prepend">
                <label for="createPrecision" class="input-group-text">{{_types.precisionPlaceholder(createColumn.dataType)}}</label>
              </div>
              <input type="number" [placeholder]="_types.precisionPlaceholder(createColumn.dataType)" class="form-control form-control-sm" id="createPrecision" [(ngModel)]="createColumn.precision">
            </div>
            <!-- scale -->
            <div class="input-group input-group-sm mt-1" *ngIf="_types.supportsScale(createColumn.dataType)">
              <div class="input-group-prepend">
                <label for="createScale" class="input-group-text">scale</label>
              </div>
              <input type="number" placeholder="scale" class="form-control form-control-sm" id="createScale" [(ngModel)]="createColumn.scale">
            </div>

            <!-- dimension -->
            <div class="input-group input-group-sm mt-1" *ngIf="createColumn.collectionsType === 'ARRAY'">
              <div class="input-group-prepend">
                <label for="createDim" class="input-group-text">dimension</label>
              </div>
              <input id="newDim" type="number" placeholder="dimension" class="form-control form-control-sm" id="createDim" [(ngModel)]="createColumn.dimension">
            </div>

            <!-- cardinality -->
            <div class="input-group input-group-sm mt-1" *ngIf="createColumn.collectionsType === 'ARRAY'">
              <div class="input-group-prepend">
                <label for="createCard" class="input-group-text">cardinality</label>
              </div>
              <input id="createCard" type="number" placeholder="dimension" class="form-control form-control-sm" [(ngModel)]="createColumn.cardinality">
            </div>

          </td>
          <td>
            <div class="input-group">
              <ng-container [ngSwitch]="createColumn.dataType.toLowerCase()">
                <input *ngSwitchCase="_types.numericTypes().includes( createColumn.dataType.toLowerCase() ) && createColumn.collectionsType !== 'ARRAY' ? createColumn.dataType.toLowerCase() : ''" type="number" inputmode="decimal" placeholder="default value" class="form-control form-control-sm" [(ngModel)]="createColumn.defaultValue" [disabled]="createColumn.defaultValue === null" [ngClass]="validate(createColumn.defaultValue)">
                <ng-container *ngSwitchCase="_types.booleanTypes().includes( createColumn.dataType.toLowerCase() ) ? createColumn.dataType.toLowerCase() : ''">
                  <div class="form-check form-check-inline">
                    <label *ngIf="createColumn.defaultValue === null" class="form-check-label disabled" [for]="'default'+createColumn.name">null&nbsp;</label>
                    <label *ngIf="createColumn.defaultValue === true" class="form-check-label" [for]="'default'+createColumn.name">true&nbsp;</label>
                    <label *ngIf="createColumn.defaultValue === false" class="form-check-label" [for]="'default'+createColumn.name">false&nbsp;</label>
                    <input type="checkbox" class="form-check-input" [(ngModel)]="createColumn.defaultValue" [id]="'default'+createColumn.name" [disabled]="createColumn.defaultValue === null">
                  </div>
                </ng-container>
                <input *ngSwitchDefault type="text" placeholder="default value" class="form-control form-control-sm" [(ngModel)]="createColumn.defaultValue" [disabled]="createColumn.defaultValue === null">
              </ng-container>
              <div class="input-group-append">
                <button class="btn btn-sm" [ngClass]="{'btn-primary': createColumn.defaultValue ===null, 'btn-light': createColumn.defaultValue !== null}" (click)="triggerDefaultNull( createColumn )">null</button>
              </div>
            </div>
          </td>
          <td>
            <a [routerLink]="" class="btn btn-primary" id="addColumnBtn" (click)="addColumn()">+</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-lg-12" *ngIf="resultSet">
    <hr>
    <h5>Constraints</h5>
    <div class="row">
      <div class="col-6">
        <div class="card" style="min-height: 153px">
          <div class="card-header">
            <span>Update primary key</span>
          </div>
          <div class="card-body">
            <div class="constraint-columns">
              <div class="form-check form-check-inline" *ngFor="let c of newPrimaryKey; let j = index">
                <input type="checkbox" class="form-check-input" [id]="'pkcol'+j" [(ngModel)]="c.primary">
                <label class="form-check-label" [for]="'pkcol'+j">{{c.name}}</label>
              </div>
              <button class="btn btn-sm btn-primary add-constraint" (click)="updatePrimaryKey()">update</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" style="min-height: 153px">
          <div class="card-header">
            <span>Add unique constraint</span>
          </div>
          <div class="card-body">
            <div class="form-inline mb-2">
              <div class="form-group">
                <label for="uniqueName">Constraint name</label>
                <input id="uniqueName" type="text" class="form-control form-control-sm"
                       [placeholder]="proposedConstraintName" [(ngModel)]="uniqueConstraintName"
                       [ngClass]="_crud.getValidationClass(uniqueConstraintName)">
              </div>
            </div>
            <div class="constraint-columns">
              <div class="form-check form-check-inline" *ngFor="let c of resultSet.header; let j = index">
                <input type="checkbox" class="form-check-input" [id]="'uqcol'+j" [(ngModel)]="c.unique">
                <label class="form-check-label" [for]="'uqcol'+j">{{c.name}}</label>
              </div>
              <button class="btn btn-sm btn-primary add-constraint" (click)="addUniqueConstraint()">add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover table-striped" *ngIf="constraints && constraints.data.length > 0">
      <thead>
        <tr>
          <th *ngFor="let h of constraints.header">{{h.name}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d1 of constraints.data; let i = index">
          <td *ngFor="let d2 of d1">{{d2}}</td>
          <td class="delete">
            <app-delete-confirm *ngIf="d1[1] !== 'PRIMARY KEY'" (delete)="dropConstraint(d1[0], d1[1])"></app-delete-confirm>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="col-lg-12">
        <hr>
        <h5>Indexes</h5>
        <div class="card">
            <div class="card-header">
                <span>Add index</span>
            </div>
          <div class="card-body">
            <form [formGroup]="newIndexForm" (submit)="addIndex()">
              <div class="form-inline mb-2">
                <div class="form-group">
                  <label for="indexName">Name </label>
                  <input id="indexName" type="text" autocomplete="off" class="form-control form-control-sm"
                         [placeholder]="proposedIndexName" name="name" required formControlName="name"
                         [ngClass]="inputValidation('name')">
                  <div class="invalid-feedback">invalid name</div>
                </div>
                <div class="form-group" *ngIf="availableStoresForIndexes && availableStoresForIndexes.length > 0">
                  <label for="storeName">Location</label>
                  <select name="storeName" id="storeName" class="form-control form-control-sm" [ngModel]="selectedStoreForIndex" (ngModelChange)="onSelectingIndexStore($event)" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let store of availableStoresForIndexes" [ngValue]="store">{{store.uniqueName}}</option>
                  </select>
                </div>
                <div class="form-group" *ngIf="selectedStoreForIndex != null">
                  <label for="indexMethod">Method</label>
                  <select id="indexMethod" class="form-control form-control-sm" formControlName="method">
                    <option *ngFor="let m of selectedStoreForIndex.availableIndexMethods" [value]="m.name">{{m.displayName}}</option>
                  </select>
                </div>
              </div>
              <div class="constraint-columns">
                <div class="form-check form-check-inline" *ngFor="let c of newIndexCols | keyvalue; let j=index">
                  <input type="checkbox" class="form-check-input" [id]="'indexCol'+j" [(ngModel)]="newIndexCols[c.key]" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label" [for]="'indexCol'+j">{{c.key}}</label>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" [ngClass]="{'progress-bar-striped progress-bar-animated': addingIndex}" [disabled]="addingIndex || !availableStoresForIndexes || availableStoresForIndexes.length == 0">create</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table table-hover table-striped" *ngIf="indexes && indexes.data.length > 0">
            <thead>
                <tr>
                    <th *ngFor="let h of indexes.header">{{h.name}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d1 of indexes.data; let i = index">
                    <td *ngFor="let d2 of d1">{{d2}}</td>
                    <td class="delete">
                      <app-delete-confirm *ngIf="d1[4] != 'FUNCTIONAL'" (delete)="dropIndex(d1[0])"></app-delete-confirm>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  <div class="col-lg-12" *ngIf="dataPlacements">
    <hr>
    <div class="mb-3" style="position: relative">
      <h5 style="display: inline">Data placements</h5>
      <div class="btn-group btn-group-sm" id="placementBtnGroup" *ngIf="getAddableStores() && getAddableStores().length > 0">
        <div class="btn-group btn-group-sm" dropdown placement="top right" [dropup]="stores && stores.length>3">
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            <span *ngIf="!selectedStore">Select store</span>
            <span *ngIf="selectedStore">{{selectedStore.uniqueName}}</span>
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <ng-container *ngFor="let store of getAddableStores()">
              <li role="menuitem"><a class="dropdown-item" [routerLink]="[]" (click)="selectedStore = store">{{store.uniqueName}}</a></li>
            </ng-container>
            <li *ngIf="getAddableStores().length === 0" role="menuitem"><a class="dropdown-item disabled" [routerLink]="[]">no stores available</a></li>
          </ul>
        </div>
        <button class="btn btn-primary btn-sm" (click)="initPlacementModal('ADD')">add</button>
      </div>
    </div>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Store</th>
        <th>Adapter</th>
        <th>Columns</th>
        <th>Partitions</th><!-- *ngIf="isPartitioned()" -->
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let store of dataPlacements.stores; let i = index">
        <td>{{store.uniqueName}}</td>
        <td>{{store.adapterName}}</td>
        <td>
          <ng-container *ngFor="let p of store.columnPlacements; let isLast = last">
            <span [ngClass]="{'font-weight-bold':p.placementType === 'MANUAL'}">{{p.columnName}}</span>{{isLast ? '' : ', '}}
          </ng-container>
          <span class="cui-pencil ml-2 btn btn-sm modify-placement-btn" (click)="initPlacementModal('MODIFY', store, store.columnPlacements)"></span>
        </td>
        <td><!-- *ngIf="isPartitioned()" -->
          <span *ngIf="!store.partitionKeys || store.partitionKeys.length === 0" class="font-italic">none</span>
          <ng-container *ngFor="let pKey of store.partitionKeys; let isLast = last">
            <span>{{dataPlacements.partitionNames[pKey]}}</span>{{isLast ? '' : ', '}}
          </ng-container>
          <span class="cui-pencil ml-2 btn btn-sm modify-placement-btn" (click)="initPartitioningModal( store )"></span>
        </td>
        <!-- show delete icon only if there is more than one placement (deleting a single placement is not possible) --->
        <ng-container *ngIf="dataPlacements.stores.length > 1">
          <td class="delete">
            <app-delete-confirm (delete)="dropPlacement(store.uniqueName)"></app-delete-confirm>
          </td>
        </ng-container>
        <!-- don't show delete icon if there is only one placement --->
        <ng-container *ngIf="dataPlacements.stores.length < 2">
          <td></td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <div class="mb-3" style="display: flex; justify-content: space-between;" *ngIf="isPartitioned()">
      <span>PartitionType: {{dataPlacements.stores[0].partitionType}}</span>
      <button class="btn btn-warning btn-sm" (click)="mergePartitions()">
        merge partitions
        <span *ngIf="isMergingPartitions" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>

    <div class="card" *ngIf="!isPartitioned()">
      <div class="card-header">Horizontal partitioning</div>
      <div class="card-body">
        <p>This table is not yet horizontally partitioned.</p>
        <div class="form-inline mb-3">
          <div class="form-group">
            <label for="partitionMethod">Method</label>
            <select id="partitionMethod" class="form-control form-control-sm" [(ngModel)]="partitioningRequest.method">
              <option *ngFor="let type of partitionTypes" [value]="type">{{type}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="numPartitions">Number of partitions </label>
            <input id="numPartitions" type="number" autocomplete="off" class="form-control form-control-sm"
                   name="numPartitions" required [(ngModel)]="partitioningRequest.numPartitions">
            <!--<div class="invalid-feedback">invalid name</div>-->
          </div>
          <div class="form-group" *ngIf="resultSet">
            <label for="partitionCol">Column</label>
            <select name="partitionCol" id="partitionCol" class="form-control form-control-sm" [(ngModel)]="partitioningRequest.column">
              <option *ngFor="let col of resultSet.header" [value]="col.name">{{col.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-sm" (click)="getPartitionFunctionModel()">partition</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="!isSource()" bsModal #placementModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (onHidden)="clearPlacementModal()">
  <form [formGroup]="columnPlacement" *ngIf="columnPlacement">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Column placements</h4>
          <button type="button" class="close" (click)="placementModal.hide()" aria-label="Close" [disabled]="isAddingPlacement">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="columnPlacement && selectedStore">
          Store: {{selectedStore.uniqueName}}
          <p>Select the columns that you want to be part of the placement.</p>
          <div class="form-group">
            <a [routerLink]="[]" class="text-muted" (click)="selectAllColumns(true)">select all</a> - <a [routerLink]="[]" class="text-muted" (click)="selectAllColumns(false)">deselect all</a>
          </div>
          <div class="form-group">
            <div *ngFor="let col of getColumnArray()" class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" [id]="'colPlacement'+col" [formControlName]="col">
              <label [for]="'colPlacement'+col" class="form-check-label">{{col}}</label>
            </div>
          </div>

        </div>
        <div class="modal-footer" style="position: relative">
          <div class="progress-wrapper" *ngIf="isAddingPlacement">
            <progressbar type="info" [value]="0" [max]="100" class="progress progress-bar progress-bar-striped progress-bar-animated"></progressbar>
          </div>
          <button type="button" class="btn btn-secondary float-left" (click)="placementModal.hide()" [disabled]="isAddingPlacement">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addPlacement()" [disabled]="isAddingPlacement">{{titleCase(placementMethod)}} placement</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div>

<div *ngIf="!isSource()" bsModal #partitioningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (onHidden)="clearPartitioningModal()">
  <!--<form [formGroup]="columnPlacement" *ngIf="columnPlacement">-->
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedStore && partitionsToModify">
        <div class="modal-header">
          <h4 class="modal-title">Modify partitions</h4>
          <button type="button" class="close" (click)="partitioningModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Store: {{selectedStore.uniqueName}}
          <p>Select the partitions that you want to be part of the new partitioning.</p>
          <div class="form-group">
            <a [routerLink]="[]" class="text-muted" (click)="selectAllPartitions(true)">select all</a> - <a [routerLink]="[]" class="text-muted" (click)="selectAllPartitions(false)">deselect all</a>
          </div>
          <div class="form-group mb-0">
            <div class="form-check form-check-inline" *ngFor="let p of partitionsToModify | keyvalue">
              <input type="checkbox" class="form-check-input" [id]="'partitionKey'+p.key" [(ngModel)]="partitionsToModify[p.key].selected">
              <label [for]="'partitionKey'+p.key" class="form-check-label">{{partitionsToModify[p.key].partitionName}}</label>
            </div>
          </div>
          <span class="text-danger" *ngIf="!validatePartitionModification()">Please select at least one partition</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" (click)="partitioningModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="modifyPartitioning()" [disabled]="!validatePartitionModification()">Modify</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  <!--</form>-->
</div>

<div bsModal #partitionFunctionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="partitionFunctionParams">
      <div class="modal-header">
        <h4>{{partitionFunctionParams.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{partitionFunctionParams.description}}</p>
        <table class="table table-hover table-striped table-bordered" id="partitionParamsTable">
          <tr>
            <th *ngFor="let colName of partitionFunctionParams.columnNames">{{colName}}</th>
          </tr>
          <tr *ngFor="let col of partitionFunctionParams.rows">
            <td *ngFor="let row of col as PartitionFunctionColumn">
              <div class="partition-param-wrapper">
                <ng-container [ngSwitch]="row.type">
                  <span *ngSwitchCase="fieldTypes.LABEL">{{row.value}}</span>
                  <select *ngSwitchCase="fieldTypes.LIST" [(ngModel)]="row.value" class="form-control form-control-sm" [disabled]="!row.modifiable" [ngClass]="{'is-invalid': row.mandatory && !row.value}">
                    <option *ngFor="let option of row.options" [value]="option">{{option}}</option>
                  </select>
                  <input *ngSwitchCase="fieldTypes.INTEGER" type="number" [(ngModel)]="row.value" class="form-control form-control-sm" [disabled]="!row.modifiable" [ngClass]="{'is-invalid': row.mandatory && !row.value && row.value !== 0}">
                  <input *ngSwitchDefault type="text" [(ngModel)]="row.value" class="form-control form-control-sm" [disabled]="!row.modifiable" [ngClass]="{'is-invalid': row.mandatory && !row.value}">
                </ng-container>
                <span class="invalid-partition-param" *ngIf="row.mandatory && !row.value && row.value !== 0">required</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" (click)="partitionFunctionModal.hide()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="partitionTable()" [disabled]="">Partition</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
