#addColumnBtn{
  border-radius: 100%;
  line-height: 1.25rem;
}
h5{
  margin-bottom: 1em;
}
.delete i {
  visibility: hidden;
  color: #dc3545;
  float: right;
  margin-right: 1em;
  cursor: pointer;
}
tr:hover .delete i{
  visibility: visible;
}
.add-constraint {
  display: inline-flex;
  margin-top: -0.4em;
}
.constraint-columns{
  line-height: 2em;
}
.constraint-title{
  display: inline-flex;
  margin-bottom: 0.5em;
}
.form-inline .form-control, .form-inline label{
  margin-right: 1em;
}
.form-group{
  position: relative;
}
.invalid-feedback{
  position: absolute;
  bottom: -1.5em;
}
table tr td.pk {
  width: 1em;
  text-align: center;
}
#dbColumnTable tr td {
  vertical-align: middle;
}
#dbColumnTable td span {
  display: block;
}

.dropdown-item {
  padding: 5px 20px;
}
#placementBtnGroup {
  position: absolute;
  right: 0;
  top: 0;
}
.modify-placement-btn {
  visibility: hidden;
}
table tr td:hover .modify-placement-btn {
  visibility: visible;
}
