<div>
    <c-input-group>
        <label cInputGroupText for="layerVisualizationSelect">
            Mode
        </label>
        <select [(ngModel)]="config.selectedMode"
                (ngModelChange)="configChanged()"
                cSelect
                id="layerVisualizationSelect">
            <option
                *ngFor="let mode of config.modes"
                [ngValue]="mode">{{ mode }}
            </option>
        </select>
    </c-input-group>

    <c-input-group *ngIf="config.selectedMode == 'Static'">
        <span cInputGroupText>Color</span>
        <input aria-label="Color"
               cFormControl
               placeholder="Color"
               [(ngModel)]="config.color"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>

    <c-input-group *ngIf="config.layer.containsAreas" >
        <span cInputGroupText>Opacity (Area)</span>
        <input aria-label="Fill Opacity"
               cFormControl
               placeholder="0.25"
               [min]="0"
               [max]="1"
               [(ngModel)]="config.fillOpacity"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>

    <c-input-group *ngIf="config.selectedMode == 'Gradient'">
        <span cInputGroupText>Variable</span>
        <input aria-label="Variable"
               cFormControl
               placeholder="Variable"
               [(ngModel)]="config.fieldName"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>

<!--    TODO: This does not work... -->
<!--    <c-form-check *ngIf="config.selectedMode == 'Gradient' && config.layer.containsAreas">-->
<!--        <input cFormCheckInput [(ngModel)]="config.normalizeByArea" (ngModelChange)="configChanged()" id="normalize"-->
<!--               type="checkbox"/>-->
<!--        <label cFormCheckLabel for="normalize">Normalize value by area</label>-->
<!--    </c-form-check>-->

</div>
