<ng-container *ngIf="data">
  <div class="row" *ngIf="data.name || data.description">
    <div class="col-md-12">
      <h1 *ngIf="data.name">{{data.name}}</h1>
      <p *ngIf="data.description">{{data.description}}</p>
    </div>
  </div>
  <div class="card-columns" [ngStyle]="{'column-count': _breadcrumb.getMasonryZoom()}">
    <div *ngFor="let item of data.groups | keyvalue : order" [className]="_breadcrumb.getCardClass()">
      <div [className]="getCardClass(item.value.color)">
        <div class="card-header">{{item.value.id}}</div>
        <ng-container *ngFor="let li of item.value.informationObjects | keyvalue : order">
          <app-render-item [li]="li.value"></app-render-item>

        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="pageNotFound">
  <p class="text-danger">Page with id "{{routerId}}" does not exist or could not be loaded.</p>
</ng-container>
<ng-container *ngIf="!data && pageList">
  Choose a page to display information:<br><br>
  <button *ngFor="let page of pageList | keyvalue" class="btn btn-light pageLink" [routerLink]="'/home/monitoring/'+page.value.id">{{page.value.name}}</button>
</ng-container>
<ng-container *ngIf="serverError">
  <p class="text-danger">
    Server not responding:<br>
    {{serverError.name}}: {{serverError.message}}
  </p>
</ng-container>
