.collapse-trigger{
  cursor: pointer;
  color: #20a8d8 !important;
}

.card .card-body, .card .card-header, .card .card-footer{
  padding: .75rem 1.25rem;
}
//.card .card-body:not(:last-child), .card app-render-item:not(:last-child), app-render-item{
.card app-render-item:not(:last-child), .collapse-trigger:not(.is-collapsed){
  border-bottom: 1px solid;
  border-color: inherit;
  display: block;
}

.card-header{
  border: none;//border schon vom app-render-item
}
.card-header .btnWrapper{
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
}
.card-body p{
  margin: 0;
}

.pageLink {
  margin-right: 1rem;
}
