#showHistory {
  /*position: absolute;
  top: 1rem;
  right: 1rem;*/
}

#loginDropdown {
  left: auto;
  right: 0;
  max-height: 20rem;
  overflow: scroll;
}

.dropdown-item i {
  visibility: hidden;
  color: black;
  //margin-right: 0.5rem;
  position: absolute;
  left: 0.7rem;
  bottom: 0.9rem;
}

.dropdown-item:hover i {
  visibility: visible;
}

.dropdown-item:hover i:hover {
  color: #f0f3f5 !important;
  padding: 0.2rem;
  background-color: #f86c6b;
  border-radius: 0.25rem;
  bottom: 0.6rem;
}
