<c-toast></c-toast>
<c-row class="row">

    <c-col class="col-lg-12">

        <h5 *ngIf="graphId">{{graphId}}</h5>
        <span *ngIf="!graphId">Please select a graph in the left sidebar to edit its columns.</span>

        <p *ngIf="resultSet">Double click on a fixed field in the collection below to edit the fixed field.</p>
    </c-col>


    <c-col class="col-lg-12" *ngIf="dataPlacements">
        <hr>
        <div class="mb-3" style="position: relative">
            <h5 style="display: inline">Data Placements</h5>
            <div class="btn-group btn-group-sm" id="placementBtnGroup"
                 *ngIf="getAddableStores() && getAddableStores().length > 0">
                <div class="btn-group btn-group-sm" dropdown placement="top right" [dropup]="stores && stores.length>3">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        <span *ngIf="!selectedStore">Select store</span>
                        <span *ngIf="selectedStore">{{selectedStore.uniqueName}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <ng-container *ngFor="let store of getAddableStores()">
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="[]"
                                                   (click)="selectedStore = store">{{store.uniqueName}}</a></li>
                        </ng-container>
                        <li *ngIf="getAddableStores().length === 0" role="menuitem"><a class="dropdown-item disabled"
                                                                                       [routerLink]="[]">no stores
                            available</a></li>
                    </ul>
                </div>
                <button class="btn btn-primary btn-sm" (click)="modifyPlacement('ADD')">add</button>
            </div>
            <progressbar *ngIf="isAddingPlacement"
                         class="progress progress-bar progress-bar-striped progress-bar-animated mt-2" [value]="0"
                         [max]="1"></progressbar>
        </div>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Store</th>
                <th>Adapter</th>
                <th>Native</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of dataPlacements.stores; let i = index">
                <td>{{store.uniqueName}}</td>
                <td>{{store.adapterName}}</td>
                <td>{{ store.isNative ? '✔' : '❌'}}</td>
                <!-- show delete icon only if there is more than one placement (deleting a single placement is not possible) --->
                <ng-container *ngIf="dataPlacements.stores.length > 1">
                    <td class="delete">
                        <app-delete-confirm (delete)="modifyPlacement('DROP', store )"></app-delete-confirm>
                    </td>
                </ng-container>
                <!-- don't show delete icon if there is only one placement --->
                <ng-container *ngIf="dataPlacements.stores.length < 2">
                    <td></td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </c-col>

</c-row>
