<c-row>

    <c-col class="col-lg-12">

        <div class="d-flex align-items-center">
            <h1 class="flex-grow-1">{{ entity()?.name }}</h1>

            <div>
                <button cButton color="light" (click)="openDataView()">Show Data</button>
            </div>
        </div>
        <br/>
        <span *ngIf="!entity()">Please select a graph in the left sidebar to edit its columns.</span>
    </c-col>


    <c-col *ngIf="placements()">
        <div class="mb-3" style="position: relative">
            <h5 style="display: inline">Placements</h5>
            <div class="btn-group btn-group-sm" id="placementBtnGroup"
                 *ngIf="addableStores()?.length > 0">
                <div class="btn-group btn-group-sm" dropdown placement="top right" [dropup]="stores().length > 3">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        <span *ngIf="!selectedStore">Select store</span>
                        <span *ngIf="selectedStore">{{ selectedStore.name }}</span>
                        <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <ng-container *ngFor="let store of addableStores()">
                            <li role="menuitem">
                                <a class="dropdown-item" [routerLink]="[]"
                                   (click)="selectedStore = store">{{ store.name }}</a>
                            </li>
                        </ng-container>
                        <li *ngIf="addableStores()?.length === 0" role="menuitem">
                            <a class="dropdown-item disabled" [routerLink]="[]">no stores available</a>
                        </li>
                    </ul>
                </div>
                <button cButton size="sm" color="primary" (click)="modifyPlacement(Method.ADD)">add</button>
            </div>
            <c-progress class="mt-3" *ngIf="isAddingPlacement">
                <c-progress-bar [animated]="true" variant="striped"
                                class="progress progress-bar mt-2" [value]="0"
                                [max]="1"></c-progress-bar>
            </c-progress>
        </div>
        <table cTable hover="true" striped="true">
            <thead>
            <tr>
                <th>Store</th>
                <th>Adapter</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let placement of placements() ; let i = index">
                <td>{{ _catalog.getAdapter( placement.adapterId )?.name }}</td>
                <td>{{ _catalog.getAdapter( placement.adapterId )?.adapterName }}</td>
                <!-- show delete icon only if there is more than one placement (deleting a single placement is not possible) --->
                <ng-container *ngIf="placements()?.length > 1">
                    <td class="delete">
                        <app-delete-confirm (delete)="modifyPlacement(Method.DROP, placement )"></app-delete-confirm>
                    </td>
                </ng-container>
                <!-- don't show delete icon if there is only one placement --->
                <ng-container *ngIf="placements()?.length < 2">
                    <td></td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </c-col>

</c-row>
