<c-container>

    <div [hidden]="showingAnalysis">
        <div class="mb-1">
            <button cButton color="primary" class="me-3"
                    (click)="toggleHelpModal()">
                <span class="fa fa-lightbulb-o fa-lg"></span>
            </button>
            <button cButton color="light" class="me-1"
                    (click)="togglePlanTypeModal()">
                {{planType ? ' Plan Type: ' + planType : 'Select Plan Type'}}
            </button>

        </div>

        <app-alg-viewer #algViewer [polyAlg]="polyAlg" [planType]="planType" [isReadOnly]="false"
                        (execute)="executePolyAlg($event)" *ngIf="planType"
        ></app-alg-viewer>
    </div>


    <app-information-manager
            *ngIf="queryAnalysis"
            [data]="queryAnalysis"
            [hidden]="!showingAnalysis"></app-information-manager>
</c-container>

<c-container>
    <c-card class="my-3" *ngIf="result() && !showingAnalysis " id="alg-result">
        <c-card-header>
            <span>{{ result().query }}</span>
            <span class="badge pull-right" *ngIf="result().error"
                  [ngClass]="{'badge-secondary': !result().error, 'badge-danger': result().error}">
            <ng-container *ngIf="result().error">!</ng-container>
            </span>
        </c-card-header>

        <c-card-body>
            <div class="text-danger" *ngIf="result() && result().error">
                <strong>Error:</strong>
                <p class="mb-3">{{ result().error }}</p>
            </div>

            <div class="query-info">
                <p *ngIf="result() && !result().data && !result().error" class="mb-3">
                    <i>Successfully executed</i>
                </p>
            </div>

            <c-row *ngIf="result() && result().data" [hidden]="showingAnalysis">
                <c-col lg="lg">
                    <app-data-view [result]="result()"
                                   [config]="{create: false, update: false, delete: false, sort: false, search: false, exploring: true}"
                                   [loading]="loading()"></app-data-view>
                </c-col>
            </c-row>
        </c-card-body>

    </c-card>
</c-container>

<c-modal [visible]="showPlanTypeModal()" (visibleChange)="handlePlanTypeModalChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Choose a Plan Type</h5>
        <button (click)="togglePlanTypeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <p>
            {{planType ? 'Warning: Changing the plan type will create a completely new plan!' : 'Please select the type of plan you want to create:'}}
        </p>
        <c-input-group sizing="sm">
            <select cSelect id="planTypeSelect" [(ngModel)]="selectedPlanType">
                <option value="LOGICAL">Logical Plan</option>
                <option value="ALLOCATION">Allocation Plan</option>
                <option value="PHYSICAL">Physical Plan</option>
            </select>
        </c-input-group>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="togglePlanTypeModal()" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary" (click)="choosePlanType()">Create Plan</button>
    </c-modal-footer>
</c-modal>

<c-modal [visible]="showHelpModal()" (visibleChange)="handleHelpModalChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Choose a Plan Type</h5>
        <button (click)="toggleHelpModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        The PolyPlan Builder can be used to create or edit plans using either
        <ul>
            <li>the PolyAlgebra Editor</li>
            <li>or the Node Editor.</li>
        </ul>


    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleHelpModal()" cButton color="secondary"> Close</button>
    </c-modal-footer>
</c-modal>