<div class="text-center" *ngIf="!result() || !result().data || result().data.length == 0">
    <span class="text-danger">(no data to show)</span>
</div>

<div class="card-wrapper">
    <div class="wrapper d-flex justify-content-center graph-wrapper">
        <div id="chart-area"></div>
        <div *ngIf="showProperties" class="graph-properties">
            <c-card class="card text-center h-100">
                <c-card-header>
                    {{detail.id}}
                </c-card-header>
                <c-card-body>
                    <span *ngFor="let label of detail.labels" class="badge badge-pill"
                          [style]="{ 'background-color': getLabelColor(label) }">{{label}}</span>
                    <div class="my-2"></div>
                    <div *ngFor="let entry of detail.properties | keyvalue">
                        <p><strong>{{entry.key}}: </strong>{{entry.value}}</p>
                    </div>
                </c-card-body>
                <c-card-footer class="text-muted">
                    <button cButton color="primary" (click)="showProperties = false"><span
                            class="cil-arrow-thick-from-left"></span></button>
                </c-card-footer>
            </c-card>
        </div>
        <div class="graph-bottom d-flex justify-content-start ps-1 pb-1">
            <button cButton color="primary" (click)="center()"><span class="cil-center-focus pe-1"></span>
                Refocus
            </button>
            <button cButton color="primary" class="ms-1" (click)="reset()"><span class="cil-reload pe-1"></span>
                Reset
            </button>
        </div>
        <div class="graph-loader" *ngIf="graphLoading">
            <div class="spinner-border text-primary"></div>
        </div>
    </div>

    <c-card *ngIf="entityConfig().create && showInsertCard">
        <c-card-header class="card-header">
            Insert data
        </c-card-header>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let h of result().header">
                <app-input *ngIf="result()?.namespaceType === NamespaceType.RELATIONAL || h.name === '_id'" [header]="h"
                           [showLabel]="true" [value]="insertValues.get(h.name)"
                           (valueChange)="inputChange(h.name, $event)"
                           (enter)="insertTuple()"></app-input>
                <app-json-editor (validChange)="setJsonValid($event)"
                                 *ngIf="result()?.namespaceType === NamespaceType.DOCUMENT && h.name !== '_id'"
                                 [empty]="true"
                                 [json]="insertValues.get(h.name)"
                                 (valueChange)="inputChange(h.name, $event)"></app-json-editor>
            </li>
            <li class="list-group-item">
                <progressbar
                        *ngIf="editing === -1 && uploadProgress > -1 && uploadProgress !== 100 && uploadProgress !== 0"
                        [animate]="true" [value]="uploadProgress === 0 ? 100 : uploadProgress" [striped]="false"
                        type="primary"></progressbar>
                <progressbar
                        *ngIf="editing === -1 && uploadProgress > -1 && (uploadProgress === 100 || uploadProgress === 0)"
                        [animate]="true" [value]="100" [striped]="true" type="primary"></progressbar>
                <button cButton size="sm" color="light" *ngIf="uploadProgress === -1 || editing !== -1"
                        (click)="showInsertCard = false">cancel
                </button>
                <button cButton color="primary" size="sm" *ngIf="uploadProgress === -1 || editing !== -1" class="float-right"
                        [disabled]="result()?.namespaceType === NamespaceType.DOCUMENT && !jsonValid"
                        (click)="insertTuple()">
                    save
                </button>
            </li>
        </ul>
    </c-card>

</div>

<c-row class="row" *ngIf="result()">
    <c-col class="col-lg-12">
        <nav aria-label="Page navigation" class="float-right" *ngIf="result().highestPage > 1">
            <c-pagination>
                <li cPageItem *ngFor="let p of pagination" [active]="p.active" [disabled]="p.disabled">
                    <a cPageLink (click)="paginate(p)" [routerLink]="[]">{{ p.label }}</a>
                </li>
            </c-pagination>
        </nav>
    </c-col>
</c-row>
