.uml{
  border: 1px grey solid;
  margin: 20px;
  width: fit-content;
  position: relative;
  float: left;
  background: #e4e5e6;
  *{
    padding: 0.2em;
  }
  .tableName{
    font-weight: bold;
    background: #494949;
    color: white;
    cursor: move;
  }
  .cols{
    border-bottom: 1px grey solid;
  }
  .cols:hover{
    background: darken(#e4e5e6, 10%);
    cursor: pointer;
  }

  .methods{
    border-bottom: 1px grey solid;
  }
}

.uml.ui-draggable-dragging{
  z-index: 10;
}

svg{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;

  stroke: black;
  stroke-width:1;

  line{
    z-index: 2;
  }
  line:hover{
    cursor: pointer;
  }
}
