@if (schemaType.toLowerCase() === 'document') {
    <span><i>Document schemas do not support the UML builder.</i></span>
}
@if (schemaType.toLowerCase() === 'graph') {
    <span><i>Graph schemas do not support the UML builder.</i></span>
}

@if (schemaType.toLowerCase() !== 'graph' && schemaType.toLowerCase() !== 'document') {
    <c-row class="row">
        <c-col class="col-lg-12">
            @if (schema) {
                <h5>{{ schema }}</h5>
            }
            @if (uml) {
                <p>Drag a connection from a column to a <span class="badge" id="badge-pk">primary key</span> or
                    <span class="badge" id="badge-unique">unique column</span> to create a new foreign key.</p>
            }
            @if (!schema) {
                <span>Please select a namespace in the left sidebar. Namespaces of type document and graph, as well as entities originating from a data source, are not supported.</span>
            }
        </c-col>
        @if (uml) {
            <c-col id="drag-container" class="col-lg-12">
                @for (table of uml.tables | value; track $index) {
                    <div class="card uml" [id]="table.schema+'_'+table.tableName"
                         [attr.tableName]="table.schema+'.'+table.tableName" cdkDragBoundary="#drag-container" cdkDrag
                         (cdkDragEnded)="updateZIndex($event)" (cdkDragStarted)="onDragging($event)">
                        <div class="card-header tableName" cdkDragHandle>{{ table.tableName }}</div>
                        <div class="list-group list-group-flush">
                            @for (col of $any( table.columns ); track $index) {
                                <div class="list-group-item cols"
                                     [id]="table.schema+'_'+table.tableName+'_'+col.name"
                                     [attr.colName]="col.name"
                                     [ngClass]="getColumnClass( table, col )"
                                >{{ col.name }}
                                </div>
                            }
                        </div>
                    </div>
                }
                <!-- SVGS: see https://stackoverflow.com/questions/19382872/how-to-connect-html-divs-with-lines -->
                <!-- arrowhead: see http://svg.tutorial.aptico.de/start3.php?knr=10&kname=Pfade&uknr=10.9&ukname=Pfeilspitzen%20-%20das%20marker-Element -->
                <svg width="100%" height="100%">
                    <marker id="arrowhead"
                            viewBox="0 0 10 10" refX="0" refY="5"
                            markerUnits="strokeWidth"
                            markerWidth="5" markerHeight="5"
                            orient="auto">
                        <path d="M 0,0 l 10,5 l -10,5 z"/>
                    </marker>
                    @if (temporalLine) {
                        <line [attr.x1]="temporalLine.x1" [attr.y1]="temporalLine.y1"
                              [attr.x2]="temporalLine.x2" [attr.y2]="temporalLine.y2" marker-end="url(#arrowhead)"></line>
                    }
                    @for (conn of connections; track $index) {
                        <line [attr.x1]="getX1(conn.source,conn.target)"
                              [attr.y1]="getY(conn.source)" [attr.x2]="getX2(conn.source, conn.target)"
                              [attr.y2]="getY(conn.target)" marker-end="url(#arrowhead)"></line>
                    }
                </svg>
            </c-col>
        }
        <!-- uncomment if you need to adjust offsets, to see immediate results in the ui -->
        <!--
        <div class="col-lg-12">
          <br>
            offsetLineX1 <input type="number" [(ngModel)]="offsetLineX1">
            <br>
              offsetLineX2 <input type="number" [(ngModel)]="offsetLineX2">
              <br>
                offsetLineY <input type="number" [(ngModel)]="offsetLineY">
                <br>
                  offsetConnLeft1 <input type="number" [(ngModel)]="offsetConnLeft1">
                  <br>
                    offsetConnLeft2 <input type="number" [(ngModel)]="offsetConnLeft2">
                    <br>
                      offsetConnTop <input type="number" [(ngModel)]="offsetConnTop">
                      <br><br><br>
                    </div>
                    -->
    </c-row>
}
@if (errorMsg) {
    <span class="text-danger">{{ errorMsg }}</span>
}


<!--
MODAL
-->
<c-modal #myModal class="fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <c-modal-header>
        <h4 class="modal-title">Create foreign key</h4>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </c-modal-header>
    <c-modal-body>
        <c-row class="row">
            @if (uml) {
                <c-col class="col-lg-12 mb-0">
                    {{ sourceTable }}.{{ sourceCol }}<br>
                    REFERENCES<br>
                    {{ targetTable }}.{{ targetCol }}<br>
                    <hr>
                </c-col>
            }
            <c-col class="col-lg-12 form-inline">
                <div>
                    constraint name<br><input type="text" [(ngModel)]="constraintName"
                                              [placeholder]="proposedConstraintName"
                                              class="form-control form-control-sm"
                                              [ngClass]="_crud.getValidationClass(constraintName)">
                    <div class="invalid-feedback">invalid name</div>
                </div>
            </c-col>
            <form [formGroup]="fkForm">
                <c-col class="col-lg-12">
                    <span>on update&nbsp;</span><br>
                    <div class="btn-group" btnRadioGroup formControlName="update">
                        @for (action of getUpdateDeleteActions(); track $index) {
                            <label [btnRadio]="action"
                                   class="btn btn-light"
                                   role="btn">{{ action }}</label>
                        }
                    </div>
                </c-col>
                <c-col class="col-lg-12">
                    <span>on delete&nbsp;</span><br>
                    <div class="btn-group" btnRadioGroup formControlName="delete">
                        @for (action of getUpdateDeleteActions(); track $index) {
                            <label [btnRadio]="action"
                                   class="btn btn-light"
                                   role="btn">{{ action }}</label>
                        }
                    </div>
                </c-col>
            </form>
        </c-row>

    </c-modal-body>
    <c-modal-footer>
        <button type="button" class="btn btn-secondary float-left" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createForeignKey()">Create foreign key</button>
    </c-modal-footer>
</c-modal>
