<app-toast></app-toast>

<span *ngIf="schemaType.toLowerCase() === 'document'"><i>Document schemas do not support the UML builder.</i></span>
<span *ngIf="schemaType.toLowerCase() === 'graph'"><i>Graph schemas do not support the UML builder.</i></span>

<div class="row" *ngIf="schemaType.toLowerCase() !== 'graph' && schemaType.toLowerCase() !== 'document'">
  <div class="col-lg-12">
    <h5 *ngIf="schema">{{schema}}</h5>
    <p *ngIf="uml">Drag a connection from a column to a <span class="badge" id="badge-pk">primary key</span> or <span class="badge" id="badge-unique">unique column</span> to create a new foreign key.</p>
    <span *ngIf="!schema">Please select a namespace in the left sidebar. Namespaces of type document and graph, as well as entities originating from a data source, are not supported.</span>
  </div>
  <div id="drag-container" class="col-lg-12" *ngIf="uml">
    <div class="card uml" *ngFor="let table of uml.tables | value" [id]="table.schema+'_'+table.tableName" [attr.tableName]="table.schema+'.'+table.tableName" cdkDragBoundary="#drag-container" cdkDrag (cdkDragEnded)="updateZIndex($event)" (cdkDragStarted)="onDragging($event)">
      <div class="card-header tableName" cdkDragHandle>{{table.tableName}}</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item cols"
             *ngFor="let col of table.columns" [id]="table.schema+'_'+table.tableName+'_'+col.name" [attr.colName]="col.name"
             [ngClass]="getColumnClass( table, col )"
        >{{col.name}}</div>
      </div>
    </div>

    <!-- SVGS: see https://stackoverflow.com/questions/19382872/how-to-connect-html-divs-with-lines -->
    <!-- arrowhead: see http://svg.tutorial.aptico.de/start3.php?knr=10&kname=Pfade&uknr=10.9&ukname=Pfeilspitzen%20-%20das%20marker-Element -->
    <svg width="100%" height="100%">
      <marker id="arrowhead"
              viewBox="0 0 10 10" refX="0" refY="5"
              markerUnits="strokeWidth"
              markerWidth="5" markerHeight="5"
              orient="auto">
        <path d="M 0,0 l 10,5 l -10,5 z" />
      </marker>
      <line *ngIf="temporalLine" [attr.x1]="temporalLine.x1" [attr.y1]="temporalLine.y1" [attr.x2]="temporalLine.x2" [attr.y2]="temporalLine.y2" marker-end="url(#arrowhead)"></line>
      <line *ngFor="let conn of connections" [attr.x1]="getX1(conn.source,conn.target)" [attr.y1]="getY(conn.source)" [attr.x2]="getX2(conn.source, conn.target)" [attr.y2]="getY(conn.target)" marker-end="url(#arrowhead)"></line>
    </svg>
  </div>

  <!-- uncomment if you need to adjust offsets, to see immediate results in the ui -->
  <!--
  <div class="col-lg-12">
    <br>
    offsetLineX1 <input type="number" [(ngModel)]="offsetLineX1">
    <br>
    offsetLineX2 <input type="number" [(ngModel)]="offsetLineX2">
    <br>
    offsetLineY <input type="number" [(ngModel)]="offsetLineY">
    <br>
    offsetConnLeft1 <input type="number" [(ngModel)]="offsetConnLeft1">
    <br>
    offsetConnLeft2 <input type="number" [(ngModel)]="offsetConnLeft2">
    <br>
    offsetConnTop <input type="number" [(ngModel)]="offsetConnTop">
    <br><br><br>
  </div>
  -->

</div>
<span *ngIf="errorMsg" class="text-danger">{{errorMsg}}</span>


<!--
  MODAL
-->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create foreign key</h4>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 mb-0" *ngIf="uml">
            {{sourceTable}}.{{sourceCol}}<br>
            REFERENCES<br>
            {{targetTable}}.{{targetCol}}<br>
            <hr>
          </div>
          <div class="col-lg-12 form-inline">
            <div>
              constraint name<br><input type="text" [(ngModel)]="constraintName" [placeholder]="proposedConstraintName"
                                        class="form-control form-control-sm"
                                        [ngClass]="_crud.getValidationClass(constraintName)">
              <div class="invalid-feedback">invalid name</div>
            </div>
          </div>
          <form [formGroup]="fkForm">
            <div class="col-lg-12">
              <span>on update&nbsp;</span><br>
              <div class="btn-group" btnRadioGroup formControlName="update">
                <label *ngFor="let action of getUpdateDeleteActions()" [btnRadio]="action" class="btn btn-light"
                       role="btn">{{action}}</label>
              </div>
            </div>
            <div class="col-lg-12">
              <span>on delete&nbsp;</span><br>
              <div class="btn-group" btnRadioGroup formControlName="delete">
                <label *ngFor="let action of getUpdateDeleteActions()" [btnRadio]="action" class="btn btn-light"
                       role="btn">{{action}}</label>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createForeignKey()">Create foreign key</button>
      </div>
    </div>
  </div>
</div>
