.uml{
  width: auto;
  min-width: 100px;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
  background: transparent;
}
.card-header, .list-group-item{
  padding: 0.5em;
}
.tableName{
  cursor: move;
}
.cols{
  background: #ffffffee;
}
.cols:hover{
  background: darken(#fff, 10%);
}
.cols{
  cursor: pointer;
}

#drag-container{
  margin-bottom: 1em;
  padding-bottom: 300px;
  overflow: hidden;
}

svg{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;

  stroke: black;
  stroke-width:1;

  line{
    z-index: 2;
  }
  line:hover{
    cursor: pointer;
  }
}

.modal-body .row .col-lg-12{
  margin-bottom: 1em;
}
.modal-body form span{
  vertical-align: text-bottom;
}
