#top-nav i {
  margin-right: 0.5em;
}

/* DROPDOWN */
.dropdown-item{
  text-align: left;
}
.dropdown-item, .dropdown-item i{
  color: #73818f;
}
.dropdown-item i{
  margin-right: 0.5em;
}
.dropdown-item:active{
  background: #f0f3f5;
}
.dropdown-item.active{
  background:white;
  color:black;
}
.dropdown-item.active i{
  color: black;
}
.dropdown-item.active:hover{
  background: #f0f3f5;
}

#connection-status {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
#connection-status.connected {
  /*background-color: #28a745;
  box-shadow: 0 0 1px 3px #28a745;*/
  display: none;
}
#connection-status.disconnected {
  background: #dc3545;
  box-shadow: 0 0 1px 3px #dc3545;
}
@media (max-width: 1175px){
  .d-md-down-none {
    display: none !important;
  }
}
