<div class="min-vh-100 max-vh-100 wrapper d-flex flex-column overflow-hidden w-100">
    <c-navbar class="position-sticky w-100 z-3 border-bottom" expand="lg">
        <c-container [fluid]="true">
            <a [routerLink]="'/'" cNavbarBrand class="me-0">
                <img ngSrc="assets/img/brand/logo.svg" priority alt="Polypheny Logo" height="50" width="156" class="ms-xl-4 ms-lg-0 ms-4">
            </a>

            <div class="d-flex ms-auto justify-content-end">
                <div class="d-lg-none"> <!--Only displayed when next to collapse button-->
                    <c-avatar role="button" size="md" color="secondary" (click)="openSettings()"
                              [status]="getConnectedColor()" class="cil-settings" (mouseenter)="hover.set(true)"
                              (mouseleave)="hover.set(false)" [cTooltip]="tooltipContent" [cTooltipPlacement]="'left'"></c-avatar>
                    <ng-template #tooltipContent>
                        <div [innerHtml]="getConnectionText()"></div>
                    </ng-template>
                </div>
                <button class="ms-3" [cNavbarToggler]="collapseRef"></button>
            </div>
            <div class="ms-auto justify-content-end" #collapseRef="cCollapse" navbar cCollapse>
                <c-navbar-nav>
                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/monitoring']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-area-chart"></i>
                            <span class="ms-1">Monitoring</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/schema-editing']" routerLinkActive="active" class="px-lg-1 px-xl-2"
                           (click)="_left.reset()">
                            <i class="fa fa-cubes"></i>
                            <span class="ms-1">Schema</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/data-table']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-table"></i>
                            <span class="ms-1">Data</span>
                        </a>
                    </c-nav-item>

                    <c-dropdown alignment="start" variant="nav-item">

                        <a cDropdownToggle cNavLink routerLinkActive="active" class="fs-6 px-lg-1 px-xl-2">
                            <i class="fa fa-keyboard-o"></i>
                            <span class="ms-1">Query</span>
                        </a>


                        <ul cDropdownMenu>
                            <li>
                                <a cDropdownItem class="mb-1" [routerLink]="['/views/querying/console']"
                                   routerLinkActive="active">
                                    <i class="fa fa-keyboard-o"></i>
                                    <span class="ms-1">Console</span>
                                </a>
                            </li>
                            <li>
                                <a cDropdownItem class="mb-1" [routerLink]="['/views/querying/graphical-querying']"
                                   routerLinkActive="active">
                                    <i class="icon-pencil"></i>
                                    <span class="ms-1">Graphical Querying</span>
                                </a>
                            </li>
                            <li>
                                <a cDropdownItem class="mb-1" [routerLink]="['/views/querying/polyalg']"
                                   routerLinkActive="active">
                                    <i class="fa fa-cubes"></i>
                                    <span class="ms-1">Plan Builder</span>
                                </a>
                            </li>
                            <li>
                                @if (exploreByExampleEnabled()) {
                                    <a cDropdownItem class="mb-1"
                                       [routerLink]="['/views/querying/explore-by-example']" routerLinkActive="active">
                                        <i class="fa fa-magic"></i>
                                        <span class="ms-1">Explore by Example</span>
                                    </a>
                                }
                            </li>
                        </ul>
                    </c-dropdown>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/notebooks']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-book"></i>
                            <span class="ms-1 d-lg-none d-xl-inline">Notebooks</span>
                            <span class="ms-1 d-lg-inline d-none d-xl-none">N.books</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/workflows']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-code-fork fa-rotate-270"></i>
                            <span class="ms-2 d-lg-none d-xl-inline">Workflows</span>
                            <span class="ms-1 d-lg-inline d-none d-xl-none">W.flows</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/adapters']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-database"></i>
                            <span class="ms-1">Adapters</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/queryInterfaces']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="fa fa-exchange"></i>
                            <span class="ms-1 d-lg-none d-xl-inline">Interfaces</span>
                            <span class="ms-1 d-lg-inline d-none d-xl-none">I.faces</span>
                        </a>
                    </c-nav-item>

                    <c-nav-item>
                        <a cNavLink [routerLink]="['/views/config']" routerLinkActive="active" class="px-lg-1 px-xl-2">
                            <i class="icon-settings"></i>
                            <span class="ms-1">Config</span>
                        </a>
                    </c-nav-item>

                </c-navbar-nav>
                <div class=" ms-3 d-lg-block d-none"> <!--Only displayed when collapse button is hidden-->
                    <c-avatar role="button" size="md" color="secondary" (click)="openSettings()"
                              [status]="getConnectedColor()" class="cil-settings" (mouseenter)="hover.set(true)"
                              (mouseleave)="hover.set(false)" [cTooltip]="tooltipContent" [cTooltipPlacement]="'left'"></c-avatar>
                    <ng-template #tooltipContent>
                        <div [innerHtml]="getConnectionText()"></div>
                    </ng-template>
                </div>
            </div>

        </c-container>
    </c-navbar>


    <div class="wrapper position-relative h-100 d-flex flex-grow-1 overflow-y-auto">
        <div [hidden]="!this._left.isVisible()" class="h-100 position-relative p-3 text-light"
             style="min-width: 320px; max-width: 320px; background: #3c4b64">
            <app-left-sidebar class="flex-grow-1 h-100"></app-left-sidebar>
        </div>

        <div class="body position-relative w-auto flex-grow-1 d-flex flex-column w-100 overflow-x-hidden">
            <app-toast-exposer></app-toast-exposer>

            <app-breadcrumb-main></app-breadcrumb-main>

            <!-- Main content -->
            <div class="overflow-y-auto flex-grow-1 d-flex flex-column bg-body">
                <c-container fluid="{{isFluid()}}" [ngClass]="{'gx-0': isFluid(), 'mt-3 ps-3': !isFluid()}" class="flex-grow-1 gy-2">
                    <c-row class="h-100 align-content-start" [gutter]="isFluid() ? 0: 2">
                        <c-col class="h-100">
                            <router-outlet></router-outlet>
                        </c-col>
                    </c-row>
                </c-container>
                <c-footer>
                    <a class="text-muted text-decoration-none" [routerLink]="['/views/about']">About Polypheny</a>
                </c-footer>
            </div>
        </div>
    </div>
</div>

@if (modal()) {
    <!--Destroy the modal when closed to avoid sending unnecessary latency requests-->
    <c-modal [visible]="modal()"
             [keyboard]="true"
             [transition]="true"
             (visibleChange)="handleModalChange($event)"
             id="modalStatic">
        <c-modal-header>
            <h5 cModalTitle>UI Settings</h5>
            <button (click)="modal.set(false)" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            <app-right-sidebar [reload]="reconnect"></app-right-sidebar>
        </c-modal-body>

    </c-modal>
}
