#top-nav i {
  margin-right: 0.5em;
}

.max-vh-100 {
  height: 100vh;
}

#connection-status {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#connection-status.connected {
  /*background-color: #28a745;
  box-shadow: 0 0 1px 3px #28a745;*/
  display: none;
}

#connection-status.disconnected {
  background: #dc3545;
  box-shadow: 0 0 1px 3px #dc3545;
}

/* fix for the breaking menu */
@media (max-width: 1185px) {
  .d-md-down-none {
    display: none !important;
  }
}

.app-body {
  overflow: hidden;
}

.nav-item {
  padding: 0 0.1rem;
}

.icon-fixed-width {
  width: 25px;
  margin-right: 2px;
  display: inline-flex;
  justify-content: center;
}


