<app-toast></app-toast>
<div class="row" *ngIf="resultSet.data">
    <div class="col-lg-12" id="data-table-wrapper" [ngClass]="{ 'overflow-y-hidden': config.exploring }">
        <table class="table table-hover table-sm table-bordered" [ngClass]="{'loading': loading, 'table-striped': !config.exploring}" id="data-table" [attr.data-table]="resultSet.table">
            <thead>
            <tr>
                <ng-container *ngFor="let h of resultSet.header">
                    <th>{{h.name}}
                        <a *ngIf="config.sort" [routerLink]="" [ngClass]="{'btn-primary' : h.sort.sorting, 'btn-light': !h.sort.sorting, 'btn btn-sm float-right': true}" (click)="sortTable(h.sort)">
                            <i [ngClass]="h.sort.direction === 'ASC' ? 'icon-arrow-up' : 'icon-arrow-down'"></i>
                        </a>
                    </th>
                </ng-container>
                <th class="delete" *ngIf="config.delete">
                    <!--<i class="cui-trash"></i>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="config.search">
                <td *ngFor="let h of resultSet.header">
                    <input *ngIf="_types.numericTypes().includes(h.dataType.toLowerCase())" type="number" class="form-control form-control-sm table-filter" placeholder="search" [attr.data-col]="h.name" [value]="h.filter" (keyup)="filterTable($event)">
                    <input *ngIf="! _types.numericTypes().includes(h.dataType.toLowerCase())" type="text" class="form-control form-control-sm table-filter" placeholder="search" [attr.data-col]="h.name" [value]="h.filter" (keyup)="filterTable($event)">
                </td>
                <td *ngIf="config.update || config.delete"></td>
            </tr>
            <tr *ngFor="let d1 of resultSet.data; let i = index" [ngClass]="{'editing': editing === i, 'table-success' : this.userInput[d1] === 'true', 'table' : this.userInput === null, 'table-danger': this.userInput[d1] === 'false', 'table': this.userInput[d1] === '?'}">
                <ng-container *ngIf="editing === i">
                    <td *ngFor="let d2 of d1; let i = index">
                        <!--<input type="text" class="form-control form-control-sm editing" [value]="d2" [attr.data-before]="d2" [attr.data-col]="resultSet.header[i].name">-->
                        <app-input class="editing" [header]="resultSet.header[i]" [value]="updateValues.get(resultSet.header[i].name)" (valueChange)="newUpdateValue(resultSet.header[i].name, $event)" (enter)="updateRow()" [attr.data-before]="d2" [attr.data-col]="resultSet.header[i].name"></app-input>
                    </td>
                    <td *ngIf="config.update || config.delete">
                        <button class="btn btn-primary" id="editColSave" (click)="updateRow()"><i class="fa fa-save"></i></button>
                    </td>
                </ng-container>
                <!-- table which shows resultSet  -->
                <ng-container *ngIf="editing !== i">
                    <td *ngFor="let d2 of d1" (dblclick)="triggerEditing(i)">{{d2}}</td>
                    <td *ngIf="config.exploring && resultSet.classificationInfo == 'ClassificationPossible'">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary" [ngClass]="{'active' : userInput[d1] === 'true'}">
                                <input type="radio" class="form-control" name="choose" value="true" id="true" autocomplete="off" (click)="this.userInput[d1] = 'true'"> true
                            </label>
                            <label class="btn btn-secondary active" [ngClass]="{'active' : userInput[d1] === '?' || userInput[d1] === undefined }">
                                <input type="radio" class="form-control" name="choose" value="?" id="ignored" autocomplete="off" checked (click)="this.userInput[d1] = '?'" > N/A
                            </label>
                            <label class="btn btn-secondary" [ngClass]="{'active' : userInput[d1] === 'false'}">
                                <input type="radio" class="form-control" name="choose" value="false" id="false" autocomplete="off" (click)="this.userInput[d1] = 'false'; exploreData()" > false
                            </label>
                        </div>
                    </td>
                    <td class="delete" *ngIf="config.update || config.delete">
                        <i *ngIf="config.delete" [ngClass]="{ 'cui-trash': i!==confirm, 'fa fa-warning': i===confirm }" (click)="deleteRow(d1, i)" (mouseleave)="confirm = -1"></i>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="resultSet.data.length === 0">
                <td [attr.colspan]="resultSet.header.length+1" style="text-align: center" class="text-danger">(no data to show)</td>
            </tr>
            <tr *ngIf="config.create" id="insertRow">
                <td *ngFor="let h of resultSet.header">
                    <app-input [header]="h" [value]="insertValues.get(h.name)" (valueChange)="inputChange(h.name, $event)" (enter)="insertRow()"></app-input>
                </td>
                <td *ngIf="config.update || config.delete">
                    <button id="addColumnBtn" class="btn btn-primary" (click)="insertRow()">+</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Page navigation example" class="float-right" *ngIf="resultSet.highestPage > 1">
            <ul class="pagination">
                <li *ngFor="let p of pagination" class="page-item" [ngClass]="{ 'disabled': p.disabled, 'active': p.active }">
                    <a class="page-link" (click)="paginate(p)" [routerLink]="">{{p.label}}</a>
                </li>
            </ul>
        </nav>
        <button id="resetClassification" class="btn btn-primary" type="button" *ngIf="config.exploring && resultSet.classificationInfo == 'ClassificationPossible' " (click)="resetExporationData()">Reset</button>
        <button id="startClassification" class="btn btn-primary" type="button" *ngIf="config.exploring && resultSet.classificationInfo == 'ClassificationPossible' && ((this.initalClassifiation && this.getSelected() > 7 ) || (!this.initalClassifiation))" (click)="startClassification()">Start Classification</button>
        <button id= "showDecisionTree" type="button" class="btn btn-primary" *ngIf="config.exploring && this.exploreSet !== undefined && config.exploring " (click)="openDecisionTree(decisionTree)">Show Decision Tree</button>
        <button id= "showSQL" type="button" class="btn btn-primary" *ngIf="config.exploring && this.exploreSet !== undefined && config.exploring && this.finalresult && this.resultSet.isConvertedToSql" (click)="openSQL(sql)">Show SQL Statement</button>
        <button id="sendClassification" type="button" class="btn btn-primary" *ngIf="config.exploring && resultSet.classificationInfo == 'ClassificationPossible' && this.exploreSet !== undefined "  (click)="sendChosenCols()">Execute</button>
    </div>
</div>

<div *ngIf="!resultSet.data && !resultSet.error">data-table: nothing to show.</div>
<div class="text-danger" *ngIf="resultSet.error">{{resultSet.error}}</div>


<ng-template #decisionTree>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Decision Tree</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDecision.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body-tree">
           The decision tree shows how the data has been classified.
        </div>
    </div>
</ng-template>

<ng-template #sql>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">SQL Statement</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body-SQL">
            <div id="example-wrapper" style="height: 150px">
                <app-editor #editorGenerated [code]="createdSQL"></app-editor>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #tutorial>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Check Classification</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefTutorial.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body-tutorial">
            Now a classifier has been created, if it is not as wished it can be changed by changing "true" and "false". Otherwise the final dataset can be created with "Execute".

            
        </div>
    </div>
</ng-template>


<div class="hidden-layer">
    <div class="scaling-svg-container">
        <svg id="tree" xmlns="http://www.w3.org/2000/svg" class="scaling-svg" viewBox="auto">
            <g/>
        </svg>
    </div>
</div>




