<div class="row" [hidden]="showingAnalysis">
  <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="form-group" style="height: 100%">
          <app-editor #editor id="sql-editor"></app-editor>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
      <ul class="list-group" id="history">
          <li class="list-group-item header">
              History
          </li>
          <li class="list-group-item empty" *ngIf="history.size == 0">(empty)</li>
          <li class="list-group-item history-item"
              *ngFor="let h of history | keyvalue:orderHistory" (click)="applyHistory( h.value.query, false )"
              (dblclick)="applyHistory( h.value.query, true)">
              <div class="history-time-wrapper">
                <small class="time">{{h.value.displayTime()}}</small>
                <small class="time">{{h.value.fromNow()}}</small>
              </div>
              <div>{{_util.limitedString(h.value.query)}}</div>
              <span class="btn btn-sm btn-light del-hist-item" [ngClass]="{'cui-trash': confirmDeletingHistory!==h.key, 'fa fa-warning':confirmDeletingHistory===h.key}" (mouseout)="confirmDeletingHistory=null" (click)="deleteHistoryItem(h.key, $event)"></span>
              <!-- see https://stackoverflow.com/questions/44669340/how-to-truncate-text-in-angular2 -->
              <!--{{h.value.query}}-->
          </li>
      </ul>
  </div>

  <div class="col-lg-8" [hidden]="showingAnalysis" style="margin-top: 1rem;">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input" id="checkbox1" [(ngModel)]="analyzeQuery">
      <label class="custom-control-label" for="checkbox1">analyze query</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input" id="checkbox2" [(ngModel)]="saveInHistory">
      <label class="custom-control-label" for="checkbox2">save in history</label>
    </div>
    <button *ngIf="!loading" type="submit" class="btn btn-primary pull-right" (click)="submitQuery()">Execute</button>
    <button *ngIf="loading" type="submit" class="btn btn-primary pull-right" disabled>Loading</button>
  </div>
</div>

<div class="row" style="padding: 2em 0;" [hidden]="showingAnalysis || loading">
    <div class="col-lg-12" *ngIf="resultSets && resultSets.length > 1">Click on a query to view its result and additional information.</div>
    <div class="col-lg-12" id="accordion" [ngClass]="{'accordion': resultSets && resultSets.length > 1}" id="results">
        <div class="card" *ngFor="let resultSet of resultSets; let i = index;">
            <div class="card-header" [ngClass]="{'pointer': resultSets.length > 1}" (click)="collapsed[i] = !collapsed[i]">
                {{filter(resultSet.info.generatedQuery)}}
              <span class="badge pull-right" [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
                <ng-container *ngIf="!resultSet.error">{{resultSet.info.affectedRows}}</ng-container>
                <ng-container *ngIf="resultSet.error">!</ng-container>
              </span>
            </div>

            <div [id]="'collapse'+i" class="collapse show" data-parent="#accordion">
                <div class="card-body" [collapse]="!collapsed[i] && resultSets.length !== 1">
                    <ng-container *ngIf="resultSet.info.generatedQuery != filter( resultSet.info.generatedQuery )">
                      <p>Query: {{resultSet.info.generatedQuery}}</p>
                    </ng-container>

                    <div class="text-danger" *ngIf="resultSet && resultSet.error">
                        <strong>Error:</strong>
                        <p *ngIf="resultSet.error">{{resultSet.error}}</p>
                    </div>

                    <div class="query-info">
                        <p *ngIf="resultSet && !resultSet.data && !resultSet.error">
                          <i>Successfully executed</i>
                        </p>
                    </div>


                    <div class="col-lg-12 result-wrapper" *ngIf="resultSet && resultSet.data">
                        <app-data-table [resultSet]="resultSet" [config]="tableConfig"></app-data-table>
                      <p class="text-muted text-center small mt-1 mb-0" *ngIf="resultSet.hasMoreRows">Only {{resultSet.data.length}} rows are being displayed. To fetch more rows, please specify a LIMIT clause.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-information-manager *ngIf="queryAnalysis" [data]="queryAnalysis" [zoom]="_breadcrumb.getMasonryZoom()" [hidden]="!showingAnalysis"></app-information-manager>
