<!--<input type="text" [formControlName]="formObj.groups[0].groups[0].key" >-->

<form novalidate (ngSubmit)="onSubmit(form.value, $event)" [formGroup]="form">
    <div class="form-row align-items-center row">
        @for (group of formObj.groups; track $index) {
            <c-col class="col-lg-6">
                <div class="form-group form-row align-items-center">
                    <c-col class="col-12">{{ group.title }}:</c-col>
                    @for (item of group.items; track $index) {
                        <c-col class="col-lg-6 col-md-6 col-sm-12">
                            @switch (item.type) {
                                @case ('radio') {
                                    {{ item.label }}
                                    @for (radio of item.options; track $index) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radio{{radio.label}}"
                                                   [value]="radio.value" [name]="item.key" [formControlName]="item.key"
                                                   [checked]="radio.checked">
                                            <label class="form-check-label" for="radio{{radio.label}}">{{ radio.label }}</label>
                                        </div>
                                    }
                                }
                                @case ('checkbox') {
                                    <!-- todo checked if item.checked is true, from the beginning! -->
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                [name]="item.key"
                                                [formControlName]="item.key"
                                                [value]="item.value"
                                                class="form-check-input"
                                                [id]="item.key"
                                                [checked]="item.value">
                                        <label class="form-check-label" [for]="item.key">{{ item.label }}</label>
                                    </div>
                                }
                                @case ('range') {
                                    <label [for]="item.label">{{ item.value }}</label>
                                    <input type="range" class="custom-range" [min]="item.min" [max]="item.max"
                                           [step]="item.step" [id]="item.label" [value]="item.value"
                                           [formControlName]="item.key" (input)="updateRange(item.key, $event)">
                                }
                                @case ('select') {
                                    <select cSelect [formControlName]="item.key" class="custom-select">
                                        @for (option of item.options; track $index) {
                                            <option [value]="option.value">
                                                {{ option.label }}
                                            </option>
                                        }
                                    </select>
                                }
                                @default {
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">{{ item.label }}</span>
                                        </div>
                                        <input [formControlName]="item.key" [id]="item.key" [type]="item.type"
                                               class="form-control" [ngClass]="inputValidation(item.key)">
                                        @if (submitted && form.get( item.key ).invalid) {
                                            <div class="invalid-feedback">
                                                @if (form.get( item.key ).errors.required) {
                                                    <div>
                                                        {{ item.label }} is required.
                                                    </div>
                                                }
                                                @if (form.get( item.key ).errors.email) {
                                                    <div>
                                                        invalid email
                                                    </div>
                                                }
                                            </div>
                                        }
                                        @if (submitted && form.get( item.key ).valid) {
                                            <div class="valid-feedback">
                                                valid
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            <!-- end switch -->
                        </c-col>
                    }
                </div>
            </c-col>
        }
        <button type="submit" class="btn btn-primary">save</button>
    </div>
</form>

<hr/>
<c-row class="row">
    <c-col class="col-lg-6">
        <strong>Form Value</strong>
        <pre>{{ form.value | json }}</pre>
        <strong>Form is valid:</strong> {{ form.valid }}
    </c-col>
    <c-col class="col-lg-6">
        <strong>input:</strong>

    </c-col>
</c-row>
