<!--<a href="https://juristr.com/blog/2017/10/demystify-dynamic-angular-forms/">tutorial1</a>,
<a href="http://jasonwatmore.com/post/2018/05/10/angular-6-reactive-forms-validation-example">tutorial2</a>-->
<app-toast [toastEvent]="toastEvent" (toastDeleted)="this.onToastDeleted($event)"></app-toast>
<ng-container *ngIf="formObj && form && !pageNotFound">
	<form (ngSubmit)="onSubmit(form.value, $event)" [formGroup]="form">
		<div id="form-generator-main" class="row">
			<div class="col-md-12">
				<h1 *ngIf="formObj.title">{{formObj.title}}</h1>
				<p *ngIf="formObj.description">{{formObj.description}}</p>
			</div>
		</div>
		<div class="card-columns" [ngStyle]="{'column-count': _breadcrumb.getMasonryZoom()}">
			<ng-container *ngFor="let group of formObj.groups | keyvalue: orderGroups">
				<div>
					<div class="form-group card">
						<div class="card-header">
							<div style="width: 95%;">
								<strong>{{group.value.title}}</strong>
								<ng-container *ngIf="group.value.description">
									<small style="color: #5c6873;">{{group.value.description}}</small>
								</ng-container>
							</div>
						</div>
						<!--<p>{{group.value.description}}</p>-->
						<div class="card-body">
							<ng-container *ngFor="let config of group.value.configs | keyvalue: orderConfigs; let nth = index">
								<ng-container [ngSwitch]="config.value.webUiFormType">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="gradient"></div>
											<label [for]="config.value.key" class="input-group-text" id="basic-addon1">{{ config.value.key }}</label>
										</div>
										<ng-container *ngSwitchCase="'TEXT'">
											<input [formControlName]="config.value.key" [id]="config.value.key" [value]="config.value.value" type="text" class="form-control" [ngClass]="inputValidation(config.value.key)">
										</ng-container>
										<ng-container *ngSwitchCase="'NUMBER'">
											<input [formControlName]="config.value.key" [id]="config.value.key" [value]="config.value.value" type="number" class="form-control" [ngClass]="inputValidation(config.value.key)">
										</ng-container>
										<ng-container *ngSwitchCase="'BOOLEAN'">
											<!--<div class="checkbox-wrapper">-->
														<!--<input [formControlName]="config.value.key" [id]="config.value.key" [value]="config.value.value" type="checkbox" class="form-control" [ngClass]="inputValidation(config.value.key)">-->
														<!-- throws warning, but solves problem of assigning value "false" (as string) -->
												<!--<input [formControlName]="config.value.key" [id]="config.value.key" [ngModel]="config.value.value" type="checkbox" class="form-control" [ngClass]="inputValidation(config.value.key)">-->
											<!--</div>-->

											<div class="checkbox-wrapper">
												&nbsp;
												<label [class]="'switch switch-label switch-pill switch-sm ' + getSwitchColor(nth)">
													<input [formControlName]="config.value.key" [id]="config.value.key" [ngModel]="config.value.value" type="checkbox" class="form-control switch-input" [ngClass]="inputValidation(config.value.key)">
													<span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
												</label>
											</div>

										</ng-container>

										<div class="invalid-feedback" *ngIf="submitted && !form.controls[config.value.key].valid">
											<div *ngIf="form.controls[config.value.key].errors.required">
												{{ config.value.key }} is required.
											</div>
											<div *ngIf="form.controls[config.value.key].errors.email">
												invalid email
											</div>
										</div>
										<div class="valid-feedback" *ngIf="submitted && form.controls[config.value.key].valid && form.controls[config.value.key].dirty">
											valid
										</div>
									</div>
								</ng-container>

							</ng-container>
							<button *ngIf="form.dirty" type="submit" class="btn btn-light btn-sm float-right save-configs"><i class="fa fa-save"></i></button>
						</div>
					</div>
				</div>

			</ng-container>

		</div>
	</form>
</ng-container>

<ng-container *ngIf="pageNotFound">
	<p class="text-danger">Page with id "{{pageId}}" does not exist or could not be loaded.</p>
</ng-container>
<ng-container *ngIf="!formObj && !form && pageList">
	Choose a page to display configs:<br><br>
	<button *ngFor="let page of pageList | keyvalue" class="btn btn-light pageLink" [routerLink]="''+page.value.id">{{page.value.name}}</button>
</ng-container>
<ng-container *ngIf="serverError">
	<p class="text-danger">
		Server not responding:<br>
		{{serverError.name}}: {{serverError.message}}
	</p>
</ng-container>

<!--<div class="row" *ngIf="formObj && form">
	<div class="col-lg-6">
		<strong>Form Value</strong>
		<pre>{{ form.value | json }}</pre>
		<strong>Form is valid:</strong> {{form.valid}}
	</div>
</div>

<div class="row" *ngIf="!formObj">
	<p class="text-danger">No form was loaded.</p>
</div>
-->
