<app-toast></app-toast>
<div class="col-12" style="position:absolute; z-index: 2;" [hidden]="showingAnalysis">
    <div class="btn-circle btn btn-primary"  id="run" (click)="clickRun($event)"><i class="fa fa-play"></i></div>
    <div id="menu-top-left">
        <div class="btn-group">
            <a [routerLink]="[]" class="btn btn-light btn-sm" (click)="exportTree()">export</a>
            <a [routerLink]="[]" class="btn btn-light btn-sm" (click)="importTree()">import</a>
        </div>
        <!--
        <div class="analyze-query">
            <input type="checkbox" class="analyze-query-input mr-1" id="analyzeQuery" [checked]="analyzeQuery"
                   (change)="analyzeQuery = !analyzeQuery">
            <label class="analyze-query-label" for="analyzeQuery">analyze query</label>
        </div>
        -->
    </div>

</div>

<div class="row"  style="padding-bottom: 1em;position: relative; overflow: auto;">
    <div class="col-12" *ngIf="queryAnalysis">
        <app-information-manager [data]="queryAnalysis" [zoom]="_breadcrumb.getMasonryZoom()"
            [hidden]="!showingAnalysis"></app-information-manager>
    </div>

    <div class="col-12" id="drop" cdkDropList cdkDropListSortingDisabled #dropArea (treeDrop)="treeDrop($event)"
        [hidden]="showingAnalysis">
        <ng-container *ngFor="let n of nodes | keyvalue; trackBy: trackNode">
            <app-node [node]="n.value" (autocompleteChanged)="setAutocomplete()" (focusin)="n.value.zIndex = 2"
                (focusout)="setAutocomplete(); n.value.zIndex = 1" cdkDrag style="position:absolute;"
                [ngStyle]="{'top': n.value.top+'px', 'left':n.value.left+'px', 'z-index': n.value.zIndex}"
                [cdkDragFreeDragPosition]="{x: n.value.left, y: n.value.top}"
                (cdkDragStarted)="dragStart($event, n.value)" (cdkDragMoved)="draggingNode($event, n.value)"
                (cdkDragEnded)="savePos($event, n.value)" cdkDragBoundary="#drop">
                <!--<div *cdkDragPreview class="node-drag-preview">preview</div>-->
                <div class="drag-handle card-header" cdkDragHandle>
                    {{n.value.type}}
                    <span>
                        &nbsp;(
                        <span *ngIf="n.value.relAlgSymbol" [innerHTML]="n.value.relAlgSymbol"></span>
                        <span *ngIf="!n.value.relAlgSymbol"><i [ngClass]="n.value.icon"></i></span>
                        )
                    </span>
                    <span class="del float-right" (click)="deleteNode(n.value)"><i class="cui-trash"></i></span>
                </div>
            </app-node>
        </ng-container>


        <svg width="100%" height="100%">
            <marker id="arrowhead" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="5"
                markerHeight="5" orient="auto">
                <path d="M 0,0 l 10,5 l -10,5 z" />
            </marker>
            <line *ngIf="temporalLine" [attr.x1]="temporalLine.x1" [attr.y1]="temporalLine.y1"
                [attr.x2]="temporalLine.x2" [attr.y2]="temporalLine.y2" marker-end="url(#arrowhead)"></line>
            <line *ngFor="let conn of connections | keyvalue" [attr.x1]="getX1(conn.value.source)"
                [attr.y1]="getY1(conn.value.source)" [attr.x2]="getX2(conn.value.target)"
                [attr.y2]="getY2(conn.value.target)" marker-end="url(#arrowhead)"></line>
        </svg>
    </div>
</div>


<div class="card " *ngIf="resultSet && !showingAnalysis " id="result-relational">

    <div class="card-header ">
        <span>{{resultSet.generatedQuery}}</span>
        <span class="badge pull-right" *ngIf="resultSet.error"
            [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
            <!--<ng-container *ngIf="!resultSet.error">{{resultSet.affectedRows}}</ng-container>-->
            <ng-container *ngIf="resultSet.error">!</ng-container>
        </span>
    </div>

    <div class="card-body" style="padding-bottom: 0.25rem">
        <div class="text-danger" *ngIf="resultSet && resultSet.error">
            <strong>Error:</strong>
            <p class="mb-3">{{resultSet.error}}</p>
        </div>

        <div class="query-info">
            <p *ngIf="resultSet && !resultSet.data && !resultSet.error" class="mb-3">
                <i>Successfully executed</i>
            </p>
        </div>

        <div class="row" *ngIf="resultSet && resultSet.data" [hidden]="showingAnalysis">
            <div class="col-lg-12">
                <app-data-view [resultSet]="resultSet"
                    [config]="{create: false, update: false, delete: false, sort: false, search: false, exploring: false}"
                    (executeView)="createView($event)"></app-data-view>
            </div>
        </div>
    </div>

</div>