<app-toast></app-toast>
<div class="row" style="padding-bottom: 1em;">

  <div class="col-3" id="nodeList" #nodeList>
    <ul class="list-group"
        id="operatorList"
        style="position:fixed;"
        [ngStyle]="{width: nodeList.offsetWidth-50+'px'}"
        cdkDropList
        cdkDropListSortingDisabled
        cdkDropListConnectedTo="drop"
    >
      <li class="list-group-item rel-op"
          *ngFor="let op of operators"
          cdkDrag
          [cdkDragData]="op"
      >{{op}}</li>
    </ul>
  </div>

  <div class="col-9" id="drop" cdkDropList cdkDropListSortingDisabled (cdkDropListDropped)="dropped($event)" (mousemove)="dropMousePosition($event)" #dropArea>
    <ng-container *ngFor="let n of nodes | keyvalue; trackBy: trackNode">
      <app-node [node]="n.value"
                (autocompleteChanged)="setAutocomplete()"
                (focusin)="n.value.zIndex = 2"
                (focusout)="setAutocomplete(); n.value.zIndex = 1"
                cdkDrag
                style="position:absolute;"
                [ngStyle]="{'top': n.value.top+'px', 'left':n.value.left+'px', 'z-index': n.value.zIndex}"
                [cdkDragFreeDragPosition]="{x: n.value.left, y: n.value.top}"
                (cdkDragStarted)="dragStart($event, n.value)"
                (cdkDragMoved)="draggingNode($event, n.value)"
                (cdkDragEnded)="savePos($event, n.value)"
                cdkDragBoundary="#drop">
        <!--<div *cdkDragPreview class="node-drag-preview">preview</div>-->
        <div class="drag-handle card-header" cdkDragHandle>{{n.value.type}}<span class="del float-right" (click)="deleteNode(n.value)"><i class="cui-trash"></i></span></div>
      </app-node>
    </ng-container>

    <div class="btn-circle btn btn-primary" id="run" (click)="runPlan()"><i class="fa fa-play"></i></div>
    <div id="menu-top-left">
      <div class="btn-group">
        <a [routerLink]="[]" class="btn btn-light btn-sm" (click)="exportTree()">export</a>
        <a [routerLink]="[]" class="btn btn-light btn-sm" (click)="importTree()">import</a>
      </div>
    </div>

    <svg width="100%" height="100%">
      <marker id="arrowhead"
              viewBox="0 0 10 10" refX="0" refY="5"
              markerUnits="strokeWidth"
              markerWidth="5" markerHeight="5"
              orient="auto">
        <path d="M 0,0 l 10,5 l -10,5 z" />
      </marker>
      <line *ngIf="temporalLine" [attr.x1]="temporalLine.x1" [attr.y1]="temporalLine.y1" [attr.x2]="temporalLine.x2" [attr.y2]="temporalLine.y2" marker-end="url(#arrowhead)"></line>
      <line *ngFor="let conn of connections | keyvalue" [attr.x1]="getX1(conn.value.source)" [attr.y1]="getY1(conn.value.source)" [attr.x2]="getX2(conn.value.target)" [attr.y2]="getY2(conn.value.target)" marker-end="url(#arrowhead)"></line>
    </svg>
  </div>
</div>
<div class="row" *ngIf="resultSet">
  <div class="col-sm-9 offset-sm-3" id="result-wrapper">
    <app-data-table [resultSet]="resultSet" [config]="{create: false, update: false, delete: false, sort: false, search: false}"></app-data-table>
  </div>
</div>
