#operatorList .rel-op:hover {
  background: rgba( 0, 0, 0, 0.05 );
}
.rel-op{
  cursor: grab;
}

#drop{
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
  height: 1000px;
}
#drop .node, .cdk-drag-preview .node {
  position: absolute;
  min-width: 260px;
  z-index: 1;

  .in, .out{
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
  }
  .in{
    bottom: -10px;
    background: rgba(181, 229, 160, 0.3);
  }
  .out{
    top: -10px;
    background: rgba(150, 216, 228, 0.3);
  }
  .drag-handle{
    cursor: move;
  }
  .del{
    margin-left: 1em;
    color: #c8ced3;
  }
  .del:hover{
    color: #dc3545;
    cursor: pointer;
  }
  .form-group{
    input{
      margin-left: 1em;
    }
  }
  .list-group-item{
    padding: 0.5rem 1.25rem;
  }
  .param-wrapper{
    display: flex;
    justify-content: space-between;
    label{
      margin-right: 1em;
      line-height: 2em;
    }
  }
  .param-input{
    width:150px;
  }
  input[type=checkbox].param-input {
    box-shadow: none;
  }
}
#drop:not(.connecting) .out:hover{
  background: rgba(150, 216, 228, 0.7);
  cursor: pointer;
}
#drop.connecting .in:hover{
  background: rgba(181, 229, 160, 0.7);
}
#drop .cdk-drag-placeholder{
  display: none;
}

svg{
  position: absolute;
  top:0;
  left:0;
  stroke: black;
  stroke-width:1;
  z-index: -1;
}

#run{
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 2;
}

#result-wrapper{
  padding-bottom: 1em;
}

#menu-top-left {
  position: absolute;
  top: 1em;
  left: 1em;
}
