h1{
  display: inline-block;
}
#changePwCard .input-group-text {
  width: 75px;
}
.iconColumn{
  width: 2rem;
  text-align:center;
}
.checkbox-wrapper{
  flex: 1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #e4e7ea;
}
.ptr:hover{
  cursor: pointer;
}
.iconColumn .fa-warning{
  color: #dc3545;
}
.checkbox-wrapper{
  position: relative;
  flex: 1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #e4e7ea;
}
.checkbox-wrapper .switch{
  position: absolute;
  top: calc(50% - 0.75em);
  left: calc(50% - 1.4em);
}
.admin-icon {
  float: right;
  line-height: 1.5em;
}
#editUserModal .input-group-text{
  width: 84px;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.no-radius{
  border-radius: 0 !important;
}
.switch-label2{
  margin:0 1em 0 0;
  line-height: 2.5em;
}
.dsVisibility{
  float: right;
  line-height: 1.5em;
}
#upload-card progressbar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  height: 5px;
}
.modal-footer{
  position: relative;
  justify-content: space-between;
}
.progress-wrapper{
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
}
.progress-wrapper progressbar{
  border-radius: 0;
  height: 5px;
}
#metaTable tr td {
  padding: 0.3em;
  line-height: 1.3;
}
#metaTable tr td:first-child {
  vertical-align: top;
  width: 40px;
  padding-left: 0;
}
.no-wrap {
  white-space: nowrap;
}
.card-header-button {
  position: absolute;
  right: 1.25rem;
  top: 10px;
}
