#addColumnBtn{
  border-radius: 100%;
  line-height: 1.25rem;
}
h5{
  margin-bottom: 1em;
}
.delete i {
  visibility: hidden;
  color: #dc3545;
  float: right;
  margin-right: 1em;
  cursor: pointer;
}
tr:hover .delete i{
  visibility: visible;
}
