<div class="c-app flex-row align-items-center">
    <div class="container">
        <c-row class="row justify-content-center">
            <c-col class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-left display-3 me-4">404</h1>
                    <h4 class="pt-3">Oops! You're lost.</h4>
                    <p class="text-muted">The page you are looking for was not found.</p>
                </div>
                <a routerLink="" class="btn btn-info">Go back home</a>
            </c-col>
        </c-row>
    </div>
</div>
