<app-toast></app-toast>

<div class="container">
    <div class="row justify-content-start">
        <div *ngFor="let instance of instances" class="col-4">
            <div class="card">
                <div class="card-header">{{ instance.alias }}</div>
                <div class="card-body">
                    Host: {{ instance.host }}<br>
                    Connected: {{ instance.connected }}<br>
                    <button class="btn btn-primary mr-2" (click)="showModal(instance.id)">Edit</button>
                    <button class="btn btn-danger mr-2" (click)="removeDockerInstance(instance);">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <button class="btn btn-primary" (click)="showModal(-1)">Add new instance</button>
        </div>
        <div *ngIf="status.available && (!status.connected || autoConnectRunning)" class="col">
            <button class="btn btn-success" (click)="autoDocker()" [disabled]="status.running || autoConnectRunning">Autoconnect to localhost</button>
        </div>
    </div>
</div>

<div *ngIf="error !== null" class="alert alert-danger">
    Cannot load list of docker instances: {{ error }}
</div>

<div bsModal #dockerConfigModal="bs-modal" id="addNewInstance" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="Add/Edit a docker instance" aria-hidden="true">
    <div *ngIf="modalId !== null">
        <app-dockernew *ngIf="modalId === -1" (done)="closeModal($event)"></app-dockernew>
        <app-dockeredit *ngIf="modalId >= 0" [id]="modalId" (done)="closeModal($event)"></app-dockeredit>
    </div>
</div>
