<div *ngFor="let schema of stylingSet | keyvalue">
    <div *ngIf="_choosenTables && _choosenTables['column'] && includesSchema(_choosenTables['column'], schema.key)">
        <h5>Refinement Options</h5>
        <h4 class="my-2" *ngIf="hasMultipleSchemas()">{{'Schema: ' + schema.key}}</h4>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item" *ngFor="let table of filterHeaders(stylingSet[schema.key], _choosenTables, schema.key) | keyvalue">
                        <a [className]="this.activeHeaders && this.activeHeaders[schema.key] === table.key ? 'nav-link active': 'nav-link'" (click)="addToHeader(schema.key, table.key)" >{{table.key}}</a>
                    </li>
                </ul>
            </div>


            <div class="card-body text-left">
                <div *ngFor="let table of stylingSet[schema.key] | keyvalue">
                    <div class="refinement-table" *ngIf="_choosenTables && _choosenTables['column'] && includesTable(_choosenTables['column'], table.key) && this.activeHeaders && this.activeHeaders[schema.key] === table.key">
                        <div class="refinement-column" *ngFor="let col of filterSet(stylingSet[schema.key][table.key]) | keyvalue; index as i">
                            <div *ngIf=" _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName'])">
                                <h5>Column: {{col.key}}</h5>

                                <div class="row" [id]="this.statisticSet[col.value['qualifiedColumnName']]['table']">
                                    <!-- sorting columns ascending, descending or off -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf=" _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName'])">
                                        <p>Sorting</p>
                                        <div class="btn-group flex-wrap btn-group-toggle" id="radio" data-toggle="buttons">
                                            <label class="btn btn-secondary" [ngClass]="{'active' : filteredUserInput[col.value['qualifiedColumnName']]['sorting'] === 'OFF'}">
                                                <input type="radio" class="form-control" name="sort" value="OFF" id="{{col.value['qualifiedColumnName'] + 'sortOff'}}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['sorting']" (ngModelChange)="changeUserInput()"> off
                                            </label>
                                            <label class="btn btn-secondary" [ngClass]="{'active': filteredUserInput[col.value['qualifiedColumnName']]['sorting'] === 'ASC'}">
                                                <input type="radio" class="form-control" name="sort" value="ASC" id="{{col.value['qualifiedColumnName'] + 'ASC'}}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['sorting']" (ngModelChange)="changeUserInput()" > ascending
                                            </label>
                                            <label class="btn btn-secondary" [ngClass]="{'active': filteredUserInput[col.value['qualifiedColumnName']]['sorting'] == 'DESC'}">
                                                <input type="radio" class="form-control" name="sort" value="DESC" id="{{col.value['qualifiedColumnName'] + 'DESC'}}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['sorting']" (ngModelChange)="changeUserInput()"> descending
                                            </label>
                                        </div>
                                    </div>

                                    <!-- avg, min max for numerical values -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf=" _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName']) && this.statisticSet[col.value['qualifiedColumnName']]['columnType'] == 'numeric'">
                                        <p>Aggregate</p>
                                        <div class="btn-group flew-wrap btn-group-toggle" id="radio-numeric" data-toggle="buttons">
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'OFF' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="OFF" id="{col.value['aggregate'] + 'OFF'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()"> off
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'MIN' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="MIN" id="{col.value['aggregate'] + 'MIN'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()" > MIN
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'MAX' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="MAX" id="{col.value['aggregate'] + 'MAX'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()"> MAX
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'COUNT' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="COUNT" id="{col.value['aggregate'] + 'COUNT'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()"> COUNT
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'SUM' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="SUM" id="{col.value['aggregate'] + 'SUM'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()"> SUM
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate'] == 'AVG' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="aggregate" value="AVG" id="{col.value['aggregate'] + 'AVG'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['aggregate']" (ngModelChange)="changeUserInput()"> AVG
                                            </label>
                                        </div>
                                    </div>

                                    <!-- min max for numeric values -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['qualifiedColumnName']]['type'] && includes(this.statisticSet[col.value['qualifiedColumnName']]['type'], 'range') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName']) && this.statisticSet[col.value['qualifiedColumnName']]['isFull']">
                                        <p>Min - Max</p>
                                        <ng5-slider  id="slider" [(value)]="this.statisticSet[col.value['qualifiedColumnName']]['min']"
                                                     [(highValue)]="this.statisticSet[col.value['qualifiedColumnName']]['max']" [options]="this.statisticSet[col.value['qualifiedColumnName']]['options']" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['minMax']" (ngModelChange)="changeUserInput()"></ng5-slider>
                                    </div>

                                    <!-- column value for search -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['qualifiedColumnName']]['type'] && includes(this.statisticSet[col.value['qualifiedColumnName']]['type'], 'uniqueValues') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName']) && this.statisticSet[col.value['qualifiedColumnName']]['columnType'] == 'alphabetic' && this.statisticSet[col.value['qualifiedColumnName']]['isFull'] ">
                                        <p>Search</p>
                                        <div class="input-group mb-3" id="search">
                                            <span class="input-group-text" popover="Use *-character as wildcard, e.g. 'word*' searches for result starting with 'word'." triggers="mouseenter:mouseleave">search</span>
                                            <input type="text" class="form-control" placeholder="starts with" aria-label="starts with" aria-describedby="basic-addon1" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['startsWith']" (ngModelChange)="changeUserInput()">
                                        </div>
                                    </div>

                                    <!-- checkbox for unique values -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['qualifiedColumnName']]['type'] && includes(this.statisticSet[col.value['qualifiedColumnName']]['type'], 'uniqueValues') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['qualifiedColumnName']) && !(this.statisticSet[col.value['qualifiedColumnName']]['isFull']) && this.statisticSet[col.value['qualifiedColumnName']]['uniqueValues'].length ">
                                        <p>Unique Values</p>
                                        <div *ngFor="let val of this.statisticSet[col.value['qualifiedColumnName']]['uniqueValues']">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" [(ngModel)]="this.filteredUserInput[col.value['qualifiedColumnName']]['check' + val]" (ngModelChange)="changeUserInput()">
                                                  {{val}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



