<div *ngFor="let schema of stylingSet | keyvalue">
    <div *ngIf="_choosenTables && _choosenTables['column'] && includesSchema(_choosenTables['column'], schema.key)">
        <h5 class="my-2" *ngIf="hasMultipleSchemas()">{{schema.key}}</h5>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item" *ngFor="let table of filterHeaders(stylingSet[schema.key], _choosenTables, schema.key) | keyvalue">
                        <a [className]="this.activeHeaders[schema.key] === table.key ? 'nav-link active': 'nav-link'" (click)="addToHeader(schema.key, table.key)" >{{table.key}}</a>
                    </li>
                </ul>
            </div>


            <div class="card-body text-left">
                <div *ngFor="let table of stylingSet[schema.key] | keyvalue">
                    <div *ngIf="_choosenTables && _choosenTables['column'] && includesTable(_choosenTables['column'], table.key) && this.activeHeaders && this.activeHeaders[schema.key] === table.key">
                        <div *ngFor="let col of stylingSet[schema.key][table.key] | keyvalue">
                            <div *ngIf=" _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['fullColumnName'])">
                                <h5>{{col.key}}</h5>

                                <div class="row" [id]="this.statisticSet[col.value['fullColumnName']]['table']">
                                    <!-- sorting columns ascending, descending or off -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf=" _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['fullColumnName'])">
                                        <p>sort</p>
                                        <div class="btn-group btn-group-toggle" id="radio" data-toggle="buttons">
                                            <label [className]="this.filteredUserInput[col.value['fullColumnName']]['sorting'] == 'OFF' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="sort" value="OFF" id="{col.value['fullColumnName'] + 'sortOff'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['sorting']" (ngModelChange)="changeUserInput()"> off
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['fullColumnName']]['sorting'] == 'ASC' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="sort" value="ASC" id="{col.value['fullColumnName'] + 'ASC'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['sorting']" (ngModelChange)="changeUserInput()" > ascending
                                            </label>
                                            <label [className]="this.filteredUserInput[col.value['fullColumnName']]['sorting'] == 'DESC' ? 'btn btn-secondary active' : 'btn btn-secondary' ">
                                                <input type="radio" class="form-control" name="sort" value="DESC" id="{col.value['fullColumnName'] + 'DESC'}" autocomplete="off" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['sorting']" (ngModelChange)="changeUserInput()"> descending
                                            </label>
                                        </div>
                                    </div>

                                    <!-- min max for numeric values -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['fullColumnName']]['type'] && includes(this.statisticSet[col.value['fullColumnName']]['type'], 'range') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['fullColumnName'])">
                                        <label for="slider">value</label>
                                        <ng5-slider  id="slider" [(value)]="this.statisticSet[col.value['fullColumnName']]['min']"
                                                     [(highValue)]="this.statisticSet[col.value['fullColumnName']]['max']" [options]="this.statisticSet[col.value['fullColumnName']]['options']" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['minMax']" (ngModelChange)="changeUserInput()"></ng5-slider>
                                    </div>

                                    <!-- column value starts with -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['fullColumnName']]['type'] && includes(this.statisticSet[col.value['fullColumnName']]['type'], 'uniqueValues') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['fullColumnName']) && this.statisticSet[col.value['fullColumnName']]['columnType'] == 'alphabetic' && this.statisticSet[col.value['fullColumnName']]['isFull']">
                                        <label for="search">search</label>
                                        <div class="input-group mb-3" id="search">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">starts with</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="starts with" aria-label="starts with" aria-describedby="basic-addon1" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['startsWith']" (ngModelChange)="changeUserInput()">
                                        </div>
                                    </div>

                                    <!-- checkbox for unique values -->
                                    <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="this.statisticSet[col.value['fullColumnName']]['type'] && includes(this.statisticSet[col.value['fullColumnName']]['type'], 'uniqueValues') && _choosenTables && _choosenTables['column'] && includes(_choosenTables['column'], col.value['fullColumnName']) && !(this.statisticSet[col.value['fullColumnName']]['isFull']) && this.statisticSet[col.value['fullColumnName']]['uniqueValues'].length ">
                                        <label for="check">select</label>
                                        <div *ngFor="let val of this.statisticSet[col.value['fullColumnName']]['uniqueValues']">
                                            <div class="form-check" id="check">
                                                <input class="form-check-input" type="checkbox" id="defaultCheck1" [(ngModel)]="this.filteredUserInput[col.value['fullColumnName']]['check' + val]" (ngModelChange)="changeUserInput()">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    {{val}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="border-top border-secondary my-2" *ngIf="hasMultipleCols(schema.key, table.key, col.key)"> </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



