.refinement-button {
  margin-bottom: 0.5rem;
}

input[type=range] {
  background: grey;
  height: 0.8rem;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
  background: cornflowerblue;
  height: 0.9rem;
}
