<!--<div id="toast-wrapper">
    <ng-container *ngFor="let toast of toasts | keyvalue :orderToasts">
        <div class="toast fade show" [ngClass]="getToastClass( toast.value )">
            <div class="toast-header">
                <strong class="mr-auto" [ngClass]="{'hasGeneratedQuery': toast.value.generatedQuery}"
                        (click)="copyGeneratedQuery(toast.value)">
                    {{toast.value.title}}
                    <i class="fa fa-code" *ngIf="toast.value.generatedQuery"></i>
                </strong>
                <small class="text-muted">{{toast.value.timeAsString}}</small>
                <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button"
                        (click)="closeToast(toast.key)">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body" (click)="showStackTraceModal(toast.value)">
                {{toast.value.message}}
            </div>
        </div>
    </ng-container>
</div>-->

<c-toaster class="p-3" position="fixed" [placement]="placement"></c-toaster>


<!-- stackTrace modal -->

<!--
<ng-template #exceptionTemplate let-e="e">
    <ng-container *ngIf="e">
        <p *ngIf="e.detailMessage" class="font-weight-bold">{{e.detailMessage}}</p>
        <p *ngIf="e.message" class="font-weight-bold">{{e.message}}</p>
        <ul *ngIf="e.stackTrace">
            <li *ngFor="let s of e.stackTrace">at {{s.declaringClass}}.{{s.methodName}}(<span
                    class="text-primary">{{s.fileName}}:{{s.lineNumber}}</span>)
            </li>
        </ul>
        <ng-container *ngIf="e.cause">
            caused by:
            <ng-container *ngTemplateOutlet="exceptionTemplate; context:{e: e.cause}"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>
-->


