<h2>Tabellen auswählen</h2>


<div *ngFor="let db of data">
    <h3>📦 {{ db.name }}</h3>
    <div *ngFor="let schema of db.schemas">
        <h4>📁 {{ schema.name }}</h4>

        <ul>
            <li *ngFor="let table of schema.tables">
                <label>
                    📄 {{ table.name }}
                </label>

                <ul>
                    <li *ngFor="let attr of table.attributes">
                        <label>
                            <input type="checkbox" [(ngModel)]="attr.selected" />
                            <span>🔹 {{ attr.name }} : {{ attr.type }}</span>
                        </label>
                        <ul *ngIf="attr.sampleValues && attr.sampleValues.length > 0">
                            <li *ngFor="let val of attr.sampleValues">
                                <span style="font-size: smaller; color: gray">→ {{ val }}</span>
                            </li>
                        </ul>
                        <ul>
                            <li *ngFor="let meta of selectedMetadata">{{ meta }}</li>
                        </ul>
                    </li>
                </ul>
        </ul>
    </div>
</div>

<div style="text-align: right; margin-top: 1rem">
    <button (click)="close()">Schließen</button>
    <button (click)="showSelectedMetadata()">Ausgewählte anzeigen</button>
    <button (click)="sendMetadataInfos()">Sende Metadaten</button>
</div>
