<div [ngClass]="isInsideResults ? '' : 'map-margin' " >
    <div class="map-container" [ngClass]="isInsideResults ? 'inside-results' : '' " >
        <div id="map"></div>
        <div *ngIf="this.loading()" class="map-overlay">
            <div class="spinner-container">
                <c-spinner color="light">
                    <!--                <span class="visually-hidden">{{ this.isLoadingMessage }}</span>-->
                    <span class="visually-hidden">Loading...</span>
                </c-spinner>
                <!--            <span>{{ this.isLoadingMessage }}</span>-->
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!--    <button *ngIf="this.canRerenderLayers" (click)="this.layerSettings.rerenderButtonClicked()"-->
        <!--            class="shadow-lg render-button" cButton color="primary">Refresh layers-->
        <!--    </button>-->
    </div>
</div>


<c-row class="row" *ngIf="$result()">
    <c-col class="col-lg-12">
        <nav aria-label="Page navigation" class="float-right" *ngIf="$result().highestPage > 1">
            <c-pagination>
                <li cPageItem *ngFor="let p of pagination" [active]="p.active" [disabled]="p.disabled">
                    <a cPageLink (click)="paginate(p)" [routerLink]="[]">{{ p.label }}</a>
                </li>
            </c-pagination>
        </nav>
    </c-col>
</c-row>
