.map-container {
  position: relative;
  min-height: 600px;
  border: 1px solid lightgray;
}

#map {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.map-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  display: grid;
  background: rgba(0, 0, 0, 0.1);
  place-items: center;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.render-button {
  position: absolute;
  z-index: 3;
  bottom: 2rem;
  right: 2rem;
}

.spinner-container > span {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}


.leaflet-overlay-pane > svg {
  transition: opacity 50ms ease-in-out;
}