<c-row class="row" style="position: relative;">
    <ng-container *ngIf="exploreByExampleEnabled()">
        <c-col class="col-lg-12">
            <h4>Explore by Example</h4>
            <p class="d-inline-block">Select columns from the left sidebar to get started. As soon as all needed columns
                have been selected, the process can be started with Start Process.</p>

            <div class="float-right d-flex">
                <p class="d-inline-block"> Tutorial Mode </p>
                <label class="switch switch-pill switch-primary" id="switch-tutorial">
                    <input type="checkbox" class="switch-input" [(ngModel)]="this.tutorialMode">
                    <span class="switch-slider"></span>
                </label>
            </div>
        </c-col>
        <c-col class="col-lg-12">
            <button type="button" id="explore-button" class="btn btn-primary" (click)="selectedColumns()">Start
                Process
            </button>
            <!--<button id="infoExploreProcess" type="button" class="btn btn-primary float-right"  (click)="openModal(informationExploreProcess)">Information Explore Process</button>-->
        </c-col>
    </ng-container>
    <ng-container *ngIf="!exploreByExampleEnabled()">
        <c-col class="col-lg-12">
            <p>This version of Polypheny does not come bundled with Explore-By-Example due to licencing. To enable
                Explore-By-Example, Polypheny can be built yourself following this guide:</p>
            <a href="https://polypheny.org/documentation/Setup/">Polypheny Documentation</a>
        </c-col>
    </ng-container>
</c-row>


<ng-template #informationExploreProcess>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Classification Process</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Please select "true" or "false" for at least eight entries in the table. It is important that both "true" and
        "false" are selected so that the system can evaluate the selection.
        <img [src]="tableModeImage" alt="tutorial mode image" width="700px">
        As soon as eight entries are selected the "Start Classification" buttons appears and if pressed the
        classification starts.
    </div>
</ng-template>

<c-row class="row" *ngIf="resultSet && resultSet.data">
    <c-col class="col-lg-12" style="padding-bottom: 1em;">
        <h5>Query Result</h5>
        <app-data-table [result]="resultSet" [config]="tableConfig" [loading]="loading" [tutorialMode]="tutorialMode"
                        [exploreId]="exploreId"></app-data-table>
    </c-col>
</c-row>
