<div class="row">
  <h5>Database: {{dbId}}</h5>
</div>
<div class="row" style="position: relative;">
  <div class="col-lg-12 col-sm-12">

    todo: avoid dropping same element twice
    <br>
    todo: work with ng-model
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">select</span>
      </div>
      <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
      <div class="form-control fit" id="selectBox" (treeDrop)="onTreeDrop($event)" [treeAllowDrop]="true">
        <div class="btn btn-primary dbCol">col1 <span class="del">&times;</span></div>
        <div class="btn btn-primary dbCol">col2 <span class="del">&times;</span></div>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">from</span>
      </div>
      <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
      <div class="form-control fit" id="fromBox">
        <div class="btn btn-primary dbTable">a</div>
        <div class="btn btn-primary dbTable">b</div>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">SQL</span>
      </div>
      <textarea class="form-control" rows="4" id="sqlInput">WHERE a.col1 = b.col2</textarea>
      <!--<input type="text" id="additionalSQL" class="form-control" placeholder="additional SQL" aria-label="SQL" aria-describedby="basic-addon1">-->
    </div>

    <div id="generatedSQL">{{generatedSQL}}</div>

  </div>

</div>
