.form-control.fit{
  display: inline-table;
}
.dbCol, .dbTable{
  margin-right: 10px;
  margin-bottom: 10px;
}
.dbTable{
  font-size: 1em;font-weight:normal;
}
#tablesList li{
  cursor: grab;
}
.del{
  cursor: pointer;
}
#joinConditionBox {
  min-height: 4em;
}
#sqlInput {
  min-height: 2.5em;
}
#selectBox {
  padding: 10px;
  padding-bottom: 0;
}
