.form-control.fit{
  display: inline-table;
}
.dbCol, .dbTable{
  margin-right: 10px;
}
#tablesList li{
  cursor: grab;
}

/*.sortablePlaceholder{
  background: black;
  width: 50px;
  height: 20px;
  padding: 1em;
}*/

/*.helper{
  background-color: black;
  padding: 0.2em;
  max-width: 10px;
  overflow: hidden;
}*/
