.small-col {
  width: 1em;
  text-align: center;
}

.hidden-col, .hidden-col:hover {
  color: gray;
}

.add-col {
  cursor: pointer;
}

.rename {
  cursor: pointer;
}

#sourceTable .parameter {
  display: flex;
}

app-delete-confirm, .rename {
  visibility: hidden;
}

tr:hover app-delete-confirm, tr:hover .rename {
  visibility: visible;
}

.systemAdaption{
  position: relative;
  padding-bottom: 0 !important;
  display: block;
  //height: 94%;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 0.4rem;
  //border: 1px solid #e4e7ea;
  //line-height: 2.4em;//for .switch

}
