<div class="row">

    <app-policy-collapse class="col-6" *ngIf="policySet!=null" [policyInfo]="policySet" [kind]="activePoliciesKind" [storeInfo]="storeInfo" (policyChange)="deletePolicy($event)" (changeBoolValue)="setBooleanPolicies($event)"></app-policy-collapse>

    <app-policy-collapse class="col-6" *ngIf="policySetToChoose !=null" [policyInfo]="policySetToChoose" [kind]="addPoliciesKind" [storeInfo]="storeInfo" (policyChange)="addPolicy($event)" (changeBoolValue)="setBooleanPolicies($event)"></app-policy-collapse>

    <div class="col-6">
        <div class="col-12">


            <div class="accordion" id="systemAdaption">
                <div class="card">
                    <div class="card-header " id="headingOne1">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-target="#collapseOne">
                                Adapt System
                            </button>
                        </h5>
                    </div>

                    <div class="card-body">
                        <div>
                            <button class="btn btn-primary" (click)="selfAdaptSystem()">
                                Adapt Polypheny
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
