<div [ngStyle]="getStyle()">
    @switch (type) {
        @case ('IMAGE') {
            <img [src]="src"/>
        }
        @case ('VIDEO') {
            <video controls #video id="videoPlyr">
                <source [src]="src">
                Your browser does not support the video tag.
            </video>
        }
        @case ('AUDIO') {
            <audio controls #audio id="audioPlyr">
                <source [src]="src">
                Your browser does not support the audio element.
            </audio>
        }
    }
</div>
