<c-modal-content>
    <c-modal-header>
        <h4 cModalTitle>{{ isNew() ? 'Connect to Docker instance' : 'Edit instance' }}</h4>
        <button (click)="close()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form cRow [gutter]="{gy:2}">
            @if (!isNew()) {
                <c-input-group>
          <span cInputGroupText cTooltipPlacement="left" cTooltip="Internal ID of this Dockerinstance">
            ID
          </span>
                    <input cFormControl type="text" id="idField" name="id" [(ngModel)]="id" readonly="true">
                </c-input-group>
            }

            <c-input-group>
        <span cInputGroupText cTooltipPlacement="left" cTooltip="IP/Hostname of the machine with Docker running">
          Host
        </span>
                <input cFormControl type="text" id="hostField"
                       name="hostname" (input)="hostInput()"
                       [(ngModel)]="hostname" [disabled]="lock"
                       required>
            </c-input-group>

            <c-input-group>
          <span cInputGroupText cTooltipPlacement="left" cTooltip="Alias to use for this machine within Polypheny">
            Alias
          </span>
                <input cFormControl type="text" id="aliasField"
                       name="alias" (input)="aliasInput()"
                       [(ngModel)]="alias" [disabled]="lock"
                       required>
            </c-input-group>

            @if (!isNew()) {
                <c-input-group>
              <span cInputGroupText cTooltipPlacement="left" cTooltip="Is Polypheny connected to this instance?">
                Connected
              </span>
                    <input id="connectedField" [class]="'form-control ' + (connected === true ? 'bg-success-subtle' : connected === false ? 'bg-danger-subtle' : 'bg-secondary-subtle')" type="text" name="connected" [(ngModel)]="connected" readonly="true">
                    <button cButton class="cil-reload" (click)="pingInstance()" [disabled]="lock"></button>
                </c-input-group>
            }

            <details #advanced>
                <summary>Advanced settings</summary>
                <c-input-group>
              <span cInputGroupText cTooltipPlacement="left" cTooltip="Registry to pull containers from">
                Registry
              </span>
                    <input cFormControl type="text" id="registryField"
                           name="registry" (input)="modified = true"
                           [(ngModel)]="registry" [disabled]="lock"
                           required
                           placeholder="Use global default">
                    <div class="form-text mb-3">Leave empty to use the default registry for this Polypheny instance</div>
                </c-input-group>

                <c-input-group>
                <span cInputGroupText cTooltipPlacement="left" cTooltip="Port for communication">
                  Communication Port
                </span>
                    <input cFormControl type="number" id="communicationPortField"
                           min="1" max="65535"
                           name="communicationPort"
                           [(ngModel)]="communicationPort" [disabled]="!isNew() || lock"
                           placeholder="7001">
                </c-input-group>
                <div class="form-text mb-3">Leave empty to use the default port</div>

                <c-input-group>
                  <span cInputGroupText cTooltipPlacement="left" cTooltip="Port for handshake">
                    Handshake Port
                  </span>
                    <input cFormControl type="number" id="handshakePortField"
                           min="1" max="65535"
                           name="handshakePort"
                           [(ngModel)]="handshakePort" [disabled]="!isNew() || lock"
                           placeholder="7002">
                </c-input-group>
                <div class="form-text mb-3">Leave empty to use the default port</div>

                <c-input-group>
                    <span cInputGroupText cTooltipPlacement="left" cTooltip="Port for proxy">
                      Proxy Port
                    </span>
                    <input cFormControl type="number" id="proxyPortField"
                           min="1" max="65535"
                           name="proxyPort"
                           [(ngModel)]="proxyPort" [disabled]="!isNew() || lock"
                           placeholder="7003">
                </c-input-group>
                <div class="form-text mb-3">Leave empty to use the default port</div>
            </details>
        </form>
        @if (handshake !== null) {
            <app-dockerhandshake (cancel)="cancelHandshake()" (redo)="restartHandshake()" [handshake]="handshake"></app-dockerhandshake>
        }
    </c-modal-body>
    <c-modal-footer>
        <button cButton color="secondary" (click)="close()">Close</button>
        @if (isNew()) {
            <input cButton color="success" class="me-2" (click)="addDockerInstance()" type="submit" value="Add" [disabled]="lock">
        }
        @if (!isNew()) {
            <button cButton color="primary" class="me-2" (click)="updateDockerInstance()" [disabled]="!modified || lock">Save</button>
        }
        @if (!connected && handshake === null) {
            <button cButton color="primary" class="me-2" (click)="reconnectToDockerInstance()" [disabled]="lock">Reconnect</button>
        }
        <!--<button cButton color="danger" class="me-2" (click)="removeDockerInstance();" [disabled]="lock || handshake !== null">Delete</button>-->
    </c-modal-footer>
</c-modal-content>
