.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card {
  width: 300px;
  margin-bottom: 1em;
  margin-right: 1em;
  position: relative;
}

.rel-width {
  .card {
    width: 75%;
  }
}

.delete-card, .edit-card {
  display: none;
  position: absolute;
  z-index: 2;
  background: white !important;
  color: black;
  box-shadow: none;
}

.delete-card:hover, .edit-card:hover {
  border-color: #505050;
}

.delete-card {
  top: 5px;
  right: 5px;
}

.edit-card {
  right: 3.5em;
  top: 5px;
}

.delete-card:hover {
  color: #dc3545 !important;
}

.card:hover .delete-card, .card:hover .edit-card {
  display: initial;
}

.key {
  color: #656565;
}

//.list-group-item
.card .list-group {
  border: none;
}

.card .list-group-item {
  margin: 0;

  .multimedia {
    padding: 0;
  }
}

.card .list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  //https://stackoverflow.com/questions/11008614
  overflow: hidden;
}

.card.json-card .list-group-item:first-child {
  overflow: inherit;
}

.list-group-item {
  img, video, audio {
    width: 100%;
  }

  audio {
    display: block;
  }
}

.multimedia {
  padding: 0;
}

progressbar {
  height: 5px;
}

//.download
.list-group-item .download {
  opacity: .4;
  text-decoration: none;
  color: black;
  padding: 0.3em 0.5em;
}

.list-group-item:hover .download {
  opacity: .7;
}

.list-group-item .download:hover {
  opacity: 1;
}

.toggle-insert {
  width: 50px;
  height: 50px;
  margin-top: 90px;
  flex: 0;
}
