.collapse-trigger {
  cursor: pointer;
  color: #20a8d8 !important;
}

//.card .card-body:not(:last-child), .card app-render-item:not(:last-child), app-render-item{
.card app-render-item:not(:last-child), .collapse-trigger:not(.is-collapsed) {
  border-bottom: 1px solid;
  border-color: inherit;
  display: block;
}

.card-header {
  border: none; //border schon vom app-render-item
}

.card-header .btnWrapper {
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
}

.card-body p {
  margin: 0;
}

#refreshPage {
  position: absolute;
  top: 0;
  right: 0;
}

.refreshGroup {
  box-shadow: none !important;
  background: transparent;
  float: right;
  width: 25px;
  height: 25px;
  line-height: 25px;

  i {
    font-size: 0.85em;
    margin-top: -4px !important;
  }
}

.refreshGroup:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.refreshGroup:active {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
