@if ($data()) {
    <div class="mb-3">
        @if ($data().name || $data().description) {
            <c-row>
                <c-col class="col-md-12">
                    @if ($data().name) {
                        <h1>{{ $data().name }}</h1>
                    }
                    @if ($data().description) {
                        <p>{{ $data().description }}</p>
                    }
                    @if (!$data().description) {
                        <br>
                    }
                    <app-reload-button [loading]="refreshingPage" [condition]="$data().refreshable"
                                       [action]="refreshPage"></app-reload-button>
                </c-col>
            </c-row>
        }
        @if (isFullWidth()) {
            <c-row [gutter]="4">
                @for (item of $data().groups | keyvalue : order; track item.key) {
                    <c-col [md]="12">
                        <ng-container *ngTemplateOutlet="groupCard; context: { item: item }"></ng-container>
                    </c-col>
                }
            </c-row>
        } @else {
            <div class="masonry"> <!--items fill up the first col, then the second one-->
                @for (item of $data().groups | keyvalue : order; track item.key) {
                    <div class="masonry-item">
                        <ng-container *ngTemplateOutlet="groupCard; context: { item: item }"></ng-container>
                    </div>
                }
                <div class="masonry-item filler-item"></div>
            </div>
        }
    </div>
}

<ng-template #groupCard let-item="item">
    <c-card [className]="getCardClass(item.value.color)">
        <c-card-header>
            {{ item.value.name }}
            @if (item.value.refreshable) {
                <button cButton color="secondary" class="btn-circle refreshGroup"
                        [ngClass]="{'rotating': refreshingGroup[item.value.id]}"
                        (click)="refreshGroup(item.value.id)"
                ><i class="icon-reload"></i></button>
            }
        </c-card-header>
        @for (li of item.value.informationObjects | keyvalue : order; track li.key) {
            <c-card-body>
                <app-render-item [li]="li.value"></app-render-item>
            </c-card-body>
        }
    </c-card>
</ng-template>