<div class="preview-wrapper">
    <button cButton color="primary" class="btn-circle topRight" (click)="close()">
        <i class="fa fa-close"></i>
    </button>

    <c-row>
        <c-col>
            <h2 class="page-title">Preview Selection</h2>
            <br>
        </c-col>
    </c-row>
</div>

<ng-container *ngIf="ready">

    <ng-container *ngIf="!isDocumentAdapter; else docPreview">

        <div class="wrapper">
            <div class="dataPreview" *ngFor="let tableName of getPreviewKeys()">
                <h4>{{ tableName }}</h4>

                <table>
                    <thead>
                    <tr>
                        <th *ngFor="let col of getPreviewColumns(tableName)">
                            {{ col }}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let row of preview[tableName]">
                        <td *ngFor="let col of getPreviewColumns(tableName)" style="opacity: .3;">
                            {{ row[col] }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
            </div>

            <div class="dataMeta">
                <h2>Metadata</h2>

                <app-metadata-tree
                        *ngIf="metadata"
                        [node]="metadata"
                        (columnToggle)="onColumnToggle($event)"
                        (autoSelectRemoved)="onAutoSelect($event)">
                </app-metadata-tree>
            </div>
        </div>
        <table class="changelog" *ngIf="changeLog.length">
            <thead>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let entry of changeLog"
                [ngClass]="{
                    critical: entry.severity === ChangeStatus.CRITICAL,
                    warning : entry.severity === ChangeStatus.WARNING
        }">
                <td>{{ entry.timestamp | date:'short' }}</td>
                <td>{{ entry.severity }}</td>
                <td>
                    {{ entry.messages | json }}
                </td>
            </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-container>
        <ng-template #docPreview>
            <div class="cardGrid">
                <app-doc-card
                        *ngFor="let c of cards"
                        [node]="c"
                        (toggle)="onCardToggle($event)">
                </app-doc-card>
            </div>

            <h2>Metadata</h2>
            <app-metadata-tree [node]="metadata"
                               (autoSelectRemoved)="onAutoSelect($event)">
            </app-metadata-tree>
        </ng-template>
    </ng-container>
</ng-container>

<div>
    <button *ngIf="this.mode === 'deploy'" cButton size="sm" color="primary" (click)="sendMetadata()"> Send Metadata!
    </button>
    <button *ngIf="this.mode === 'change'" cButton size="sm" color="primary" (click)="sendAck()"> Send changes !
    </button>
    <button *ngIf="this.mode === 'config'" cButton size="sm" color="primary" (click)="sendConfigChange()"> Send config
        !
    </button>
</div>

