<div class="input-group" style="align-items: center;">

  <ng-container [ngSwitch]="header.dataType">

    <!-- multiple cases: from: https://stackoverflow.com/questions/40176061/two-switch-case-values-in-angular2/40177408#40177408 -->
    <ng-container *ngSwitchCase="_types.numericTypes().includes(header.dataType.toLowerCase()) ? header.dataType : ''">
      <!-- use input type text to prevent problems when having current values such as "12." (dot at the end) -->
      <input type="text" inputmode="decimal" class="form-control form-control-sm" [value]="value" [disabled]="value === null && header.nullable === true" (keyup)="onNumericValueChange($event.target.value, inputElement, $event)" #inputElement>
      <div class="input-group-append" *ngIf="header.nullable">
        <div class="btn btn-sm" [ngClass]="{'btn-primary': value === null || value == undefined, 'btn-light': value !== null}" (click)="onNumericValueChange( triggerNull(value), inputElement )">null</div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="_types.booleanTypes().includes(header.dataType.toLowerCase()) ? header.dataType : ''">
      <div class="form-check form-check-inline">
          <label class="switch switch-label switch-pill switch-outline-primary-alt switch-sm">
            <input type="checkbox" class="switch-input" [id]="'insertRow'+header.name" [checked]="value === true"
                   [disabled]="value === null && header.nullable === true"
                   (change)="onValueChange($event.target.checked)">
            <span class="switch-slider"></span>
          </label>
        <label class="form-check-label insertRowLabel"
               [for]="'insertRow'+header.name">{{ value === null ? 'null' : value }}</label>
        <div class="input-group-append" *ngIf="header.nullable">
          <div class="btn btn-sm"
               [ngClass]="{'btn-primary': value === null || value == undefined, 'btn-light': value !== null}"
               (click)="onValueChange( triggerNull(value) )">null
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="_types.dateTimeTypes().includes(header.dataType.toLowerCase()) ? header.dataType : ''">
      <input type="text" class="form-control form-control-sm fPickerInput" [value]="value"
             [placeholder]="header.dataType.toLowerCase() === 'time' ? 'Select time..': 'Select date..'" #flatpickr>
      <div class="input-group-append" *ngIf="header.nullable">
        <div class="btn btn-sm" [ngClass]="{'btn-primary': value == null, 'btn-light': value !== null}"
             (click)="clearFlatpickr()">null
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="_types.multimediaTypes().includes(header.dataType.toLowerCase()) ? header.dataType : ''">
      <label [for]="'customFile'+randomId" class="form-control form-control-sm" style="position: relative; text-align: left">
        <input type="file" style="display: none;" [id]="'customFile'+randomId" (change)="onFileChange($event.target.files)">
        {{inputFileName}}</label>
      <div class="input-group-append">
        <div class="btn btn-sm btn-primary mb-0" *ngIf="value !== null" (click)="onFileChange(null, $event);">null</div>
        <label [for]="'customFile'+randomId" class="btn btn-sm btn-light mb-0" *ngIf="value === null">Browse</label>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <input type="text" class="form-control form-control-sm" [value]="value" [maxLength]="header.precision || 524288"
             [disabled]="value === null && header.nullable === true"
             (keyup)="onValueChange($event.target.value, $event)">
      <div class="input-group-append" *ngIf="header.nullable">
        <div class="btn btn-sm"
             [ngClass]="{'btn-primary': value === null || value == undefined, 'btn-light': value !== null}"
             (click)="onValueChange( triggerNull(value) )">null
        </div>
      </div>
    </ng-container>

  </ng-container>

</div>
