<form [formGroup]="myForm" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="lang">
                    <label *ngFor="let lang of languages" [btnRadio]="lang" class="btn btn-light"
                           role="btn">{{lang}}</label>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="form-group">
                <div id="sql-editor" #editor style="height: 200px"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <ul class="list-group" id="history">
                <li class="list-group-item header">
                    History
                </li>
                <li class="list-group-item empty" *ngIf="history.size == 0">(empty)</li>
                <li class="list-group-item history-item" *ngFor="let h of history | keyvalue:orderHistory" (click)="applyHistory( h.value.query, false )" (dblclick)="applyHistory( h.value.query, true)">
                    <small class="time">{{h.value.displayTime()}}</small>
                    {{h.value.query}}
                </li>
            </ul>
        </div>

        <div class="col-lg-12" style="margin-bottom: 1rem;">
            <button type="button" class="btn btn-light" (click)="debugOptionsCollapsed = !debugOptionsCollapsed"
                    [attr.aria-expanded]="!debugOptionsCollapsed " aria-controls="debugOptionsWrapper">debug options
            </button>
            <div id="debugOptionsWrapper" [collapse]="debugOptionsCollapsed" class="">

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="checkbox1">
                    <label class="custom-control-label" for="checkbox1">option1</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                    <label class="custom-control-label" for="checkbox2">option2</label>
                </div>
                <select class="custom-select custom-control custom-control-inline">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
        </div>

        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary" (click)="submitQuery()">run</button>
        </div>
    </div>
</form>

<div class="row" style="padding-bottom: 2em;">
    <div id="debug-info col-lg-12" *ngIf="resultSet && resultSet.info">
        <hr>
        <span class="font-weight-bold">info</span>
        <br>
        <ng-container *ngFor="let i of resultSet.info | keyvalue">
            {{i.key}}: {{i.value}}<br>
        </ng-container>
    </div>

    <div id="error" class="text-danger col-lg-12" *ngIf="resultSet && resultSet.error">
        <hr>
        <strong>error:</strong>
        <p *ngIf="resultSet.error">{{resultSet.error}}</p>
    </div>

    <div class="col-lg-12" id="result-wrapper" *ngIf="resultSet && resultSet.data">
        <hr>
        <app-data-table [resultSet]="resultSet" [config]="tableConfig"></app-data-table>
    </div>

    <!--<div class="col-md-12">
        <app-graph chartType="bar"></app-graph>
    </div>-->
</div>
