h5 {
  margin-bottom: 1em;
}
.btn.disabled {
  cursor: not-allowed;
}
.del{
  visibility: hidden;
  cursor: pointer;
}
tr:hover .del{
  visibility: visible;
}
.del:hover{
  color: #dc3545;
}
label:not(.disabled){
  cursor: pointer;
}
label.disabled{
  color: grey;
}
