h5 {
  margin-bottom: 1em;
}
.btn.disabled {
  cursor: not-allowed;
}
.del{
  visibility: hidden;
  cursor: pointer;
}
tr:hover .del{
  visibility: visible;
}
.del:hover{
  color: #dc3545;
}
label:not(.disabled){
  cursor: pointer;
}
label.disabled{
  color: grey;
}
.checkbox-wrapper{
  flex: 1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #e4e7ea;
}
#exportTableModal .modal-footer{
  position: relative;
}
.progress-wrapper{
  position: absolute;
  top: 0;
  left: -4px;
  right: 0;
}
.progress-wrapper progressbar {
  border-radius: 0;
  height: 5px;
}

.dropdown-item:focus {
  background-color: #ebeef0;
  color: black;
}
