@if (currentRoute().includes( '.' )) {
    @switch (namespace()?.dataModel) {
        @case (NamespaceType.RELATIONAL) {
            @if (entity()?.entityType === EntityType.SOURCE) {
                <app-edit-source-columns
                        [currentRoute]="currentRoute()"
                        [currentTab]="currentTab()"
                        [namespace]="namespace"
                        [entity]="entity"
                        [stores]="stores"
                        [addableStores]="addableStores"
                        [placements]="placements"
                        [partitions]="partitions"
                        [allocations]="allocations"></app-edit-source-columns>
            } @else {
                <app-edit-columns
                        [route]="currentRoute()"
                        [currentTab]="currentTab()"
                        [namespace]="namespace"
                        [entityIn]="entity()"
                        [stores]="stores"
                        [addableStores]="addableStores"
                        [placements]="placements"
                        [partitions]="partitions"
                        [allocations]="allocations"></app-edit-columns>
            }

        }
        @case (NamespaceType.DOCUMENT) {
            <app-document-edit-collection
                    [currentRoute]="currentRoute()"
                    [currentTab]="currentTab()"
                    [namespace]="namespace"
                    [entity]="entity"
                    [stores]="stores"
                    [addableStores]="addableStores"
                    [placements]="placements"
                    [partitions]="partitions"
                    [allocations]="allocations"></app-document-edit-collection>
        }
    }
} @else {
    @switch (namespace()?.dataModel) {
        @case (NamespaceType.RELATIONAL) {
            <app-edit-tables
                    [currentRoute]="currentRoute"
                    [namespace]="namespace"
                    [entity]="entity"
                    [stores]="stores"
                    [addableStores]="addableStores"
                    [placements]="placements"
                    [partitions]="partitions"
                    [allocations]="allocations"></app-edit-tables>

        }
        @case (NamespaceType.DOCUMENT) {
            <app-document-edit-collections
                    [currentRoute]="currentRoute"
                    [namespace]="namespace"
                    [entity]="entity"
                    [stores]="stores"
                    [addableStores]="addableStores"
                    [placements]="placements"
                    [partitions]="partitions"
                    [allocations]="allocations"></app-document-edit-collections>

        }
        @case (NamespaceType.GRAPH) {
            <app-graph-edit
                    [currentRoute]="currentRoute()"
                    [currentTab]="currentTab()"
                    [namespace]="namespace"
                    [entity]="entity"
                    [stores]="stores"
                    [addableStores]="addableStores"
                    [placements]="placements"
                    [partitions]="partitions"
                    [allocations]="allocations"></app-graph-edit>
        }
    }
}
