<div class="row" [hidden]="showingAnalysis">
  <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="form-group" style="height: 240px">
          <app-editor #editor id="sql-editor"></app-editor>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <ul class="list-group" id="history">
          <li id="history-item-head" class="list-group-item header">
              <div>History</div>
              <div>
                <button class="btn btn-primary btn-sm" (click)="openHistorySearch()" 
                        [hidden]="showSearch">
                        <i class="fa fa-search"></i>
                </button>
                <input  #historySearchInput type='text'  
                        class='form-control form-control-sm'
                        [(ngModel)]="historySearchQuery" 
                        (keydown.esc)="closeHistorySearch()"
                        [hidden]="!showSearch" />
                <i  class="fa fa-times text-muted search-close" 
                    (click)="closeHistorySearch()" 
                    [hidden]="!showSearch"></i>
              </div>
          </li>
          <li class="list-group-item empty" 
              *ngIf="(history | searchFilter:historySearchQuery).size == 0">(empty)</li>
          <li class="list-group-item history-item"
              *ngFor="let h of (history | searchFilter:historySearchQuery) | keyvalue:orderHistory"
              (click)="applyHistory( h.value.query, false )"
              (dblclick)="applyHistory( h.value.query, true)">
              <div class="history-time-wrapper">
                <small class="time">{{h.value.displayTime()}}</small>
                <small class="time">{{h.value.fromNow()}}</small>
              </div>
              <div>{{_util.limitedString(h.value.query)}}</div>
              <span class="btn btn-sm btn-light del-hist-item" [ngClass]="{'cui-trash': confirmDeletingHistory!==h.key, 'fa fa-warning':confirmDeletingHistory===h.key}" (mouseout)="confirmDeletingHistory=null" (click)="deleteHistoryItem(h.key, $event)"></span>
              <!-- see https://stackoverflow.com/questions/44669340/how-to-truncate-text-in-angular2 -->
              <!--{{h.value.query}}-->
          </li>
      </ul>
  </div>

  <div class="col-lg-8 mb-3" [hidden]="showingAnalysis">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input" id="checkbox1" [(ngModel)]="analyzeQuery">
      <label class="custom-control-label" for="checkbox1">analyze query</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input" id="checkbox2" [(ngModel)]="saveInHistory">
      <label class="custom-control-label" for="checkbox2">save in history</label>
    </div>
    <button *ngIf="!loading" type="submit" class="btn btn-primary pull-right" (click)="submitQuery('sql')">Execute</button>
    <button *ngIf="!loading" type="submit" class="btn btn-primary pull-right mr-1" (click)="submitQuery('mql')">Execute Mongo Query</button>
      <button *ngIf="!loading" type="submit" class="btn btn-primary pull-right mr-1" (click)="formatQuery()">Format</button>
    <button *ngIf="loading" type="submit" class="btn btn-primary progress-bar-striped progress-bar-animated pull-right" disabled>Loading</button>
  </div>
</div>

<div class="row" [hidden]="showingAnalysis || loading">
    <div class="col-lg-12 pb-1" *ngIf="resultSets && resultSets.length > 1" style="display: flex; justify-content: space-between">
      <span style="padding-top: 0.25em">Click on a query to view its result and additional information.</span>
      <div id="collapse-btn-wrapper">
        <button class="btn btn-light btn-sm" (click)="collapseAll(true)" tooltip="expand all" container="body" placement="top" delay="500"><i class="fa fa-expand"></i></button>
        <button class="btn btn-light btn-sm ml-1" (click)="collapseAll(false)" tooltip="collapse all" container="body" placement="top" delay="500"><i class="fa fa-compress"></i></button>
      </div>
    </div>
    <div class="col-lg-12 mb-3" [ngClass]="{'accordion': resultSets && resultSets.length > 1}" id="results">
        <div class="card" *ngFor="let resultSet of resultSets; let i = index;">
            <div class="card-header" [ngClass]="{'pointer': resultSets.length > 1, 'open': collapsed[i]}" (click)="collapsed[i] = !collapsed[i]">
                <span>{{resultSet.generatedQuery}}</span>
              <span class="badge pull-right" [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
                <ng-container *ngIf="!resultSet.error">{{resultSet.affectedRows}}</ng-container>
                <ng-container *ngIf="resultSet.error">!</ng-container>
              </span>
            </div>

            <div [id]="'collapse'+i" class="collapse show" data-parent="#accordion">
                <div class="card-body" [collapse]="!collapsed[i] && resultSets.length !== 1">
                    <div class="text-danger" *ngIf="resultSet && resultSet.error">
                        <strong>Error:</strong>
                        <p class="mb-3">{{resultSet.error}}</p>
                    </div>

                    <div class="query-info">
                        <p *ngIf="resultSet && !resultSet.data && !resultSet.error" class="mb-3">
                          <i>Successfully executed</i>
                        </p>
                    </div>


                    <div class="col-lg-12 result-wrapper" *ngIf="resultSet && resultSet.data">
                        <app-data-view [resultSet]="resultSet" [config]="tableConfig"></app-data-view>
                      <p class="text-muted text-center small mt-1 mb-0" *ngIf="resultSet.hasMoreRows">Only {{resultSet.data.length}} rows are being displayed. To fetch more rows, please specify a LIMIT clause.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-information-manager *ngIf="queryAnalysis" [data]="queryAnalysis" [zoom]="_breadcrumb.getMasonryZoom()" [hidden]="!showingAnalysis"></app-information-manager>
