<app-toast></app-toast>
<ng-container [ngSwitch]="route">

  <!-- adapters -->
  <div class="row" *ngSwitchCase="'addStore'">
    <button class="btn btn-circle btn-primary topRight" [routerLink]="['./../']"><i class="fa fa-close"></i></button>

    <div class="col-lg-12" *ngIf="adapters">
      <table class="table table-hover table-sm table-bordered table-striped" id="adapter-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deploy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adapter of adapters">
            <td class="center">
              <img *ngIf="getLogo(adapter.name)" [src]="getLogo(adapter.name)" alt="">
              <i *ngIf="!getLogo(adapter.name)" class="fa fa-database"></i>
            </td>
            <td><strong>{{adapter.name}}</strong></td>
            <td>{{adapter.description}}</td>
            <td class="center">
              <button class="btn btn-sm btn-primary" (click)="initAdapterSettings(adapter)">Deploy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- stores -->
  <div class="row" *ngSwitchDefault>
    <button class="btn btn-circle btn-primary topRight" [routerLink]="['./addStore']"><i class="fa fa-plus"></i></button>
    <div class="col-lg-12" id="stores">
      <div class="card-columns" [ngStyle]="{'column-count': _breadcrumb.getMasonryZoom()}">

        <div class="card" *ngFor="let store of stores">
          <div class="card-header">
            {{store.uniqueName}}
          </div>
          <div class="card-body">
            <img *ngIf="getLogo(store.adapterName)" [src]="getLogo(store.adapterName)" alt="" class="logo">
            <i *ngIf="!getLogo(store.adapterName)" class="logo fa fa-database"></i>
            Adapter: {{store.adapterName}}
          </div>
          <div class="card-footer bg-transparent">
            <button class="btn btn-danger" (click)="removeStore(store)" (mouseleave)="deletingStore = undefined">
              <i class="cui-trash" [ngClass]="{'cui-trash': store !== deletingStore, 'fa fa-warning': store === deletingStore}"></i>
            </button>
            <button class="btn btn-primary pull-right" (click)="initStoreSettings(store)">configure</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</ng-container>


<div bsModal #storeSettingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="editUserModal" (onHide)="onCloseModal()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" (click)="storeSettingsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- stores -->
      <div class="modal-body" *ngIf="editingStore && editingStore.settings">
        <form [formGroup]="editingStoreForm">
          <div class="form-group" *ngFor="let control of editingStoreForm.controls | keyvalue">
            <div class="input-group" *ngIf="!getAdapterSetting(editingStore, control.key).options">
              <div class="input-group-prepend">
                <label [for]="control.key" class="input-group-text">{{control.key}}</label>
              </div>
              <input type="text" class="form-control" [id]="control.key" [formControlName]="control.key" [ngClass]="validate(editingStoreForm, control.key)">
              <div class="invalid-feedback">required</div>
            </div>
            <div class="form-group" *ngIf="getAdapterSetting(editingStore, control.key).options">
              <div class="input-group select-wrapper">
                <div class="input-group-prepend">
                  <label class="input-group-text" [for]="control.key">{{control.key}}</label>
                </div>
                <select [id]="control.key" class="form-control" [formControlName]="control.key">
                  <option *ngFor="let option of getAdapterSetting(editingStore, control.key).options" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- adapters -->
      <div class="modal-body" *ngIf="editingAdapter && editingAdapter.settings">
        <form [formGroup]="adapterUniqueNameForm" (ngSubmit)="deploy()">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="adapterUniqueName" class="input-group-text">Unique name</label>
              </div>
              <input type="text" class="form-control" id="adapterUniqueName" formControlName="uniqueName" [ngClass]="validate(adapterUniqueNameForm, 'uniqueName')">
              <div class="invalid-feedback">{{getFeedback()}}</div>
            </div>
          </div>
        </form>
        <form [formGroup]="editingAdapterForm" (ngSubmit)="deploy()">
          <div class="form-group" *ngFor="let control of editingAdapterForm.controls | keyvalue">
            <div class="input-group" *ngIf="!getAdapterSetting(editingAdapter, control.key).options">
              <div class="input-group-prepend">
                <label [for]="control.key" class="input-group-text">{{control.key}}</label>
              </div>
              <input type="text" class="form-control" [id]="control.key" [formControlName]="control.key" [ngClass]="validate(editingAdapterForm, control.key)">
              <div class="invalid-feedback">required</div>
            </div>
            <div class="form-group" *ngIf="getAdapterSetting(editingAdapter, control.key).options">
              <div class="input-group select-wrapper">
                <div class="input-group-prepend">
                  <label class="input-group-text" [for]="control.key">{{control.key}}</label>
                </div>
                <select [id]="control.key" class="form-control" [formControlName]="control.key" class="form-control">
                  <option *ngFor="let option of getAdapterSetting(editingAdapter, control.key).options" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="position: absolute; left: 1rem;" (click)="storeSettingsModal.hide()">Close</button>
        <button *ngIf="editingStore" type="submit" class="btn btn-primary" (click)="saveStoreSettings()">Save</button>
        <button *ngIf="editingAdapter" type="submit" class="btn btn-primary" (click)="deploy()">Deploy</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
