
#collapse, #expand {
  color: black;
}

#search-tree {
  border: none;
}

#search-group, .btn-group {
  margin-bottom: 0.5rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.relAlgSymbol {
  font-weight: bold;
  width: 2rem;
  text-align: center;
  margin-right: 0.4em;
  display: inline-block;
}

.fa, .relAlgSymbol {
  width: 1rem;
  text-align: center;
}

.schema-button {
  margin-left: 1rem;

  &:hover {
    background: lighten(#20a8d8, 30%);
    cursor: pointer;
  }
}

.no-children {
  .hidden-expander {
    width: 0;
  }
}

.hidden-expander {
  opacity: 0;
}

.node-disabled {
  display: none;
}


.rounded-search {
  border-radius: 0.2rem !important;
  margin-left: 1px;
  margin-right: 1px;
}

.sidebar-toggle{
  position: absolute;
  top: 0;
  background-color: #3c4b64;
  transition: right .2s;
  right: -16px;

  &:hover{
    right: -30px;
    transition: right .2s;
  }
}

