#tree-outer-wrapper {
  padding: 1em;
  position: fixed;
  width: 200px;
  overflow: auto;
  height: 100%;
  padding-bottom: 120px;
}

#tree-inner-wrapper {
  display: flex;
  max-width: 160px;
  overflow: auto;

  .node-content-wrapper {
    width: 100%;
  }

  .node-content-wrapper-focused, .node-content-wrapper:hover {
    // color: black;
    background: lighten(#20a8d8, 30%);
  }

  .node-content-wrapper-active {
    // color: black;
    background: #20a8d8;
  }

  .separator, .separator .sidebarIcon {
    background: transparent !important;
    color: #6c757d !important; /* from bootstrap .text-muted */
    font-size: 0.75em;
    text-transform: uppercase;
    box-shadow: none;
    cursor: default;
    margin-top: 1em;
  }
}

.sidebarIcon {
  //redundant at the moment
  color: white;
  margin-right: 0.4em;
}

#collapse, #expand {
  color: black;
}

#search-tree {
  border: none;
}

#search-group {
  margin-bottom: 0.5rem;
}

.relAlgSymbol {
  font-weight: bold;
  width: 2rem;
  text-align: center;
  margin-right: 0.4em;
  display: inline-block;
}

.fa, .relAlgSymbol {
  width: 1rem;
  text-align: center;
}
