<div id="tree-outer-wrapper">

  <div class="input-group input-group-sm" id="search-group">
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control form-control-sm" placeholder="search" id="search-tree">
  </div>

  <span *ngIf="error">{{error}}</span>
  <div id="tree-inner-wrapper">

    <tree-root [nodes]="nodes" [options]="options" #tree>
      <ng-template #treeNodeWrapperTemplate let-node let-index="index">
        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <tree-node-expander [node]="node"></tree-node-expander>
          <div class="node-content-wrapper"
               [class.node-content-wrapper-active]="node.isActive"
               [class.node-content-wrapper-focused]="false"
               [class.separator]="node.data.isSeparator"
               [ngClass]="node.data.cssClass"
               (click)="node.mouseAction('click', $event)"
               (dblclick)="node.mouseAction('dblClick', $event)"
               (contextmenu)="node.mouseAction('contextMenu', $event)"
               (treeDrop)="node.onDrop($event)"
               [treeAllowDrop]="node.allowDrop"
               [treeDrag]="node"
               [treeDragEnabled]="node.allowDrag()">
            <span *ngIf="node.data.icon" [ngClass]="[node.data.icon, 'sidebarIcon']"></span>
            <span *ngIf="node.data.relAlgSymbol" [innerHTML]="node.data.relAlgSymbol" class="relAlgSymbol"></span>
            <span class="title" [innerHTML]="node.data.name"></span>
          </div>
        </div>
      </ng-template>
    </tree-root>

  </div>
</div>
