#tree-outer-wrapper{
  padding: 1em;
  position: fixed;
  width: 200px;
  overflow: scroll;
  height: 100%;
  padding-bottom: 120px;
}
#tree-inner-wrapper{
  display: flex;
  max-width: 160px;
  overflow: auto;

  .node-content-wrapper{
    width: 100%;
  }

  .node-content-wrapper-focused, .node-content-wrapper:hover{
    // color: black;
    background: lighten(#20a8d8, 30%);
  }
  .node-content-wrapper-active{
    // color: black;
    background: #20a8d8;
  }
}
.sidebarIcon{
  //redundant at the moment
  color: white;
}
#search-tree {
  margin-top: 1.5em;
}
#collapse, #expand {
  position: absolute;
  top: 0.5em;
  text-decoration: none;
}
#collapse {
  left: 1em;
}
#expand {
  right: 1em;
}
