#tree-outer-wrapper {
  padding: 1em;
  position: fixed;
  width: 200px;
  overflow: auto;
  height: 100%;

}

#tree-inner-wrapper {
  display: flex;
  overflow: auto;
  padding-left: 1em;
  padding-right: 1rem;
  width: 100%;

  tree-root {
    width: 100%;
  }

  .node-content-wrapper {
    width: 100%;
  }

  .node-content-wrapper-focused, .node-content-wrapper:hover {
    // color: black;
    background: lighten(#20a8d8, 30%);
  }

  .node-content-wrapper-active {
    // color: black;
    background: #20a8d8;
  }

  .separator, .separator .sidebarIcon {
    background: transparent !important;
    color: #6c757d !important; /* from bootstrap .text-muted */
    font-size: 0.75em;
    text-transform: uppercase;
    box-shadow: none;
    cursor: default;
    margin-top: 1em;
  }
}

.sidebarIcon {
  //redundant at the moment
  color: white;
  margin-right: 0.4em;
}

#collapse, #expand {
  color: black;
}

#search-tree {
  border: none;
}

#search-group {
  margin-bottom: 0.5rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.relAlgSymbol {
  font-weight: bold;
  width: 2rem;
  text-align: center;
  margin-right: 0.4em;
  display: inline-block;
}

.fa, .relAlgSymbol {
  width: 1rem;
  text-align: center;
}

.schema-editing {
  display: grid;
  height: 100%;
  grid-template-areas: ".""."".";
  grid-template-rows: min-content min-content;
}

.schema-editing-wrapper {
  align-self: flex-end;
}

.schema-button{
  margin-left: 1rem;
  &:hover{
    background: lighten(#20a8d8, 30%);
    cursor: pointer;
  }
}

.hidden-expander {
  opacity: 0;
  width: 0;
}

.node-disabled {
  display: none;
}


.rounded-search {
  border-radius: 0.2rem !important;
}
