carousel {
  display: block;
  max-width: 1000px;
  // min-width: 1000px;
}
.navigator-wrapper {
  display: flex;
  justify-content: center;
  button {
    margin: 0 1em;
    width: 50px;
  }
}
#carousel-wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

#video{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.carousel-multimedia {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
  padding-top: 60px;
  margin: auto;
}

span.key {
  color: #656565;
}
//active-hover: https://stackoverflow.com/questions/16715274
.btn-del:hover, .btn-del:active:hover {
  color: #dc3545;
}
.editing-wrapper{
  max-width: 300px;
  margin: 0 auto;
}
#insert-btn{
  position: absolute;
  top: 4em;
  right:2em;
}
#insert-wrapper{
  margin: 0 auto;
  max-width: 300px;
}

//.download
.list-group-item .download{
  opacity:.4;
  text-decoration: none;
  color: black;
  padding: 0.3em 0.5em;
}
.list-group-item:hover .download{
  opacity:.7;
}
.list-group-item .download:hover{
  opacity: 1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
