<div *ngIf="entity()" class="d-flex align-items-center">
    <h1 class="flex-grow-1">{{ entity().name }}</h1>

    <div class="show-schema-btn">
        <button cButton color="light" (click)="openSchemaView()">Show Schema</button>
    </div>
</div>
<br>

<app-reload-button [loading]="loading()" [condition]="entity()" [action]="this.reload"></app-reload-button>
<div class="w-100" *ngIf="entity()">
    <app-data-view class="w-100 overflow-x-auto" [result]="$result()" [loading]="loading()" [config]="entityConfig()"
                   [$entity]="entity"></app-data-view>
</div>
<p class="mt-3" *ngIf="!entity()">Please select an entity in the left sidebar to view its data.</p>

<c-modal [visible]="showRefreshModal()" (visibleChange)="handleRefreshModalVisibilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>External Schema Changes Detected</h5>
        <button (click)="closeRefreshModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <p class="mb-0" *ngIf="entity()">
            The external source schema for this table has changed.
        </p>
        <p class="mb-0 mt-2" *ngIf="entity()">
            Continuing without synchronization may lead to missing or invalid results.
        </p>
        <p class="mb-0 mt-2" *ngIf="entity()">
            Do you want to synchronize the table schema now?
        </p>
    </c-modal-body>
    <c-modal-footer>
        <button cButton color="secondary" (click)="cancelRefresh()">Cancel</button>
        <button cButton color="primary" (click)="confirmRefresh()">Synchronize</button>
    </c-modal-footer>
</c-modal>
