<div>
    @if (!hasFiles()) {
        <button cButton color="primary" (click)="file.click()">Select Local Plugins</button>
    }

    @if (hasFiles()) {
        <div class="card-deck">
            <c-card>
                @for (file of files; track file) {
                    <div class="plugin-files m-1 ms-2">
                        <p>{{ file.name }}</p>
                        <i class="cil-trash del ms-1" (click)="removeFile(file)"></i>
                    </div>
                }
            </c-card>
        </div>
    }


    @if (hasFiles() && !isLoading) {
        <button cButton variant="outline" color="primary" class="bg-white" (click)="loadPlugins()">Load
            Plugins
        </button>
    }
    <input #file
           type="file"
           multiple
           class="d-none h-0"
           (change)="onFileSelected($event)"
           accept=".zip,.jar"/>
    @if (this.isLoading) {
        <div class="bg-primary d-inline-block rounded p-1">
            <div class="spinner-border" role="status">
                <span class="visually-hidden d-none">Loading...</span>
            </div>
        </div>
    }
</div>
