<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add new instance</h4>
            <button class="close" (click)="cancel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="dockerSetupResult !== null && dockerSetupResult.error !== ''" class="alert alert-danger">
                {{ dockerSetupResult.error }}
            </div>
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="hostField" class="input-group-text">Host</label>
                    </div>
                    <input id="hostField" class="form-control" type="text" name="host" (input)="hostInput()" [(ngModel)]="host" [disabled]="handshake !== null" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="aliasField" class="input-group-text">Alias</label>
                    </div>
                    <input id="aliasField" class="form-control" type="text" name="alias" (input)="aliasInput()" [(ngModel)]="alias" [disabled]="handshake !== null" required>
                </div>

                <details>
                    <summary>Advanced settings</summary>
                    <div class="mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="registryField" class="input-group-text">Registry</label>
                            </div>
                            <input id="registryField" class="form-control" type="text" name="registry" placeholder="Using default setting" [(ngModel)]="registry" [disabled]="handshake !== null" required>
                        </div>
                        <div class="form-text">Leave empty to use the default registry for this Polypheny instance</div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="communicationPortField" class="input-group-text">Communication Port</label>
                            </div>
                            <input id="communicationPortField" class="form-control" type="number" min="1" max="65535" name="communicationPort" placeholder="7001" [(ngModel)]="communicationPort" [disabled]="handshake !== null">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label for="handshakePortField" class="input-group-text">Handshake Port</label>
                            </div>
                            <input id="handshakePortField" class="form-control" type="number" min="1" max="65535" name="handshakePort" placeholder="7002" [(ngModel)]="handshakePort" [disabled]="handshake !== null">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>

                    <div class="mt-3">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label for="proxyPortField" class="input-group-text">Proxy Port</label>
                            </div>
                            <input id="proxyPortField" class="form-control" type="number" min="1" max="65535" name="proxyPort" placeholder="7003" [(ngModel)]="proxyPort" [disabled]="handshake !== null">
                        </div>
                        <div class="form-text">Leave empty to use the default port</div>
                    </div>
                </details>
            </form>
            <app-dockerhandshake *ngIf="handshake !== null" (cancel)="cancelHandshake()" (redo)="redoHandshake()" [handshake]="handshake"></app-dockerhandshake>
        </div>

        <div class="modal-footer">
            <div class="input-group">
                <input class="btn btn-success mr-2" (click)="addDockerInstance()" type="submit" value="Add" [disabled]="handshake !== null">
                <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
