<c-row class="w-100" style="position: relative;">
    <c-col class="col-lg-12 col-sm-12" style="margin-bottom: 1em;">

        <h5>Graphical Querying</h5>
        <p>Select columns from the left sidebar to get started. If needed, you can edit the generated SQL code.</p>

        <c-input-group class="mb-3">
            <span cInputGroupText>select</span>
            <div class="form-control" id="selectBox">
                <button *ngFor="let field of selects()" cButton color="secondary" size="sm" class="dbCol">{{field.name}}<span (click)="removeSelect(field)" class="del">&times;</span></button>
            </div>
        </c-input-group>

        <c-input-group class="mb-3">
            <span class="input-group-text">from</span>
            <div class="form-control" id="fromBox">
                <button cButton color="secondary" size="sm" disabled *ngFor="let entity of entities | keyvalue" class="dbTable">{{entity.key}}test</button>
            </div>
        </c-input-group>

        <c-input-group class="mb-3">
            <span class="input-group-text">join<br>conditions</span>
            <div class="form-control" id="joinConditionBox">
                <ng-container *ngFor="let con of joinConditions | keyvalue">
                    <input type="checkbox" [(ngModel)]="con.value.active" [id]="con.key" (click)="toggleCondition(con.value)">
                    <label [for]="con.key">&nbsp;{{con.value.condition}}</label>
                    <br>
                </ng-container>
            </div>
        </c-input-group>

        <h5>Generated query</h5>
        <p>Edit your code if needed. Your changes will be overwritten, as soon as you add or remove a column in the
            select box or change any join condition.</p>
        <div id="aceWrapper" style="height: 150px">
            <app-editor #editorGenerated></app-editor>
        </div>
        <div></div>


        <app-refinement-options [choosenTables]="selectedColumn" (filteredUserInputChange)="userInput($event)"></app-refinement-options>


        <button cButton color="primary" *ngIf="!loading()" (click)="executeQuery()">Execute</button>
        <button cButton color="primary" *ngIf="loading()" class="mb-3" disabled>Loading</button>

        <div *ngIf="result">
            <hr>
            <h5>Query Result</h5>
        </div>

        <c-card *ngIf="result" id="result-graphical">
            <c-header>
                <span>{{result.query}}</span>
                <c-badge class="pull-right" [color]="result.error ? 'danger' : 'secondary'">
                    <ng-container *ngIf="!result.error">{{result.affectedTuples}}</ng-container>
                    <ng-container *ngIf="result.error">!</ng-container>
                </c-badge>
            </c-header>

            <c-card-body style="padding-bottom: 0.25rem">
                <div class="text-danger" *ngIf="result && result.error">
                    <strong>Error:</strong>
                    <p class="mb-3">{{result.error}}</p>
                </div>

                <div class="query-info">
                    <p *ngIf="result && !result.data && !result.error" class="mb-3">
                        <i>Successfully executed</i>
                    </p>
                </div>

                <c-row *ngIf="result && result.data">
                    <c-col class="col-lg-12">
                        <app-data-view [result]="result"
                                       [config]="{create:false, update:false, delete:false, sort:false, search: false, exploring: false}"
                                       [loading]="loading()"
                                       (viewQueryConsumer)="executeView($event)"></app-data-view>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>

    </c-col>

</c-row>


<c-col class="col-lg-12" id="results">

</c-col>

