<div class="row" style="position: relative;">
    <div class="col-lg-12 col-sm-12" style="margin-bottom: 1em;">

        <h5>Graphical Querying</h5>

        <!-- choosing the query language -->
        <!-- ngModel: hiding parts depending on language. ngModelChange: change Typescript ngOnInit for leftSidebar-->
            <!-- TO DO: when changing language it should get back to its default state-->
        <p>Select your query language:</p>
        <div class="btn-group-horizontal btn-group" id="radio" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="language" [(ngModel)]="lang" value="sql" (ngModelChange)="ngOnInit(); setDefaultState('sql')">SQL
            </label>
             <label class="btn btn-secondary">
                <input type="radio" name="language" [(ngModel)]="lang" value="cypher" (ngModelChange)="ngOnInit(); setDefaultState('cypher')">Cypher
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="language" [(ngModel)]="lang" value="mql" (ngModelChange)="ngOnInit(); setDefaultState('mql')">MQL
            </label>
        </div>

        <!-- graphical-UI for SQL -->
        <div *ngIf="lang === 'sql'">
      <p>Select columns from the left sidebar to get started. If needed, you can edit the generated SQL code.</p>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">select</span>
        </div>
        <div class="form-control" id="selectBox"></div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">from</span>
        </div>
        <div class="form-control" id="fromBox">
          <span *ngFor="let t of tables | keyvalue" class="badge badge-secondary dbTable">{{t.key}}test</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">join<br>conditions</span>
        </div>
        <div class="form-control" id="joinConditionBox">
          <ng-container *ngFor="let con of joinConditions | keyvalue">
            <input type="checkbox" [(ngModel)]="con.value.active" [id]="con.key" (click)="toggleCondition(con.value)"><label [for]="con.key">&nbsp;{{con.value.condition}}</label><br>
          </ng-container>
        </div>
      </div>

      <h5>Generated query</h5>
      <p>Edit your code if needed. Your changes will be overwritten, as soon as you add or remove a column in the select box or change any join condition.</p>
      <div id="aceWrapper" style="height: 150px">
        <app-editor #editorGenerated></app-editor>
      </div>
      <div></div>


      <app-refinement-options [choosenTables]="selectedColumn" (filteredUserInputChange)="userInput($event)"></app-refinement-options>


      <button *ngIf="!loading" class="btn btn-primary" (click)="executeQuery()">Execute</button>
      <button *ngIf="loading" class="btn btn-primary mb-3" disabled>Loading</button>

      <div *ngIf="resultSet">
        <hr>
        <h5>Query Result</h5>
      </div>

      <div class="card " *ngIf="resultSet" id="result-graphical">

          <div class="card-header">
            <span>{{resultSet.generatedQuery}}</span>
            <span class="badge pull-right" [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
              <ng-container *ngIf="!resultSet.error">{{resultSet.affectedRows}}</ng-container>
              <ng-container *ngIf="resultSet.error">!</ng-container>
              </span>
          </div>

          <div class="card-body" style="padding-bottom: 0.25rem" >
            <div class="text-danger" *ngIf="resultSet && resultSet.error">
              <strong>Error:</strong>
              <p class="mb-3">{{resultSet.error}}</p>
            </div>

            <div class="query-info">
              <p *ngIf="resultSet && !resultSet.data && !resultSet.error" class="mb-3">
                  <i>Successfully executed</i>
              </p>
            </div>

            <div class="row" *ngIf="resultSet && resultSet.data">
              <div class="col-lg-12"  >
                  <app-data-view [resultSet]="resultSet" [config]="{create:false, update:false, delete:false, sort:false, search: false, exploring: false}" [loading]="loading" (viewEditorCode)="createView($event)" (executeView)="executeView($event)"></app-data-view>
              </div>
            </div>
        </div>
      </div>
    </div>

        <!-- graphical-UI for Cypher - Code from -->
        <div *ngIf="lang === 'cypher'">
            <p>Select your graph from the left sidebar: {{ graphName !== undefined ? ' ' + graphName : '' }}</p>
            <div *ngIf="graphName !== undefined">
                <p>Fill in the details. You can drag and drop the labels into the input fields.</p>

                <!-- Node Labels -->
                <p>Node Labels:</p>
                <div class="label-container">
                    <p *ngFor="let label of nodeLabels; let i = index" class="label-node" draggable="true" (dragstart)="drag($event)" [ngStyle]="{backgroundColor: generateColor(i)}">{{label}}</p>
                </div>

                <!-- Relationship Labels -->
                <p>Relationship Labels:</p>
                <div class="label-container">
                    <p *ngFor="let label of relationLabels; let i = index" class="label-relation" draggable="true" (dragstart)="drag($event)" [ngStyle]="{backgroundColor: generateColor(i + nodeLabels.length)}">{{label}}</p>
                </div>


                <!-- Code for Graph - From data-view.component.html-->
                <!-- <app-data-graph *ngIf="resultSet" [resultSet]="resultSet" [loading]="loading" [tableId]="tableId"
                          [config]="config"> </app-data-graph> -->

                <!-- End Code for Graph -->
                <div *ngFor="let fieldNumber of fieldListCypher; let i = index"> <!-- index differentiates each field-->
                    <div *ngIf="fieldNumber === 'MATCH'">
                        <div class="row">
                            <div class="col-lg-11 fixed-width">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="cypher-match-node-{{i}}" class="input-group-text">MATCH</label>
                                    </div>
                                    <input type="text" id="cypher-match-node-{{i}}" class="form-control"
                                           [(ngModel)]="cypherFields[i][0]" (keyup)="generateCypher()" placeholder="Node">
                                </div>
                            </div>
                            <div class="col-lg-1 fixed-width">
                                <!-- Button to delete field -->
                                <button id="button-mql-{{i}}" (click)="deleteCypherField(i)" class="btn btn-primary toggle-insert"> <i class="cui-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="fieldNumber === 'MATCH'" [style.padding-left.em]='2'>
                        <!-- Dropdown Selection for different relationshiptypes-->
                        <div class="row">
                            <div class="col-lg-3 fixed-width">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="cypher-relationship-type-{{i}}">Relationship</label>
                                    </div>
                                    <select class="form-control" id="cypher-relationship-type-{{i}}" [(ngModel)]="cypherDropdown[i]" (change)="generateCypher()">
                                        <option value="cypher-none" selected>None</option>
                                        <option value="cypher-outgoing">Outgoing</option>
                                        <option value="cypher-directed">Directed</option>
                                        <option value="cypher-multiple">Multiple</option>
                                        <!--<option value="cypher-variable">Variable Length</option>-->
                                    </select>
                                </div>
                            </div>
                            <!-- Different Cases depending on option value-->
                            <div class="col-lg-4 fixed-width"> <!-- has to be swapped so the column works with ngIf-->
                                <div *ngIf="cypherDropdown[i] === 'cypher-outgoing'">
                                    <div class="input-group mb-3">
                                        <input type="text" id="cypher-match-node1-{{i}}" class="form-control"
                                               [(ngModel)]="cypherFields[i][2]" (keyup)="generateCypher()" placeholder="Node">
                                    </div>
                                </div>
                                <div *ngIf="cypherDropdown[i] === 'cypher-directed' || cypherDropdown[i] === 'cypher-multiple'">
                                    <div class="input-group mb-3">
                                        <input type="text" id="cypher-match-rel-{{i}}" class="form-control"
                                               [(ngModel)]="cypherFields[i][1]" (keyup)="generateCypher()" placeholder="Relationship">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div *ngIf="cypherDropdown[i] === 'cypher-directed' || cypherDropdown[i] === 'cypher-multiple'">
                                    <div class="input-group mb-3">
                                        <input type="text" id="cypher-match-node2-{{i}}" class="form-control"
                                               [(ngModel)]="cypherFields[i][2]" (keyup)="generateCypher()" placeholder="Node">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [style.padding-left.em]='2'>
                            <div class="col-lg-3 fixed-width">
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div *ngIf="cypherDropdown[i] === 'cypher-multiple'">
                                    <div class="input-group mb-3">
                                        <input type="text" id="cypher-match-rel2-{{i}}" class="form-control"
                                               [(ngModel)]="cypherFields[i][3]" (keyup)="generateCypher()" placeholder="2. Relationship">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div *ngIf="cypherDropdown[i] === 'cypher-multiple'">
                                    <div class="input-group mb-3">
                                        <input type="text" id="cypher-match-node3-{{i}}" class="form-control"
                                               [(ngModel)]="cypherFields[i][4]" (keyup)="generateCypher()" placeholder="2. Node">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Where Clause-->
                    <div *ngIf="fieldNumber === 'WHERE'">
                        <div class="row">
                            <div class="col-lg-4 fixed-width">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="cypher-where-{{i}}" class="input-group-text">WHERE</label>
                                    </div>
                                    <input type="text" id="cypher-where-{{i}}" placeholder="Condition" class="form-control"
                                           [(ngModel)]="cypherFields[i][0]" (keyup)="generateCypher()">
                                </div>
                            </div>
                            <div class="col-lg-3 fixed-width">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="mql-boxes-{{i}}" [(ngModel)]="cypherFields[i][1]" (change)="generateCypher()">
                                        <optgroup label="Comparison operators">
                                            <option value="=">equals</option>
                                            <option value="<>">does not equal</option>
                                            <option value=">">is greater than</option>
                                            <option value="<">is less than</option>
                                            <option value=">=">is greater than or equal</option>
                                            <option value="<=">is less than or equal</option>
                                            <option value="IS NULL">is null</option>
                                            <option value="IS NOT NULL">is not null</option>
                                        </optgroup>
                                        <optgroup label="String-specific operators">
                                            <option value="STARTS WITH">starts with</option>
                                            <option value="ENDS WITH">ends with</option>
                                            <option value="CONTAINS">contains</option>
                                        </optgroup>
                                        <optgroup label="List operators">
                                            <option value="IN">in</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div class="input-group mb-3">
                                    <input type="text" id="mql-boxes-input-{{i}}" class="form-control"
                                           [(ngModel)]="cypherFields[i][2]" (keyup)="generateCypher()" placeholder="value">
                                </div>
                            </div>
                            <div class="col-lg-1 fixed-width">
                                <!-- Button to delete field -->
                                <button id="button-mql-{{i}}" (click)="deleteCypherField(i)" class="btn btn-primary toggle-insert"> <i class="cui-trash"></i></button>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <div class="btn-group-horizontal btn-group" id="radio-{{i}}" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('AND', i); generateCypher()">AND
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('OR', i); generateCypher()">OR
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('NOR', i); generateCypher()">XOR
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Additional Where rows -->
                    <div *ngIf="fieldNumber === 'OR' || fieldNumber === 'AND' || fieldNumber === 'NOR'">
                        <div class="row" [style.padding-left.em]='2'>
                            <div class="col-lg-4 fixed-width">
                                <div class="input-group mb-3">
                                    <input type="text" id="cypher-where-{{i}}" placeholder="Condition" class="form-control"
                                           [(ngModel)]="cypherFields[i][0]" (keyup)="generateCypher()">
                                </div>
                            </div>
                            <div class="col-lg-3 fixed-width">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="mql-boxes-{{i}}" [(ngModel)]="cypherFields[i][1]" (change)="generateCypher()">
                                        <optgroup label="Comparison operators">
                                            <option value="=">equals</option>
                                            <option value="<>">does not equal</option>
                                            <option value=">">is greater than</option>
                                            <option value="<">is less than</option>
                                            <option value=">=">is greater than or equal</option>
                                            <option value="<=">is less than or equal</option>
                                            <option value="IS NULL">is null</option>
                                            <option value="IS NOT NULL">is not null</option>
                                        </optgroup>
                                        <optgroup label="String-specific operators">
                                            <option value="STARTS WITH">starts with</option>
                                            <option value="ENDS WITH">ends with</option>
                                            <option value="CONTAINS">contains</option>
                                        </optgroup>
                                        <optgroup label="List operators">
                                            <option value="IN">in</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div class="input-group mb-3">
                                    <input type="text" id="mql-boxes-input-{{i}}" class="form-control"
                                           [(ngModel)]="cypherFields[i][2]" (keyup)="generateCypher()" placeholder="value">
                                </div>
                            </div>
                            <div class="col-lg-1 fixed-width">
                                <!-- Button to delete field -->
                                <button id="button-mql-{{i}}" (click)="deleteCypherField(i)" class="btn btn-primary toggle-insert"> <i class="cui-trash"></i></button>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <div class="btn-group-horizontal btn-group" id="radio-{{i}}" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('AND', i);; generateCypher()">AND
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('OR', i);; generateCypher()">OR
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="booleanoperator-{{i}}" (click)="changeCypherField('NOR', i);; generateCypher()">XOR
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Button -->
                <div class="input-group justify-content-center mt-3" style="margin:1em;">
                    <div (mouseleave)="setMenuShow(false)" (mouseenter)="menuEnter()">
                        <button class="btn btn-primary toggle-insert" (click)="setMenuShow(true)" type="button"><i
                                class="fa fa-plus"></i></button>
                        <ul *ngIf="show" class="dropdown-menu json-dropdown" (mouseleave)="setMenuShow(false)">
                            <li>
                                <div class="dropdown-item" (click)="addCypherField('MATCH')"><i class="cui-plus"></i>Add Match</div>
                            </li>
                            <li>
                                <div class="dropdown-item" (click)="addCypherField('WHERE')"><i class="cui-plus"></i>Add Where</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Return Clause-->
                <div class="row">
                    <div class="col-lg-12 fixed-width">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="cypher-return" class="input-group-text">RETURN</label>
                            </div>
                            <input type="text" id="cypher-return" placeholder="Node" autocomplete="off" class="form-control"
                                   [(ngModel)]="cypherReturn" (keyup)="generateCypher()">
                        </div>
                    </div>
                </div>

                <h5>Generated query</h5>
                    <p>Edit your code if needed.</p>
                    <div id="aceWrapper-cypher" style="height: 150px">
                    <app-editor #editorGenerated></app-editor>
                    </div>

                    <button *ngIf="!loading" class="btn btn-primary" (click)="executeQuery()">Execute</button>
                    <button *ngIf="loading" class="btn btn-primary mb-3" disabled>Loading</button>

                    <div *ngIf="resultSet">
                        <hr>
                        <h5>Query Result</h5>
                    </div>

                <div class="card " *ngIf="resultSet" id="result-graphical-cypher">

                    <div class="card-header">
                        <span>{{resultSet.generatedQuery}}</span>
                        <span class="badge pull-right"
                              [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
                      <ng-container *ngIf="!resultSet.error">{{resultSet.affectedRows}}</ng-container>
                      <ng-container *ngIf="resultSet.error">!</ng-container>
                      </span>
                    </div>

                    <!-- add filter - should execute query to get new result set if chosen-->

                    <div class="card-body" style="padding-bottom: 0.25rem">
                        <div class="text-danger" *ngIf="resultSet && resultSet.error">
                            <strong>Error:</strong>
                            <p class="mb-3">{{resultSet.error}}</p>
                        </div>

                        <div class="query-info">
                            <p *ngIf="resultSet && !resultSet.data && !resultSet.error" class="mb-3">
                              <i>Successfully executed</i>
                            </p>
                        </div>

                        <div class="row" *ngIf="resultSet && resultSet.data">
                            <div class="col-lg-9">
                              <app-data-view [resultSet]="resultSet" [config]="{create:false, update:false, delete:false, sort:false, search: false, exploring: false}" [loading]="loading" (viewEditorCode)="createView($event)" (executeView)="executeView($event)"></app-data-view>
                            </div>
                            <div class="col-lg-3">
                                <p>Sidebar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- graphical-UI for MQL -->
        <div *ngIf="lang === 'mql'">
            <p>Select your collection from the left sidebar: {{ collectionName !== undefined ? ' ' + collectionName : '' }}</p>

            <div *ngIf="collectionName !== undefined">

                <p>Fill in the details:</p>

                <!-- Creating new field for each chosen column -->
                <div *ngFor="let fieldNumber of fieldList; let i = index" draggable="true" (dragstart)="onDragStart($event, fieldNumber)"> <!-- index differentiates each field-->
                    <ng-container *ngIf="fieldNumber === 'AND' || fieldNumber === 'OR'">
                        <div class="row" [style.padding-left.em]="2*this.mqlFields[i][6]" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                            <div class="col-lg-11 fixed-width">
                                <b>{{fieldNumber}}</b>
                            </div>
                            <div class="col-lg-1 fixed-width">
                                <button id="button-mql-{{i}}" (click)="deleteMQLField(i)" class="btn btn-primary toggle-insert"> <i class="cui-trash"></i></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="fieldNumber === 'END'">
                        <div class="row" [style.padding-left.em]="2*this.mqlFields[i][6]">
                            <div class="col-lg-12 fixed-width">
                                <b>END</b>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="fieldNumber !== 'AND' && fieldNumber !== 'OR' && fieldNumber !== 'END'">
                        <div class="row" [style.padding-left.em]="2*this.mqlFields[i][5]" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                            <div class="col-lg-4 fixed-width">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="mql-boxes-input-{{i}}" class="input-group-text"><i class="fa fa-arrows-v"></i></label>
                                    </div>
                                    <input type="text" id="mql-boxes-input-{{i}}" class="form-control"
                                           [(ngModel)]="mqlFields[i][3]" (keyup)="prependKeyObject(this.mqlFields[i][5], i); generateMQL()" placeholder="key">
                                </div>
                            </div>
                            <div class="col-lg-3 fixed-width">
                                <div *ngIf="i == this.mqlFields.length-1 || this.mqlFields[i][5] >= this.mqlFields[i+1][5]"> <!-- is key of object-->
                                    <div class="input-group mb-3">
                                        <select class="form-control" id="mql-boxes-{{i}}" [(ngModel)]="mqlFields[i][1]" (change)="generateMQL()">
                                            <option value="equal">equals</option>
                                            <option value="notequal">does not equal</option>
                                            <option value="greater">is greater than</option>
                                            <option value="lesser">is less than</option>
                                            <option value="contains">contains</option>
                                            <option value="notcontains">does not contain</option>
                                            <option value="type">is type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 fixed-width">
                                <div *ngIf="i == this.mqlFields.length-1 || this.mqlFields[i][5] >= this.mqlFields[i+1][5]"> <!--is key of object-->
                                    <div class="input-group mb-3">
                                        <input type="text" id="mql-boxes-input-{{i}}" class="form-control"
                                               [(ngModel)]="mqlFields[i][2]" (keyup)="generateMQL()" placeholder="value">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 fixed-width">
                            <!-- Button to delete field -->
                                <button id="button-mql-{{i}}" (click)="deleteMQLField(i)" class="btn btn-primary toggle-insert"> <i class="cui-trash"></i></button>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div class="input-group justify-content-center mt-3">
                    <div (mouseleave)="setMenuShow(false)" (mouseenter)="menuEnter()">
                        <button class="btn btn-primary toggle-insert" (click)="setMenuShow(true)" type="button"><i
                                class="fa fa-plus"></i></button>
                        <ul *ngIf="show" class="dropdown-menu json-dropdown" (mouseleave)="setMenuShow(false)">
                            <li>
                                <div class="dropdown-item" (click)="addMQLField()"><i class="cui-plus"></i>Add Key</div>
                            </li>
                            <div *ngIf="this.mqlFields.length !== 0 && this.mqlFields[this.mqlFields.length - 1][5] > 0"> <!-- is property -->
                                <li>
                                    <div class="dropdown-item" (click)="addMQLFieldKeyObject2()"><i class="cui-plus"></i>Add Object</div>
                                </li>
                            </div>
                            <div *ngIf="this.mqlFields.length !== 0">
                                <li>
                                    <div class="dropdown-item" (click)="addMQLFieldKeyObject()"><i class="cui-plus"></i>Add Key-Object</div>
                                </li>
                            </div>
                            <li>
                                <div class="dropdown-item" (mouseleave)="setMenuShow2(false)" (mouseenter)="menuEnter2()" (click)="setMenuShow2(true)"><i class="cui-plus"></i>Add Logical Operation
                                    <ul *ngIf="show2" class="dropdown-menu json-dropdown" (mouseleave)="setMenuShow2(false)">
                                        <li>
                                            <div class="dropdown-item" (click)="addLogicalOperator('AND')"><i class="cui-plus"></i>Add AND</div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item" (click)="addLogicalOperator('OR')"><i class="cui-plus"></i>Add OR</div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <div *ngIf="this.logicalOperatorStack.length != 0">
                                <li>
                                    <div class="dropdown-item" (click)="endLogicalOperator()"><i class="cui-plus"></i>End Logical Operation</div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <h5>Generated query</h5>
                <p>Edit your code if needed.</p>
                <div id="aceWrapper-mql" style="height: 150px">
                    <app-editor #editorGenerated></app-editor>
                </div>

                <button *ngIf="!loading" class="btn btn-primary" (click)="executeQuery()">Execute</button>
                <button *ngIf="loading" class="btn btn-primary mb-3" disabled>Loading</button>

                <div *ngIf="resultSet">
                    <hr>
                    <h5>Query Result</h5>
                </div>

                <div class="card " *ngIf="resultSet" id="result-graphical-mql">

                    <div class="card-header">
                        <span>{{resultSet.generatedQuery}}</span>
                        <span class="badge pull-right"
                              [ngClass]="{'badge-secondary': !resultSet.error, 'badge-danger': resultSet.error}">
                            <ng-container *ngIf="!resultSet.error">{{resultSet.affectedRows}}</ng-container>
                            <ng-container *ngIf="resultSet.error">!</ng-container>
                        </span>
                    </div>

                    <div class="card-body" style="padding-bottom: 0.25rem">
                        <div class="text-danger" *ngIf="resultSet && resultSet.error">
                            <strong>Error:</strong>
                            <p class="mb-3">{{resultSet.error}}</p>
                        </div>

                        <div class="query-info">
                            <p *ngIf="resultSet && !resultSet.data && !resultSet.error" class="mb-3">
                                <i>Successfully executed</i>
                            </p>
                        </div>

                        <div class="row" *ngIf="resultSet && resultSet.data">
                            <div class="col-lg-12"  >
                                <app-data-view [resultSet]="resultSet" [config]="{create:false, update:false, delete:false, sort:false, search: false, exploring: false}" [loading]="loading" (viewEditorCode)="createView($event)" (executeView)="executeView($event)"></app-data-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="col-lg-12" id="results">

</div>

