.form-control.fit{
  display: inline-table;
}
.dbCol, .dbTable{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.dbTable{
  font-size: 1em;
  font-weight:normal;
}
#tablesList li{
  cursor: grab;
}
.del{
  cursor: pointer;
}
#joinConditionBox {
  min-height: 4em;
}
#sqlInput {
  min-height: 2.5em;
}
#selectBox {
  padding: 10px;
  padding-bottom: 0;
  .dbCol{
    cursor: grab;
  }
}
#aceWrapper {
  margin-bottom: 1em;
}
.fit{
  padding: 0.5rem 0.5rem 0 0.5rem;
}


