.form-control.fit {
  display: inline-table;
}

.dbCol, .dbTable {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.dbTable {
  font-size: 1em;
  font-weight: normal;
}

#tablesList li {
  cursor: grab;
}

.del {
  cursor: pointer;
}

#joinConditionBox {
  min-height: 4em;
}

#sqlInput {
  min-height: 2.5em;
}

#selectBox {
  // padding: 10px;
  // padding-bottom: 0;
  .dbCol {
    cursor: grab;
  }
}

#aceWrapper {
  margin-bottom: 1em;
}

.fit {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

// firefox and ie11 fix
#selectBox, #joinConditionBox, #fromBox {
  padding-top: 0;
  padding-right: 0;
  height: auto;
}

.result-wrapper {
  padding-bottom: 1rem;
  padding-right: 0;
}

//Dropdown
.json-dropdown {
  display: block;
  // center block
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.show-error {
  display: block !important;
}
.label {
  margin-bottom:1.5em;
}

.cypher-sidebar {
  background-color: #f0f3f5;
  border: 1px solid #c8ced3;
}

.mql-second-text-fields {
  background-color: rgb(210, 210, 210, 0.9);
  padding: 1em;
  border: 1px rgba(0, 0, 0, 0.125) solid;
}

.text-fields {
  background-color: #dcdcdc;
  padding: 1em;
  margin-bottom: 1.5em;
  border: 1px rgba(0, 0, 0, 0.125) solid;
}

  //Label Container
.label-container {
  display: flex;
}

.label-container p {
  margin-right: 2.5em;
}

.label-node {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid black;
}

.label-relation {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1.5em;
  border: 1px solid black;
}



