<div class="flex">
    <div class="spatial-filter-section">
        <label for="apply-filter-button">Filter spatially</label>
        <button cButton
                id='apply-filter-button'
                (click)="this.config.isDrawingModeActive ? disableDrawingMode() : enableDrawingMode()">
            {{ this.config.isDrawingModeActive ? 'Disable Drawing on Map' : 'Enable Drawing on Map' }}
        </button>
        <span class="info">Info: Once the drawing mode is enabled,
        you can use the Polygon Tool on the Map to draw a polygon.
        When done, the filter is automatically applied to the query..
    </span>
    </div>

    <div>
        <button cButton
                (click)="editQuery()">
            Edit Query
        </button>
    </div>

</div>
