<c-row [gutter]="3" class="mb-3">
    <c-col xs="12">
        <c-card>
            <c-card-header>
                <div class="card-header-button">
                    <div class="card-header-title">Workload</div>

                    <c-dropdown class="btn-group selectInterval" dropdown>
                        <button size="sm" cButton cDropdownToggle>
                            Time Interval: {{ this.selectIntervalDisplay }}
                        </button>
                        <ul cDropdownMenu>
                            <li><a cDropdownItem (click)="setSelectInterval('all')">All</a></li>
                            <li><a cDropdownItem (click)="setSelectInterval('60')">1 hour</a></li>
                            <li><a cDropdownItem (click)="setSelectInterval('30')">30 minutes</a></li>
                            <li><a cDropdownItem (click)="setSelectInterval('15')">15 minutes</a></li>
                            <li><a cDropdownItem (click)="setSelectInterval('5')">5 minutes</a></li>
                        </ul>
                    </c-dropdown>
                </div>
            </c-card-header>
            <c-card-body>
                @if (dashboardInformation != null && diagram.length > 0) {
                    <div>
                        <app-graph [data]="diagram"
                                   [labels]="labels"
                                   [colorList]="colorList"
                                   [chartType]="line"
                                   [min]="min"
                                   [maintainAspectRatio]="false"
                                   [max]="max"
                                   [xLabel]="xLabel"
                                   [yLabel]="yLabel"
                                   class="dashboard-diagram"></app-graph>
                    </div>
                }

                @if (dashboardInformation == null && this.infoCounter > 120) {
                    <div>
                        <p>There is not yet enough information to display the workload graph.</p>
                    </div>
                }


                @if (dashboardInformation == null && this.infoCounter <= 120) {
                    <div class="d-flex justify-content-center"
                    >
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }

            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="6">
        <c-card style="min-height: 153px">
            <c-card-header>
                <span>General Information</span>
            </c-card-header>
            <c-card-body>

                @if (dashboardSet != null) {
                    <div>
                        <h5>Adapter Information</h5>
                        <table cTable hover="true" striped="true">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Adapter</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (obj of this.dashboardSet.availableAdapter | keyvalue; track obj.key) {
                                    <tr>
                                        <td>{{ obj.key }}</td>
                                        <td>{{ obj.value.left | titlecase }}</td>
                                        <td>{{ obj.value.right | titlecase }}</td>
                                        <th></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h5>Schema Information</h5>
                        <table cTable hover="true" striped="true">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Data Model</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (obj of this.dashboardSet.availableNamespaces | keyvalue; track obj.key) {
                                    <tr>
                                        <td>{{ obj.key }}</td>
                                        <td>{{ obj.value | titlecase }}</td>
                                        <th></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @if (dashboardSet == null && this.infoCounter > 120) {
                    <div>
                        <p>There is not yet enough information to display the adapter information.</p>
                    </div>
                }


                @if (dashboardSet == null && this.infoCounter <= 120) {
                    <div class="d-flex justify-content-center"
                    >
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }

            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="6">
        <c-card style="min-height: 153px">
            <c-card-header>
                <span>Workload Information</span>
            </c-card-header>
            <c-card-body>

                @if (dashboardSet != null) {
                    <div>
                        <table cTable hover="true" striped="true">
                            <thead>
                            <tr>
                                <th>Commits</th>
                                <th>Rollbacks</th>
                                <th>DMLs</th>
                                <th>DQLs</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ this.dashboardSet.numberOfCommits }}</td>
                                <td>{{ this.dashboardSet.numberOfRollbacks }}</td>
                                <td>{{ this.dashboardSet.numberOfWorkloads }}</td>
                                <td>{{ this.dashboardSet.numberOfQueries }}</td>
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                }

                @if (dashboardSet == null && this.infoCounter > 120) {
                    <div>
                        <p>There is not yet enough information to display the workload information.</p>
                    </div>
                }

                @if (dashboardSet == null && this.infoCounter <= 120) {
                    <div class="d-flex justify-content-center"
                    >
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
            </c-card-body>
        </c-card>
    </c-col>
</c-row>




