:host ::ng-deep .chart-wrapper{
  height: 300px !important;
}
.selectInverval{
  float: right;
}

.card-header-button {
  display: flex;
  justify-content: space-between;
}

.card-header-title {
  align-self: center;
}
