<app-toast></app-toast>

<div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">

    <div class="card">
        <div class="card-header">
            <div class="card-header-button">
                <div class="card-header-title">Workload</div>

                <div class="btn-group selectInverval" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        Time Interval: {{this.selectIntervalDisplay}}<span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" (click)="setSelectInterval('all')">All</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="setSelectInterval('60')">1 hour</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="setSelectInterval('30')">30 minutes</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="setSelectInterval('15')">15 minutes</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="setSelectInterval('5')">5 minutes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">

            
            <div *ngIf="dashboardInformation != null && diagram.length > 0">
                <app-graph [data]="diagram" [labels]="labels" [colorList]="colorList" [chartType]="line" [min]="min" [maintainAspectRatio]="false" [max]="max" [xLabel]="xLabel" [yLabel]="yLabel" class="dashboard-diagram"></app-graph>
            </div>

            <div *ngIf="dashboardInformation == null && this.infoCounter > 120">
                <p>There is not yet enough information to display the workload graph.</p>
            </div>


            <div class="d-flex justify-content-center" *ngIf="dashboardInformation == null && this.infoCounter <= 120">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card" style="min-height: 153px">
                <div class="card-header">
                    <span>General Information</span>
                </div>
                <div class="card-body">

                    <div *ngIf="dashboardSet != null">
                        <h5>Adapter Information</h5>
                        <table class="table table-hover table-striped">

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Adapter</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let obj of this.dashboardSet.availableAdapter | keyvalue">
                                <td>{{obj.key}}</td>
                                <td>{{obj.value.left}}</td>
                                <td>{{obj.value.right}}</td>
                                <th></th>
                            </tr>
                            </tbody>

                        </table>

                        <h5>Schema Information</h5>
                        <table class="table table-hover table-striped">

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Data Model</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let obj of this.dashboardSet.availableSchemas | keyvalue">
                                <td>{{obj.value.left}}</td>
                                <td>{{obj.value.right}}</td>
                                <th></th>
                            </tr>
                            </tbody>

                        </table>


                    </div>

                    <div *ngIf="dashboardSet == null && this.infoCounter > 120">
                        <p>There is not yet enough information to display the adapter information.</p>
                    </div>


                    <div class="d-flex justify-content-center" *ngIf="dashboardSet == null && this.infoCounter <= 120">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card" style="min-height: 153px">
                <div class="card-header">
                    <span>Workload Information</span>
                </div>
                <div class="card-body">

                    <div *ngIf="dashboardSet != null">
                        <table class="table table-hover table-striped">

                            <thead>
                            <tr>
                                <th>Commits</th>
                                <th>Rollbacks</th>
                                <th># of DML</th>
                                <th># of DQL</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{this.dashboardSet.numberOfCommits}}</td>
                                <td>{{this.dashboardSet.numberOfRollbacks}}</td>
                                <td>{{this.dashboardSet.numberOfWorkloads}}</td>
                                <td>{{this.dashboardSet.numberOfQueries}}</td>
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="dashboardSet == null && this.infoCounter > 120">
                        <p>There is not yet enough information to display the workload information.</p>
                    </div>

                    <div class="d-flex justify-content-center" *ngIf="dashboardSet == null && this.infoCounter <= 120">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>






