#toast-wrapper{
  position: fixed;
  top: 8em;
  right: 1em;
  min-width: 300px;
  max-height: 80%;
  overflow: auto;
  z-index: 10;
}
.close{
  outline: none;
}
.toast-body{
  max-height: 200px;
  overflow: auto;
}
