#toast-wrapper{
  position: fixed;
  top: 8em;
  right: 1em;
  min-width: 300px;
  max-height: 80%;
  overflow: auto;
  z-index: 10;
}

.close {
  outline: none;
}

.toast-header strong.hasGeneratedQuery {
  cursor: pointer;
}

.toast-body {
  max-height: 200px;
  overflow: auto;
}

.exception .toast-body {
  cursor: pointer;
}

#stackTraceModal {
  h5 {
    margin: 0;
  }

  .modal-body, .modal-footer {
    background-color: rgba(255, 255, 255, 0.85);
  }
}
