@use "sass:math";
@import "scss/style.scss";

$node-width: 350px;
$socket-margin: 6px;
$socket-size: 16px;


:host {
  display: block;
  background: white;
  border: 4px solid $dark;
  border-radius: 4px;
  cursor: pointer;
  //box-sizing: border-box;
  width: $node-width !important;
  height: auto !important;
  padding-bottom: 6px;
  position: relative;
  user-select: none;

  .title-wrapper {
    margin: -4px;
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    border-color: $primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .title-wrapper {
      background-color: $primary !important;
    }
  }

  &.selected {
    border-color: $primary;

    .title-wrapper {
      background-color: $primary !important;
    }
  }

  .outputs {
    display: flex;
    justify-content: space-around;
    margin-top: -18px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: -18px;
    height: 24px;
  }

  .output, .input {
    text-align: left;
    display: block;
  }

  .output-socket {
    text-align: right;
    display: inline-block;
  }

  .input-socket {
    text-align: left;
    display: inline-block;
  }

  .input-control {
    z-index: 1;
    width: calc(100% - #{$socket-size + 2*$socket-margin});
    vertical-align: middle;
    display: inline-block;
  }

  .control {
    padding: $socket-margin math.div($socket-size, 2) + $socket-margin;
  }


}
