<c-badge color="dark" class="socket-label" *ngIf="data.multiConnIdx != null">{{data.multiConnIdx}}</c-badge>
<div class="outputs">
    <div class="output" *ngFor="let output of data.outputs | keyvalue: sortByIndex"
         [attr.data-testid]="'output-'+output.key">
        <div class="output-socket"
             refComponent
             [data]="{type: 'socket', side: 'output', key: output.key, nodeId: data.id, payload: output.value?.socket, seed: seed }"
             [emit]="emit" data-testid="output-socket"
        ></div>
    </div>
</div>

<div class="title-wrapper bg-dark d-flex justify-content-between align-items-center">
    <h2 class="p-2 text-white mb-0">{{ data.label }} </h2>
    <div class="m-2">
        <c-badge *ngIf="data.hasSimpleParams && data.isSimpleMode()" color="success" class="me-1 simple-badge"
                 (click)="deactivateSimpleMode()" (pointerdown)="$event.stopPropagation()">Simple
        </c-badge>
        <c-badge [color]="data.modelColor" *ngIf="data.modelBadge">{{data.modelBadge}}</c-badge>
    </div>
</div>

<div class="node-body">
    <div class="controls" [class.mb-2]="data.hasVisibleControls()">
        <ng-container *ngFor="let control of data.controls | keyvalue: sortByIndex">
            <div class="control" *ngIf="!control.value.isHidden()"
                 refComponent [data]="{type: 'control', payload: control.value }"
                 [emit]="emit" [attr.data-testid]="'control-'+control.key"
            ></div>
        </ng-container>
    </div>
    <div *ngIf="data.isReadOnly" class="metadata" [hidden]="!data.isMetaVisible()">
        <app-alg-metadata [data]="data.metadata"></app-alg-metadata>
    </div>
    <div *ngIf="data.isReadOnly" (click)="toggleCollapse()" (pointerdown)="$event.stopPropagation()" class="collapse-button d-flex align-items-center justify-content-center py-1 z-1">
        <i class="fa" [ngClass]="{'fa-caret-left': data.isMetaVisible(), 'fa-caret-right': !data.isMetaVisible()}"></i>
    </div>

</div>

<div class="inputs">
    <div class="input" *ngFor="let input of data.inputs | keyvalue: sortByIndex"
         [attr.data-testid]="'input-'+input.key">
        <div class="input-socket"
             refComponent
             [data]="{type: 'socket', side: 'input', key: input.key, nodeId: data.id, payload: input.value?.socket, seed: seed }"
             [emit]="emit" data-testid="input-socket"
        ></div>
        <div
                class="input-control"
                [style.display]="input.value?.control && input.value?.showControl ? '' : 'none'"
                refComponent
                [data]="{type: 'control', payload: input.value?.control }"
                [emit]="emit"
                data-testid="input-control"
        ></div>
    </div>
</div>

