@if (data.multiConnIdx != null) {
    <c-badge color="dark" class="socket-label">{{ data.multiConnIdx }}</c-badge>
}
<div class="outputs">
    @for (output of data.outputs | keyvalue: sortByIndex; track output.key) {
        <div class="output"
             [attr.data-testid]="'output-'+output.key">
            <div class="output-socket"
                 refComponent
                 [data]="{type: 'socket', side: 'output', key: output.key, nodeId: data.id, payload: output.value?.socket, seed: seed }"
                 [emit]="emit" data-testid="output-socket"
            ></div>
        </div>
    }
</div>

<div class="title-wrapper d-flex justify-content-between align-items-center" [ngClass]="data.isAuxiliary ? 'auxiliary' : 'bg-dark'">
    <h2 class="p-2 text-white mb-0">{{ data.label }} </h2>
    <h4 class="m-2">
        @if (data.hasSimpleParams && data.isSimpleMode()) {
            <c-badge color="success" class="me-1 simple-badge"
                     (click)="deactivateSimpleMode()" (pointerdown)="$event.stopPropagation()">Simple
            </c-badge>
        }
        @if (data.modelBadge) {
            <c-badge [color]="data.modelColor">{{ data.modelBadge }}</c-badge>
        }
    </h4>
</div>

<div class="node-body">
    <div class="controls" [class.mb-2]="data.hasVisibleControls()">
        @if (data.decl.notRegistered) {
            <p class="ms-2 mt-2"><i>(unknown operator)</i></p>
        }
        @for (control of data.controls | keyvalue: sortByIndex; track control.key) {
            @if (!control.value.isHidden()) {
                <div class="control"
                     refComponent [data]="{type: 'control', payload: control.value }"
                     [emit]="emit" [attr.data-testid]="'control-'+control.key"
                ></div>
            }
        }
    </div>
    @if (data.isReadOnly) {
        <div class="metadata" [hidden]="!data.isMetaVisible()">
            <app-alg-metadata [data]="data.metadata"></app-alg-metadata>
        </div>
    }
    @if (data.isReadOnly) {
        <div (click)="toggleCollapse()" (pointerdown)="$event.stopPropagation()"
             class="collapse-button d-flex align-items-center justify-content-center py-1 z-1">
            <i class="fa" [ngClass]="{'fa-caret-left': data.isMetaVisible(), 'fa-caret-right': !data.isMetaVisible()}"></i>
        </div>
    }

</div>

<div class="inputs">
    @for (input of data.inputs | keyvalue: sortByIndex; track input.key) {
        <div class="input"
             [attr.data-testid]="'input-'+input.key">
            <div class="input-socket"
                 refComponent
                 [data]="{type: 'socket', side: 'input', key: input.key, nodeId: data.id, payload: input.value?.socket, seed: seed }"
                 [emit]="emit" data-testid="input-socket"
            ></div>
            <div
                    class="input-control"
                    [style.display]="input.value?.control && input.value?.showControl ? '' : 'none'"
                    refComponent
                    [data]="{type: 'control', payload: input.value?.control }"
                    [emit]="emit"
                    data-testid="input-control"
            ></div>
        </div>
    }
</div>

