<c-row [gutter]="{gy: 3}">
    @if (statistics()) {
        <c-col class="col-12 mb-3">
            <div class="card">
                <div class="card-header">Overview</div>
                <div class="card-body">

                    <c-row>
                        <c-col [xl]="hasWorkload() ? 8 : 12">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Number of Rows</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ this.statistics().numberOfRows }}</td>
                                    <th></th>
                                </tr>
                                </tbody>
                            </table>
                            @if (this.statistics().entityType != 'MATERIALIZED_VIEW') {
                                <table class="table table-hover table-striped"
                                >
                                    <thead>
                                    <tr>
                                        <th># of SELECT</th>
                                        <th># of INSERT</th>
                                        <th># of DELETE</th>
                                        <th># of UPDATE</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ this.statistics().calls.numberOfSelects }}</td>
                                        <td>{{ this.statistics().calls.numberOfInserts }}</td>
                                        <td>{{ this.statistics().calls.numberOfDeletes }}</td>
                                        <td>{{ this.statistics().calls.numberOfUpdates }}</td>
                                        <th></th>
                                    </tr>
                                    </tbody>
                                </table>
                            }
                        </c-col>
                        @if (hasWorkload()) {
                            <c-col [xl]="4">
                                <app-graph [data]="workloadData()"
                                           [labels]="['DELETE', 'SELECT', 'INSERT', 'UPDATE']"
                                           [chartType]="'DOUGHNUT'"></app-graph>

                            </c-col>
                        }
                    </c-row>
                </div>
            </div>
        </c-col>

        @if (statistics().columns?.length > 0) {
            <h5 class="mb-0">Column Statistics</h5>
        }
        @for (col of statistics().columns; track col.columnId) {
            <c-col [xs]="12" [md]="6" [xl]="4">
                <c-card>
                    <c-card-header>
                        <strong>{{ col.columnName }}</strong>: {{ col.type }}
                    </c-card-header>
                    <c-card-body>
                        @if (col.temporalType) {
                            <!--Temporal-->
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Unique Values</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ col.min.value }}</td>
                                    <td>{{ col.max.value }}</td>
                                    @if (col.full) {
                                        <td><i>Too many unique values</i></td>
                                    } @else {
                                        <td>{{ col.uniqueValues | mapPolyListValues }}</td>
                                    }
                                </tr>
                                </tbody>
                            </table>

                        } @else if (col.min) {
                            <!--Numerical-->
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Unique Values</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ col.min.value }}</td>
                                    <td>{{ col.max.value }}</td>
                                    @if (col.full) {
                                        <td><i>Too many unique values</i></td>
                                    } @else {
                                        <td>{{ col.uniqueValues | mapPolyListValues }}</td>
                                    }
                                </tr>
                                </tbody>
                            </table>

                        } @else {
                            <!--Alphabetic-->
                            <div>
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Unique Values</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        @if (col.full) {
                                            <td><i>Too many unique values</i></td>
                                        } @else {
                                            <td>{{ col.uniqueValues | mapPolyListValues }}</td>
                                        }
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </c-card-body>
                </c-card>
            </c-col>
        }
    } @else if (loading()) {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    } @else {
        <c-col>
            <c-alert color="warning">
                <div>
                    <strong>There are currently no statistics available.</strong>
                </div>
            </c-alert>
        </c-col>
    }

</c-row>
