<div class="row">

    <div class="col-lg-12">
        <div class="card" *ngIf="statisticSet != null">
            <div class="card-header">Entity statistics of {{tableId}}</div>
            <div class="card-body">
                <h5>Table Statistics</h5>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Number of Rows</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{this.statisticSet.numberOfRows}}</td>
                        <th></th>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-hover table-striped" *ngIf="this.statisticSet.tableType != 'MATERIALIZED_VIEW'">
                    <thead>
                    <tr>
                        <th># of SELECT</th>
                        <th># of INSERT</th>
                        <th># of DELETE</th>
                        <th># of UPDATE</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{this.statisticSet.calls.numberOfSelects}}</td>
                        <td>{{this.statisticSet.calls.numberOfInserts}}</td>
                        <td>{{this.statisticSet.calls.numberOfDeletes}}</td>
                        <td>{{this.statisticSet.calls.numberOfUpdates}}</td>
                        <th></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card" *ngIf="statisticSet != null">
            <div class="card-header">Column statistics of {{tableId}}</div>
            <div class="card-body">
                <div *ngFor="let obj of this.alphabeticStatisticSet | keyvalue">
                    <div *ngIf="!obj.value.isFull">
                        <h5>{{obj.value.column}}</h5>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th *ngIf="!obj.value.isFull">Unique Values</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td *ngIf="!obj.value.isFull">{{obj.value.uniqueValues}}</td>
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngFor="let obj of this.numericalStatisticSet | keyvalue">
                    <h5>{{obj.value.column}}</h5>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Min</th>
                            <th>Max</th>
                            <th *ngIf="!obj.value.isFull">Unique Values</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{obj.value.min}}</td>
                            <td>{{obj.value.max}}</td>
                            <td *ngIf="!obj.value.isFull">{{obj.value.uniqueValues}}</td>
                            <th></th>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div *ngFor="let obj of this.temporalStatisticSet| keyvalue">
                    <h5>{{obj.value.column}}</h5>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Min</th>
                            <th>Max</th>
                            <th *ngIf="!obj.value.isFull">Unique Values</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{obj.value.min}}</td>
                            <td>{{obj.value.max}}</td>
                            <td *ngIf="!obj.value.isFull">{{obj.value.uniqueValues}}</td>
                            <th></th>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

</div>
