<div class="param-wrapper">
    <label for="arg" *ngIf="data.name"><strong>{{data.name}}</strong></label>

    <c-input-group>
        <input type="text" id="arg" name="arg" (pointerdown)="$event.stopPropagation()"
               autocomplete="off" [readonly]="data.readonly"
               class="form-control form-control-sm param-input" [(ngModel)]="data.value.arg">
        <ng-container *ngIf="data.value.alias != null">
            <span cInputGroupText>AS</span>
            <input type="text" id="alias" name="alias" (pointerdown)="$event.stopPropagation()"
                   autocomplete="off" [readonly]="data.readonly" placeholder="{{data.value.arg}}"
                   class="form-control form-control-sm param-input" [ngModel]="data.value.alias">
        </ng-container>
    </c-input-group>
</div>
