@if (entity()) {
    <c-row>
        <c-col>
            <div class="d-flex align-items-center">
                <h1 class="flex-grow-1">{{ entity()?.name }}</h1>

                <div>
                    <button cButton color="light" (click)="openDataView()">Show Data</button>
                </div>
            </div>

            <ul class="nav nav-underline mb-5" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       [ngClass]="{'active': activeTab() === 'fields'}"
                       (click)="setTab('fields')"
                       role="tab">Fields</a>
                </li>
                @if (placements()) {
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           [ngClass]="{'active': activeTab() === 'placement'}"
                           (click)="setTab('placement')"
                           role="tab">Placements</a>
                    </li>
                }
                <!--<li class="nav-item" role="presentation">
                <a class="nav-link"
                  [ngClass]="{'active': activeTab() === 'statistics'}"
                  (click)="setTab('statistics')"
                role="tab">Statistics</a>
              </li>-->
            </ul>
        </c-col>

    </c-row>

    <c-row>
        <c-col [hidden]="activeTab() !== 'fields'">
            <table class="table table-hover table-striped" id="dbColumnTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for (col of []; track i; let i = $index) {
                        <tr
                                [ngClass]="{'editing': i === editColumn}">
                            @if (i === editColumn) {
                                <ng-container [formGroup]="updateColumn">
                                    <td>
                                        <input type="text" class="form-control form-control-sm" formControlName="name"
                                               [attr.data-before]="col.name" id="colName" #editColName>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary"><i class="fa fa-save editColSave"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            }
                            @if (i !== editColumn) {
                                <td>{{ col.name }}</td>
                                <td class="buffer">
                                    <div></div>
                                </td>
                            }
                        </tr>
                    }

                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="columnName" placeholder="field name"
                               [(ngModel)]="createColumn.name" readonly>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <a [routerLink]="[]" class="btn btn-primary disabled" id="addColumnBtn">+</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </c-col>

        <c-col [hidden]="activeTab() !== 'placement'">
            <div class="mb-4" style="position: relative">
                @if (addableStores().length > 0) {
                    <div class="btn-group btn-group-sm" id="placementBtnGroup"
                    >
                        <div class="btn-group btn-group-sm" dropdown placement="top right" [dropup]="stores().length>3">
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                @if (!selectedStore) {
                                    <span>Select store</span>
                                }
                                @if (selectedStore) {
                                    <span>{{ selectedStore.name }}</span>
                                }
                                <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                @for (store of addableStores(); track store.id) {
                                    <li role="menuitem">
                                        <a class="dropdown-item" [routerLink]="[]" (click)="selectedStore = store">{{ store.name }}</a>
                                    </li>
                                }
                                @if (addableStores().length === 0) {
                                    <li role="menuitem">
                                        <a class="dropdown-item disabled" [routerLink]="[]">no stores available</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <button cButton size="sm" color="primary" (click)="modifyPlacement(Method.ADD)">add</button>
                    </div>
                }
            </div>
            <table cTable hover striped>
                <thead>
                <tr>
                    <th>Store</th>
                    <th>Adapter</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for (placement of placements(); track placement.id; let i = $index) {
                        <tr>
                            <td>{{ _catalog.getAdapter( placement.adapterId )?.name }}</td>
                            <td>{{ _catalog.getAdapter( placement.adapterId )?.adapterName }}</td>
                            <!-- show delete icon only if there is more than one placement (deleting a single placement is not possible) --->
                            @if (placements().length > 1) {
                                <td class="delete">
                                    <app-delete-confirm (delete)="modifyPlacement(Method.DROP, placement.adapterId )"></app-delete-confirm>
                                </td>
                            }
                            <!-- don't show delete icon if there is only one placement --->
                            @if (placements().length < 2) {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </c-col>

        @if (activeTab() === 'statistics') {
            <c-col>
                <app-statistics-column [entity]="entity()"></app-statistics-column>
            </c-col>
        }


    </c-row>
} @else {
    <span>Please select an entity in the left sidebar to edit its columns.</span>
}


