<c-input-group>
    <select class="form-control btn pull-right me-1 border bg-white" [ngModel]="language"
            (ngModelChange)="onLanguageChange($event)" *ngIf="!loading">
        <option *ngFor="let ql of QUERY_LANGUAGES"  value='{{ql.toLowerCase()}}'>{{ql}}</option>
    </select>
    <button *ngIf="!loading" cButton type="submit" color="primary" (click)="onExecute()">Execute</button>
    <button *ngIf="loading" type="submit" cButton color="primary"
            class="progress-bar-striped progress-bar-animated align-self-end" disabled>Loading</button>
</c-input-group>
