<c-row class="row" id="about-row">

    <c-col class="col-lg-12">

        <img src="assets/img/brand/sygnet.svg" id="logo" class="mb-2">
        <h1>About Polypheny</h1>
        <p>Learn more on <a href="https://polypheny.com/">polypheny.com</a></p>

        <div id="developers">
            <h4>Developers</h4>

            <div class="dev">
                <span>Marco Vogt</span><br>
                <a href="https://github.com/vogti">vogti</a>
            </div>
            <div class="dev">
                <span>Nils Hansen</span><br>
                <a href="https://github.com/nilshansen94">nilshansen94</a>
            </div>
            <div class="dev">
                <span>Isabel Geissmann</span><br>
                <a href="https://github.com/isabelge">isabelge</a>
            </div>
            <div class="dev">
                <span>Jonas Rudin</span><br>
                <a href="https://github.com/jonasrudin">jonasrudin</a>
            </div>
            <div class="dev">
                <span>David Lengweiler</span><br>
                <a href="https://github.com/datomo">datomo</a>
            </div>
            <div class="dev">
                <span>Jannik Jaberg</span><br>
                <a href="https://github.com/cptunderground">cptunderground</a>
            </div>
            <div class="dev">
                <span>Jan Schönholz</span><br>
                <a href="https://github.com/schoenja">schoenja</a>
            </div>
            <div class="dev">
                <span>Christian Frei</span><br>
                <a href="https://github.com/christianfrei">christianfrei</a>
            </div>
            <div class="dev">
                <span>Sebastian Philipp</span><br>
                <a href="https://github.com/s3lph">s3lph</a>
            </div>
            <div class="dev">
                <span>Marc Hennemann</span><br>
                <a href="https://github.com/hennlo">hennlo</a>
            </div>
            <div class="dev">
                <span>Cédric Mendelin</span><br>
                <a href="https://github.com/cedricmendelin">cedricmendelin</a>
            </div>
            <div class="dev">
                <span>Shubham Arawkar</span><br>
                <a href="https://github.com/earthshakira">earthshakira</a>
            </div>
            <div class="dev">
                <span>Harshit Sharma</span><br>
                <a href="https://github.com/S-Harshit">S-Harshit</a>
            </div>
            <div class="dev">
                <span>Vishal Dalwadi</span><br>
                <a href="https://github.com/VishalDalwadi">VishalDalwadi</a>
            </div>

        </div>

        <div class="">
            <p>
                Copyright 2019-2023 The Polypheny Project<br>
                Polypheny is powered by <a href="https://polypheny.org/community/acknowledgements/acknowledgements.txt">open-source
                software</a>
                This UI is based on the beautiful <a href="https://coreui.io/angular/">CoreUI</a> template.
            </p>
        </div>

    </c-col>

</c-row>
