#about-row {
  text-align: center;
}

h4 {
  margin: 1rem 0 0.5rem 0;
}

#developers .dev {
  margin-top: 0.5em;
}

#libs h6 {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0;
}

#logo{
  height: 100px;
}
