<c-row id="about-row">

    <c-col class="col-lg-12">

        <img src="assets/img/brand/sygnet.svg" id="logo" class="mb-2">
        <h1>About Polypheny</h1>
        <p>Learn more on <a href="https://polypheny.org/" target="_blank">polypheny.org</a></p>

        <div class="">
            <p>
                Copyright 2019-2023 The Polypheny Project<br>
                Polypheny is powered by <a href="https://polypheny.org/community/acknowledgements/acknowledgements.txt">open-source
                software</a>
                <br>
                This UI is based on the beautiful <a href="https://coreui.io/angular/">CoreUI</a> template.
            </p>
        </div>

    </c-col>

</c-row>
