<div class="row" id="about-row">

  <div class="col-lg-12">

    <img src="assets/img/brand/sygnet.svg" id="logo" class="mb-2">
    <h1>About Polypheny</h1>
    <p>Learn more on <a href="https://polypheny.org/">polypheny.org</a></p>

    <div id="developers">
      <h4>Developers</h4>

      <div class="dev">
        <span>Marco Vogt</span><br>
        <a href="https://github.com/vogti">vogti</a>
      </div>
      <div class="dev">
        <span>Nils Hansen</span><br>
        <a href="https://github.com/nilshansen94">nilshansen94</a>
      </div>
      <div class="dev">
        <span>Isabel Geissmann</span><br>
        <a href="https://github.com/isabelge">isabelge</a>
      </div>
      <div class="dev">
        <span>Jonas Rudin</span><br>
        <a href="https://github.com/jonasrudin">jonasrudin</a>
      </div>
      <div class="dev">
        <span>David Lengweiler</span><br>
        <a href="https://github.com/datomo">datomo</a>
      </div>
      <div class="dev">
        <span>Jannik Jaberg</span><br>
        <a href="https://github.com/cptunderground">cptunderground</a>
      </div>
      <div class="dev">
        <span>Jan Schönholz</span><br>
        <a href="https://github.com/schoenja">schoenja</a>
      </div>
      <div class="dev">
        <span>Christian Frei</span><br>
        <a href="https://github.com/christianfrei">christianfrei</a>
      </div>
      <div class="dev">
        <span>Sebastian Philipp</span><br>
        <a href="https://github.com/s3lph">s3lph</a>
      </div>
      <div class="dev">
        <span>Marc Hennemann</span><br>
        <a href="https://github.com/hennlo">hennlo</a>
      </div>

    </div>

    <div id="libs">
      <h4>Used libraries and technologies</h4>
      <h6 class="mt-0">Polypheny-DB</h6><br>
      <a href="https://calcite.apache.org/avatica/">Apache Avatica</a><br>
      <a href="https://calcite.apache.org/">Apache Calcite</a><br>
      <a href="http://hsqldb.org/">HSQLDB</a><br>
      <a href="https://javacc.github.io/javacc/">JavaCC</a><br>
      <a href="http://sparkjava.com/">Java Spark</a><br>
      <a href="https://projectlombok.org/">Project Lombok</a><br>
      <h6>Polypheny-UI</h6><br>
      <a href="https://angular.io/">Angular</a><br>
      <a href="https://coreui.io/angular/">Coreui</a><br>
      <a href="https://getbootstrap.com/">Bootstrap</a><br>
      <a href="https://ace.c9.io/">Ace</a>
      <!--<a href="https://www.npmjs.com/package/angular-ng-autocomplete">angular-ng-autocomplete</a>
      <a href="https://angular2-tree.readme.io/docs">angular-tree-component</a>-->
    </div>

    <div class="">
      <h4>License</h4>
      <p>
        Copyright 2019-2021 The Polypheny Project<br>
        Licensed under the Apache License, Version 2.0 (the "License");<br>
        you may not use this file except in compliance with the License.<br>
        You may obtain a copy of the License at
        <br><br>
        <a href="http://www.apache.org/licenses/LICENSE-2.0" class="text-dark">http://www.apache.org/licenses/LICENSE-2.0</a>
        <br><br>
        Unless required by applicable law or agreed to in writing, software<br>
        distributed under the License is distributed on an "AS IS" BASIS,<br>
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br>
        See the License for the specific language governing permissions and<br>
        limitations under the License.
      </p>
    </div>

  </div>

</div>
