.col-lg-6.fixed-width {
  max-width: 400px;
}
.fixed-height {
  height: 240px;
}
@media screen and (max-width: 830px){
  .fixed-width{
    max-width:100%!important;
  }
}
.topRight{
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  z-index: 2;
}

.checkbox-wrapper{
  flex: 1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #e4e7ea;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group select{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  /** from: https://www.clickstorm.de/blog/dropdown-css3/*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.noRadiusRight{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.select-wrapper::after{
  /* see: https://www.clickstorm.de/blog/dropdown-css3/ */
  content: "\25BE";
  font-family: initial;
  font-size:1em;
  position: absolute;
  right: 15px;
  top: 0.5em;
}
#aqi-table img{
  max-width: 50px;
  max-height: 50px;
}
#aqi tr td:first-child{
  padding:0.5em;
}
#queryInterfaces .logo{
  max-width: 60px;
  max-height: 60px;
  float: right;
  font-size: 50px;
}
#queryInterfaces .card .card-body{
  overflow: auto;
  > span {
    display: block;
    span{
      width: 1.2em;
    }
  }
}
.center{
  text-align: center;
  vertical-align: middle;
}
.center i{
  font-size: 50px;
}
