<app-toast></app-toast>
<ng-container [ngSwitch]="route">

  <!-- availableAdapters -->
  <div class="row" *ngSwitchCase="['addStore','addSource'].includes(route) ? route : ''">
    <div class="col-lg-12">
      <h2>Adapters</h2>
    </div>
  </div>
  <div class="row" *ngSwitchCase="['addStore','addSource'].includes(route) ? route : ''">
    <button class="btn btn-circle btn-primary topRight" [routerLink]="['./../']"><i class="fa fa-close"></i></button>

    <div class="col-lg-12" *ngIf="getAvailableAdapters()">
      <table class="table table-hover table-sm table-bordered table-striped" id="adapter-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deploy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adapter of getAvailableAdapters()">
            <td class="center">
              <ng-container *ngIf="getLogo(adapter.name).startsWith('assets/')">
                <img [src]="getLogo(adapter.name)" alt="">
              </ng-container>
              <ng-container *ngIf="!getLogo(adapter.name).startsWith('assets/')">
                <i [class]="getLogo(adapter.name)"></i>
              </ng-container>
            </td>
            <td><strong>{{adapter.name}}</strong></td>
            <td>{{adapter.description}}</td>
            <td class="center">
              <button class="btn btn-sm btn-primary" (click)="initDeployModal(adapter)">Deploy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- template for current stores and sources, it is called below -->
  <ng-template #adapterTemplate let-adapters="adapters" let-type="type">
    <div class="col-lg-6 fixed-width" *ngFor="let adapter of adapters">

      <div class="card fixed-height">
        <div class="card-header">
          {{adapter.uniqueName}}
        </div>
        <div class="card-body">
          <img *ngIf="getLogo(adapter.adapterName).startsWith('assets/')" [src]="getLogo(adapter.adapterName)" alt="" class="logo">
          <i *ngIf="!getLogo(adapter.adapterName).startsWith('assets/')" [class]="'logo ' + getLogo(adapter.adapterName)"></i>
          <span class="mb-2">Adapter: {{adapter.adapterName}}</span>

          <span *ngIf="adapter.schemaReadOnly"><span class="fa fa-lock" style="padding-left: 2px"></span> schema-read-only</span>
          <span *ngIf="adapter.dataReadOnly"><span class="fa fa-eye"></span> data-read-only</span>
          <span *ngIf="adapter.persistent"><span class="fa fa-floppy-o" style="padding-left: 1px"></span> persistent</span>

        </div>
        <div class="card-footer bg-transparent">
          <button class="btn btn-danger" (click)="removeAdapter(adapter)" (mouseleave)="deletingAdapter = undefined">
            <i class="cui-trash" [ngClass]="{'cui-trash': adapter !== deletingAdapter, 'fa fa-warning': adapter === deletingAdapter}"></i>
          </button>
          <button class="btn btn-primary pull-right" (click)="initAdapterSettingsModal(adapter)">Configure</button>
        </div>
      </div>

    </div>
    <div class="col-lg-6 fixed-height add-adapter-wrapper">
      <button *ngIf="type === 'source'" class="btn btn-primary add-adapter" [routerLink]="['./addSource']"><i class="fa fa-plus"></i></button>
      <button *ngIf="type === 'store'" class="btn btn-primary add-adapter" [routerLink]="['./addStore']"><i class="fa fa-plus"></i></button>
    </div>
  </ng-template>

  <!-- show current stores and sources -->
  <div *ngSwitchDefault>
    <div class="row">
      <div class="col-lg-12">
        <h2>Stores</h2>
      </div>
    </div>
    <div class="row adapters">
      <ng-container *ngTemplateOutlet="adapterTemplate; context:{adapters: stores, type: 'store'}"></ng-container>
    </div>
  </div>
  <div *ngSwitchDefault>
    <div class="row">
      <div class="col-lg-12">
        <h2>Sources</h2>
      </div>
    </div>
    <div class="row adapters">
      <ng-container *ngTemplateOutlet="adapterTemplate; context:{adapters: sources, type: 'source'}"></ng-container>
    </div>
  </div>

</ng-container>


<div bsModal #adapterSettingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="editUserModal" (onHide)="onCloseModal()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" (click)="adapterSettingsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Edit adapter settings -->
      <div class="modal-body" *ngIf="editingAdapter && editingAdapter.adapterSettings">
        <form [formGroup]="editingAdapterForm" autocomplete="off">
          <div class="form-group" *ngFor="let control of editingAdapterForm.controls | keyvalue">
            <div class="input-group" *ngIf="!getAdapterSetting(editingAdapter, control.key).options">
              <div class="input-group-prepend">
                <label [for]="control.key" class="input-group-text">{{control.key}}</label>
              </div>
              <input type="text" class="form-control" [id]="control.key" [formControlName]="control.key"
                     [ngClass]="validate(editingAdapterForm, control.key)" (keyup.enter)="saveAdapterSettings()">
              <div class="invalid-feedback">required</div>
            </div>
            <div class="form-group" *ngIf="getAdapterSetting(editingAdapter, control.key).options">
              <div class="input-group select-wrapper">
                <div class="input-group-prepend">
                  <label class="input-group-text" [for]="control.key">{{control.key}}</label>
                </div>
                <select [id]="control.key" class="form-control" [formControlName]="control.key">
                  <option *ngFor="let option of getAdapterSetting(editingAdapter, control.key).options"
                          [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Form for deploying -->
      <div class="modal-body" *ngIf="editingAvailableAdapter && editingAvailableAdapter.adapterSettings">
        <form [formGroup]="availableAdapterUniqueNameForm" (ngSubmit)="deploy()" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="adapterUniqueName" class="input-group-text">Store Name</label>
              </div>
              <input type="text" class="form-control" id="adapterUniqueName" formControlName="uniqueName"
                     [ngClass]="validate(availableAdapterUniqueNameForm, 'uniqueName')" (keyup.enter)="deploy()">
              <div class="invalid-feedback">{{getFeedback()}}</div>
            </div>
          </div>
        </form>
        <form [formGroup]="editingAvailableAdapterForm" (ngSubmit)="deploy()" autocomplete="off">
          <div class="form-group" *ngFor="let control of editingAvailableAdapterForm.controls | keyvalue">
            <div class="input-group" *ngIf="!getAdapterSetting(editingAvailableAdapter, control.key).options">
              <div class="input-group-prepend">
                <label [for]="control.key" class="input-group-text">{{control.key}}</label>
              </div>
              <input type="text" class="form-control" [id]="control.key" [formControlName]="control.key"
                     [ngClass]="validate(editingAvailableAdapterForm, control.key)" (keyup.enter)="deploy()">
              <div class="invalid-feedback">required</div>
            </div>
            <div class="form-group" *ngIf="getAdapterSetting(editingAvailableAdapter, control.key).options">
              <div class="input-group select-wrapper">
                <div class="input-group-prepend">
                  <label class="input-group-text" [for]="control.key">{{control.key}}</label>
                </div>
                <select [id]="control.key" class="form-control" [formControlName]="control.key" class="form-control">
                  <option *ngFor="let option of getAdapterSetting(editingAvailableAdapter, control.key).options" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="position: absolute; left: 1rem;" (click)="adapterSettingsModal.hide()">Close</button>
        <button *ngIf="editingAdapter" type="submit" class="btn btn-primary" (click)="saveAdapterSettings()" [disabled]="!editingAdapterForm.valid">Save</button>
        <button *ngIf="editingAvailableAdapter" type="submit" class="btn btn-primary" (click)="deploy()" [disabled]="!availableAdapterUniqueNameForm.valid || !editingAvailableAdapterForm.valid">Deploy</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
