<ng-container [ngSwitch]="currentRoute()">

    <!-- availableAdapters -->
    <c-row *ngSwitchCase="['addStore','addSource'].includes(currentRoute()) ? currentRoute() : ''">
        <c-col>
            <h2>Adapters</h2>
            <br>
        </c-col>
    </c-row>
    <c-row *ngSwitchCase="['addStore','addSource'].includes(currentRoute()) ? currentRoute() : ''">
        <button cButton color="primary" class="btn-circle topRight" [routerLink]="['./../']">
            <i class="fa fa-close"></i>
        </button>

        <c-col *ngIf="availableAdapters()">
            <table cTable size="sm" hover="true" bordered="true" id="adapter-table">
                <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deploy</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let adapter of availableAdapters()">
                    <td class="center">
                        <ng-container *ngIf="getLogo(adapter.adapterName).startsWith('assets/')">
                            <img [src]="getLogo(adapter.adapterName)" alt="">
                        </ng-container>
                        <ng-container *ngIf="!getLogo(adapter.adapterName).startsWith('assets/')">
                            <i [class]="getLogo(adapter.adapterName)"></i>
                        </ng-container>
                    </td>
                    <td><strong>{{ adapter.adapterName }}</strong></td>
                    <td>{{ adapter.description }}</td>
                    <td class="center">
                        <button cButton size="sm" color="primary" (click)="initDeployModal(adapter)">Deploy</button>
                        <!--  initDeployModal(adapter) openTableDialog() -->
                    </td>
                </tr>
                </tbody>
            </table>
        </c-col>
    </c-row>

    <!-- template for current stores and sources, it is called below -->
    <ng-template #adapterTemplate let-adapters="adapters" let-type="type">
        <c-col [lg]="6" class="fixed-width" *ngFor="let adapter of adapters">
            <c-card class="fixed-height">
                <c-card-header class="card-header-adapter">
                    <p>{{ adapter.name }}</p>
                    <c-badge *ngIf="adapter.mode === DeployMode.DOCKER" color="primary">Docker</c-badge>
                    <c-badge *ngIf="adapter.mode === DeployMode.REMOTE" color="success">Remote</c-badge>
                    <c-badge *ngIf="adapter.mode === DeployMode.EMBEDDED" color="info">Embedded</c-badge>
                </c-card-header>
                <c-card-body>
                    <img *ngIf="getLogo(adapter.adapterName).startsWith('assets/')" [src]="getLogo(adapter.adapterName)"
                         alt="" class="logo">
                    <i *ngIf="!getLogo(adapter.adapterName).startsWith('assets/')"
                       [class]="'logo ' + getLogo(adapter.adapterName)"></i>
                    <span class="mb-2">Adapter: {{ adapter.adapterName }}</span>

                    <span *ngIf="adapter.dataReadOnly"><span class="fa fa-eye"></span> read-only</span>
                    <span *ngIf="adapter.persistent"><span class="fa fa-floppy-o" style="padding-left: 1px"></span> persistent</span>
                    <span *ngIf="adapter.settings.hasOwnProperty('host') && adapter.settings.hasOwnProperty('port')">{{ adapter.settings['host'] }}
                        <span *ngIf="adapter.mode === DeployMode.REMOTE">: {{ adapter.settings['port'] }}</span>
                    </span>
                </c-card-body>
                <c-card-footer class="bg-transparent">
                    <button cButton color="danger" (click)="removeAdapter(adapter)"
                            (mouseleave)="resetDeletingAdapter(adapter)" [ngClass]="{'disabled': isDeleting(adapter)}">
                        <i class="text-white" *ngIf="!isDeleting(adapter)"
                           [ngClass]="{'cil-trash': adapter !== deletingAdapter, 'cil-warning': adapter === deletingAdapter}"></i>
                        <c-spinner *ngIf="isDeleting(adapter)" size="sm" cBorder color="light"
                                   role="status"></c-spinner>
                    </button>
                    <c-badge
                        *ngIf="adapter.metadataStatus"
                        [color]="adapter.metadataStatus === 'CRITICAL' ? 'danger' : 'warning'"
                        class="mx-2 pulse clickable"
                        cTooltip="Metadata changed - click to review"
                        (click)="previewAndChange(adapter.name)">❗
                    </c-badge>
                    <button cButton color="primary" class="pull-right"
                            (click)="changeAdapterSettings(adapter)">
                        Credentials
                    </button>
                    <button cButton color="primary" class="pull-right"
                            (click)="initAdapterSettingsConfigureModal(adapter)">
                        Configure
                    </button>
                </c-card-footer>
            </c-card>

        </c-col>
        <c-col size="1" [lg]="6" class="fixed-height fixed-width add-adapter-wrapper">
            <button cButton color="primary" *ngIf="type === 'source'" class="add-btn"
                    [routerLink]="['./addSource']">
                <i class="fa fa-plus"></i>
            </button>
            <button cButton color="primary" *ngIf="type === 'store'" class="add-btn" [routerLink]="['./addStore']">
                <i class="fa fa-plus"></i>
            </button>
        </c-col>
    </ng-template>

    <!-- show current stores and sources -->
    <div *ngSwitchDefault class="mb-3">
        <c-row>
            <c-col size="12">
                <h2>Stores</h2>
                <br>
            </c-col>
        </c-row>
        <c-row class="adapters" [gutter]="3">
            <ng-container
                    *ngTemplateOutlet="adapterTemplate; context:{adapters: stores(), type: 'store'}"></ng-container>
        </c-row>
        <br>
    </div>
    <div *ngSwitchDefault>
        <c-row>
            <c-col size="12">
                <h2>Sources</h2>
                <br>
            </c-col>
        </c-row>
        <c-row class="adapters" [gutter]="3">
            <ng-container
                    *ngTemplateOutlet="adapterTemplate; context:{adapters: sources(), type: 'source'}"></ng-container>
        </c-row>
        <br>
    </div>
</ng-container>


<c-modal class="fade" role="dialog" *ngIf="modalActive" [visible]="modalActive" aria-labelledby="myModalLabel"
         aria-hidden="true" id="editUserModal" (visibleChange)="onVisibilityChange($event)">
    <c-modal-content>
        <c-modal-header>
            <h4 cModalTitle>{{ activeMode() ? "Settings" : "Deployment Mode" }}</h4>
            <button (click)="modalActive = false" cButtonClose></button>
        </c-modal-header>

        <!-- Edit adapter settings -->
        <c-modal-body *ngIf="editingAdapterForm">
            <form [formGroup]="editingAdapterForm" autocomplete="off" (ngSubmit)="saveAdapterSettings()" cRow
                  [gutter]="{gy:2}">
                <div class="form-group" *ngFor="let control of editingAdapterForm.controls | keyvalue">
                    <ng-container *ngIf="getAdapterSetting(control.key)">
                        <c-input-group
                                *ngIf="!getAdapterSetting(control.key).template.options && getAdapterSetting(control.key).template.type.toLowerCase() !== 'directory'">
                            <span cInputGroupText cTooltipPlacement="left"
                                  [cTooltip]="getAdapterSetting(control.key).template.description">
                                {{ control.key }}
                            </span>
                            <input cFormControl type="text" [id]="control.key"
                                   [formControlName]="control.key"
                                   [ngClass]="validate(editingAdapterForm, control.key)">
                            <c-form-feedback>required</c-form-feedback>
                        </c-input-group>
                        <div class="form-group" *ngIf="getAdapterSetting(control.key).template.options">
                            <c-input-group class="select-wrapper">
                                        <span cInputGroupText cTooltipPlacement="left"
                                              [cTooltip]="getAdapterSetting(control.key).template.description">
                                            {{ control.key }}
                                        </span>
                                <select cSelect [id]="control.key" [formControlName]="control.key">
                                    <option *ngFor="let option of getAdapterSetting( control.key).template.options"
                                            [value]="option">
                                        {{ option }}
                                    </option>
                                </select>
                            </c-input-group>
                        </div>
                        <c-input-group
                                *ngIf="getAdapterSetting(control.key).template.type.toLowerCase() === 'directory'">

                            <label cInputGroupText>{{ control.key }}</label>
                            <input cFormControl type="file"
                                   (change)="onFileChange($event, control.key)"
                                   [ngClass]="validate(editingAdapterForm, control.key)">
                        </c-input-group>
                    </ng-container>
                </div>
            </form>
        </c-modal-body>

        <!-- Form for deploying -->
        <c-modal-body *ngIf="adapter() && !editingAdapterForm">
            <div *ngIf="!activeMode(); else options" cRow [gutter]="3">
                <c-col *ngFor="let mode of adapter().modes.sort()" xs="12" class="text-center">
                    <button cButton size="lg" color="primary" class="btn-block"
                            (click)="setMode(mode)">{{ mode | titlecase }}
                    </button>
                </c-col>
            </div>

            <ng-template #options>
                <c-container *ngIf="!handshaking; else secure" [gutter]="{gy:2}">
                    <form [formGroup]="editingAvailableAdapterForm" (ngSubmit)="deploy()" autocomplete="off" cRow
                          [gutter]="{gy:2}">
                        <c-input-group class="has-validation">
                            <span cInputGroupText>Unique Name</span>
                            <input cFormControl type="text" id="adapterUniqueName"
                                   formControlName="uniqueName"
                                   [ngClass]="validate(editingAvailableAdapterForm.controls['uniqueName'].value, 'uniqueName')">
                            <c-form-feedback>{{ getFeedback(editingAvailableAdapterForm) }}</c-form-feedback>
                        </c-input-group>
                        <ng-container
                                *ngFor="let control of editingAvailableAdapterForm.controls | keyvalue: positionOrder()">
                            <ng-container *ngIf=" control.key !== 'uniqueName' && isSettingDisplayed(control.key)">
                                <c-input-group class="has-validation"
                                               *ngIf="!getAdapterSetting(control.key).template.options && getAdapterSetting(control.key).template.type.toLowerCase() !== 'directory'">
                                    <span cInputGroupText
                                          [cTooltip]="getAdapterSetting(control.key).template.description"
                                          cTooltipPlacement="left">{{ control.key }}</span>
                                    <input cFormControl type="text" [id]="control.key"
                                           [formControlName]="control.key"
                                           [ngClass]="validate(control.value, control.key)">
                                    <c-form-feedback>{{ getGenericFeedback(control.key) }}</c-form-feedback>
                                </c-input-group>
                                <ng-container *ngIf="getAdapterSetting(control.key).template.options">
                                    <c-input-group class="has-validation">
                                            <span cInputGroupText
                                                  [cTooltip]="getAdapterSetting(control.key).template.description"
                                                  [cTooltipVisible]="!!getAdapterSetting(control.key).template.description"
                                                  cTooltipPlacement="left">
                                                {{ control.key }}
                                            </span>

                                        <select cSelect [id]="control.key"
                                                [ngClass]="validate(control.value, control.key)"
                                                [formControlName]="control.key"
                                                (change)="onChange(control.key,control.value)">
                                            <option *ngFor="let option of getAdapterSetting(control.key).template.options"
                                                    [value]="option">{{ getAdapterSetting(control.key).template?.alias?.[option] ? getAdapterSetting(control.key).template?.alias?.[option] : option }}
                                            </option>
                                        </select>
                                        <c-form-feedback>{{ getGenericFeedback(control.key) }}</c-form-feedback>
                                    </c-input-group>
                                </ng-container>
                                <c-input-group
                                        *ngIf="getAdapterSetting(control.key).template.type.toLowerCase() === 'directory'">
                                    <label cInputGroupText>{{ control.key }}</label>
                                    <input cFormControl type="file" (change)="onFileChange($event, control.key)"/>
                                    <c-form-feedback>{{ getGenericFeedback(control.key) }}</c-form-feedback>
                                </c-input-group>
                            </ng-container>
                        </ng-container>
                    </form>
                </c-container>
            </ng-template>

            <ng-template #secure>
                <p>Due to the limited permissions available to browsers, Polypheny cannot directly link files via
                    UI.</p>
                <p>As a security measure, the established link has to be validated by the backend, for this it
                    requires a <i><strong>polypheny.access</strong></i>, with the following content in the target
                    directory:</p>
                <p><i><strong>{{ this.accessId }}</strong></i></p>
                <p>This can be done created manually or downloaded:
                    <button cButton color="primary" (click)="createSecureFile()" download>
                        <i class="cil-file"></i>
                    </button>
                </p>


            </ng-template>
        </c-modal-body>

        <c-modal-footer>
            <button cButton color="secondary" (click)="modalActive = false">
                Close
            </button>
            <button cButton color="primary" *ngIf="editingAdapterForm" type="submit" (click)="updateAdapterSettings()"
                    [disabled]="!editingAdapterForm?.valid">
                Save
            </button>
            <!-- TODO: Changing code here to insert table-selection window.  openTableDialog()-->
            <button cButton color="primary" *ngIf="activeMode() && !handshaking && adapter().task != Task.CHANGE"
                    type="submit" (click)="previewAndDeploy()"
                    [disabled]="!editingAvailableAdapterForm?.valid || deploying || handshaking">
                <span *ngIf="!deploying && !handshaking">Deploy</span>
                <c-spinner size="sm" *ngIf="deploying || handshaking" role="status">
                    <span class="sr-only">{{ handshaking ? 'Security checking...' : 'Loading...' }}</span>
                </c-spinner>
            </button>
            <button cButton color="primary" *ngIf="handshaking" (click)="continueSecureDeploy()">Continue</button>
        </c-modal-footer>
    </c-modal-content><!-- /.modal-content -->
</c-modal>
