@if (data.name) {
    <label for="arg"><strong>{{ data.name }}</strong></label>
}
<input type="text" id="arg" name="arg" (pointerdown)="$event.stopPropagation()"
       autocomplete="off" [readonly]="data.isReadOnly" placeholder="field"
       class="form-control form-control-sm mb-1" [(ngModel)]="data.value.field">

@switch (data.simpleType()) {
    @case (SimpleType.SIMPLE_COLLATION) {
        <c-input-group sizing="sm">
            <label cInputGroupText for="simpleSelectDir">Direction</label>
            <select cSelect id="simpleSelectDir" [(ngModel)]="data.value.direction" (pointerdown)="$event.stopPropagation()"
                    [disabled]="data.isReadOnly">
                @for (choice of simpleDirChoices; track choice) {
                    <option [value]="CollDirection[choice]">{{ choice }}</option>
                }
            </select>
        </c-input-group>
    }
    @default {
        <c-input-group sizing="sm" class="mb-1">
            <label cInputGroupText for="selectDir">Direction</label>
            <select cSelect id="selectDir" [(ngModel)]="data.value.direction" (pointerdown)="$event.stopPropagation()"
                    [disabled]="data.isReadOnly">
                @for (choice of dirChoices; track choice) {
                    <option [value]="CollDirection[choice]">{{ choice }}</option>
                }
            </select>
        </c-input-group>

        <c-input-group sizing="sm">
            <label cInputGroupText for="selectNullDirection">Null Direction</label>
            <select cSelect id="selectNullDirection" [(ngModel)]="data.value.nullDirection" (pointerdown)="$event.stopPropagation()"
                    [disabled]="data.isReadOnly">
                @for (choice of nullDirChoices; track choice) {
                    <option [value]="CollNullDirection[choice]">{{ choice }}</option>
                }
            </select>
        </c-input-group>
    }
}