<c-card class="node" [id]="node.id" #element>
    <div class="in"></div>
    <div class="out"></div>

    <ng-content></ng-content>
    <ng-container [ngSwitch]="node.type">
        <li class="param list-group-item" *ngSwitchCase="AlgType.Scan">
            <div class="param-wrapper">
                <label *ngIf="!isView" for="{{node.id}}tableName">Entity</label>
                <label *ngIf="isView" for="{{node.id}}tableName">View</label>
                <ng-autocomplete
                        id="{{node.id}}tableName"
                        [data]="node.autocomplete"
                        [(ngModel)]="node.tableName"
                        (inputChanged)="autocompleteChange()"
                        placeholder="entity.field"
                        [searchKeyword]="node.tableName"
                        [itemTemplate]="itemTemplate"
                        (click)="autocompleteChange()"
                        [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
            </div>
        </li>

        <ng-container *ngSwitchCase="AlgType.Join">
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}join">Join Type</label>
                    <select name="join" id="{{node.id}}join" class="form-control form-control-sm param-input"
                            [(ngModel)]="node.join">
                        <option value="INNER">INNER</option>
                        <option value="OUTER">OUTER</option>
                    </select>
                </div>
            </li>

            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}joinOperator">Operator</label>
                    <select name="operator" id="{{node.id}}joinOperator"
                            class="form-control form-control-sm param-input" [(ngModel)]="node.operator">
                        <option value="=">=</option>
                        <option value="<>">&lt;&gt;</option>
                        <option value="<">&lt;</option>
                        <option value=">">&gt;</option>
                        <option value="<=">&le;</option>
                        <option value=">=">&ge;</option>
                    </select>
                </div>
            </li>

            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}col1">Col 1</label>
                    <ng-autocomplete
                            id="{{node.id}}col1"
                            [data]="getAcTableCols()"
                            [(ngModel)]="node.col1"
                            placeholder="entity.field"
                            [searchKeyword]="node.col1"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                </div>
            </li>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}col2">Col 2</label>
                    <ng-autocomplete
                            id="{{node.id}}col2"
                            [data]="getAcTableCols()"
                            [(ngModel)]="node.col2"
                            placeholder="entity.field"
                            [searchKeyword]="node.col2"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                </div>
            </li>
        </ng-container>

        <ng-container *ngSwitchCase="AlgType.Filter">
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}operator">Operator</label>
                    <select name="operator" id="{{node.id}}operator" class="form-control form-control-sm param-input"
                            [(ngModel)]="node.operator">
                        <option value="=">=</option>
                        <option value="<>">&lt;&gt;</option>
                        <option value="<">&lt;</option>
                        <option value=">">&gt;</option>
                        <option value="<=">&le;</option>
                        <option value=">=">&ge;</option>
                    </select>
                </div>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}filterField">Field</label>
                    <ng-autocomplete
                            id="{{node.id}}filterField"
                            [data]="getAcTableCols()"
                            [(ngModel)]="node.field"
                            placeholder="entity.field"
                            [searchKeyword]="node.field"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                </div>
            </li>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}filter">Filter</label>
                    <input type="text" placeholder="filter value" id="{{node.id}}filter" name="filter"
                           class="form-control form-control-sm param-input" [(ngModel)]="node.filter">
                </div>
            </li>
        </ng-container>

        <ng-container *ngSwitchCase="AlgType.Project">
            <li class="param list-group-item" style="text-align: center">
                <a [routerLink]="[]" class="text-secondary" (click)="addProjectionColumn()">+ add field</a>
            </li>
            <li class="list-group-item">
                <div class="param-wrapper sort-wrapper"
                     *ngFor="let field of node.fields | keyvalue; let index = index; trackBy: trackFields">
                    <ng-autocomplete
                            [data]="node.autocomplete"
                            [(ngModel)]="node.fields[index]"
                            (inputChanged)="autocompleteChange()"
                            placeholder="entity.field"
                            [searchKeyword]="node.fields[index]"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                    <i class="fa fa-close sort-remove" (click)="removeProjectionColumn( +field.key )"></i>
                </div>
            </li>
        </ng-container>


        <ng-container *ngSwitchCase="AlgType.Aggregate">
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}groupBy">Group By</label>
                    <ng-autocomplete
                            id="{{node.id}}groupBy"
                            [data]="getAcCols()"
                            [(ngModel)]="node.groupBy"
                            (inputChanged)="autocompleteChange()"
                            placeholder="field"
                            [searchKeyword]="node.groupBy"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                </div>
            </li>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}aggregation">Function</label>
                    <select name="aggregation" id="{{node.id}}aggregation"
                            class="form-control form-control-sm param-input" [(ngModel)]="node.aggregation">
                        <option value="SUM">SUM</option>
                        <option value="COUNT">COUNT</option>
                        <option value="AVG">AVG</option>
                        <option value="MIN">MIN</option>
                        <option value="MAX">MAX</option>
                    </select>
                </div>
            </li>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}field">Field</label>
                    <ng-autocomplete
                            id="{{node.id}}field"
                            [data]="getAcTableCols()"
                            [(ngModel)]="node.field"
                            (inputChanged)="autocompleteChange()"
                            placeholder="entity.field"
                            [searchKeyword]="node.field"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                </div>
            </li>
            <li class="param list-group-item">
                <div class="param-wrapper">
                    <label for="{{node.id}}as">As</label>
                    <input type="text" placeholder="alias" id="{{node.id}}as" name="as"
                           class="form-control form-control-sm param-input" [(ngModel)]="node.alias">
                </div>
            </li>
        </ng-container>

        <ng-container *ngSwitchCase="AlgType.Aggregate">
            <li class="param list-group-item" style="text-align: center">
                <a [routerLink]="[]" (click)="addSortColumn()" class="text-secondary">+ add column</a>
            </li>
            <li class="list-group-item" cdkDropList (cdkDropListDropped)="sortColumn(node, $event)">
                <div class="param-wrapper sort-wrapper" *ngFor="let col of node.sortColumns | keyvalue" cdkDrag
                     cdkDragLockAxis="y" #sortCols>
                    <i class="icon-menu" cdkDragHandle></i>
                    <div class="sort-placeholder param-wrapper" *cdkDragPlaceholder>&nbsp;</div>
                    <ng-autocomplete
                            [data]="getAcTableCols()"
                            [(ngModel)]="col.value.column"
                            placeholder="entity.field"
                            [searchKeyword]="col.value.column"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                    <button cButton color="light" size="sm" class="sort-direction"
                            (click)="toggleDirection(col.value)">{{col.value.direction}}</button>
                    <i class="fa fa-close sort-remove" (click)="removeSortColumn( +col.key )"></i>
                </div>
            </li>
        </ng-container>

        <li class="param list-group-item" *ngSwitchCase="AlgType.Union">
            <div class="param-wrapper">
                <label for="{{node.id}}unionAll">union all</label>
                <input type="checkbox" id="{{node.id}}unionAll" name="all"
                       class="form-control form-control-sm param-input" [(ngModel)]="node.all">
            </div>
        </li>

        <li class="param list-group-item" *ngSwitchCase="AlgType.Minus">
            <div class="param-wrapper">
                <label for="{{node.id}}exceptAll">except all</label>
                <input type="checkbox" id="{{node.id}}exceptAll" name="all"
                       class="form-control form-control-sm param-input" [(ngModel)]="node.all">
            </div>
        </li>

        <li class="param list-group-item" *ngSwitchCase="AlgType.Intersect">
            <div class="param-wrapper">
                <label for="{{node.id}}intersectAll">intersect all</label>
                <input type="checkbox" id="{{node.id}}intersectAll" name="all"
                       class="form-control form-control-sm param-input" [(ngModel)]="node.all">
            </div>
        </li>

    </ng-container>
</c-card>

<!-- autocomplete templates -->
<ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
</ng-template>
<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
</ng-template>
