@if (!$result() && $loading()) {
    <span>Loading data...</span>
}
@if ($result() && !$result().error) {
    <div id="mode_wrapper" class="mb-2">
        <div class="d-flex justify-content-between">
            <div></div> <!--Required for correct spacing-->
            @if (showAny()) {
                <div>
                    <button cButton color="light"
                            class="mx-1"
                            (click)="$presentationType.set(presentationTypes.TABLE)"
                            [class.active]="$presentationType() === presentationTypes.TABLE"
                            tooltip="table" placement="top" delay="200"><i class="fa fa-table"></i></button>
                    <button cButton color="light" class="mx-1" [hidden]="$dataModel() !== NamespaceType.DOCUMENT"
                            (click)="$presentationType.set(presentationTypes.CARD)"
                            [class.active]="$presentationType() === presentationTypes.CARD"
                            tooltip="cards" placement="top" delay="200"><i class="fa fa-th-large"></i></button>
                    <button cButton color="light" class="mx-1"
                            [hidden]="$dataModel() !== NamespaceType.GRAPH || this.$result().queryType === QueryType.DDL || this.$result().queryType === QueryType.DML || !containsNode()"
                            (click)="$presentationType.set(presentationTypes.GRAPH)"
                            [class.active]="$presentationType() === presentationTypes.GRAPH"
                            tooltip="graph" placement="top" delay="200"><i class="fa fa-code-fork"></i></button>
                </div>
            }
            <div tooltip="Create View">
                @if (showCreateView()) {
                    <button cButton color="light" class="viewButton"
                            (click)="view.openCreateView(this.$result())">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                }
            </div>
        </div>
    </div>
}

@if ($result() && !$loading()) {
    @switch ($presentationType()) {
        @case (presentationTypes.TABLE) {
            <app-data-table
                    [result]="$result()"
                    [inputConfig]="config"></app-data-table>
        }
        @case (presentationTypes.CARD) {
            <app-data-card
                    [result]="$result()"
                    [inputConfig]="config"></app-data-card>
        }
        @case (presentationTypes.GRAPH) {
            <app-data-graph
                    [result]="$result()"
                    [inputConfig]="config"></app-data-graph>
        }
    }
}

<poly-create-view (viewQueryConsumer)="viewQueryConsumer.emit($event)"></poly-create-view>

