<span *ngIf="!result() && loading()">Loading data...</span>
<div id="mode_wrapper" class="mb-2" *ngIf="result() && !result().error">
    <div class="d-flex justify-content-between">
        <div>
            <button cButton color="light" *ngIf="showCreateView()" class="viewButton" tooltip="create view"
                    [style.display]="'none'">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            <button cButton color="light" class="mx-1" (click)="presentationType = presentationTypes.TABLE"
                    [class.active]="presentationType === presentationTypes.TABLE"
                    tooltip="table" placement="top" delay="200"><i class="fa fa-table"></i></button>
            <button cButton color="light" class="mx-1" (click)="presentationType = presentationTypes.CARD"
                    [class.active]="presentationType === presentationTypes.CARD"
                    tooltip="cards" placement="top" delay="200"><i class="fa fa-th-large"></i></button>
            <button cButton color="light" class="mx-1" [hidden]="!result() || !result().error || deactivateGraphButton(result())"
                    (click)="presentationType = presentationTypes.GRAPH"
                    [class.active]="presentationType === presentationTypes.GRAPH"
                    tooltip="graph" placement="top" delay="200"><i class="fa fa-code-fork"></i></button>
        </div>
        <div>
            <button cButton color="light" *ngIf="showCreateView()" class="viewButton" tooltip="create view"
                    (click)="openCreateView()">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>

    </div>
</div>


<ng-container [ngSwitch]="presentationType" *ngIf="result() && loading ">
    <ng-container *ngSwitchCase="presentationTypes.TABLE">
        <app-data-table
                [inputResult]="result()"
                [inputConfig]="config"></app-data-table>
    </ng-container>
    <ng-container *ngSwitchCase="presentationTypes.CARD">
        <app-data-card
                [inputResult]="result()"
                [inputConfig]="config"></app-data-card>
    </ng-container>
    <ng-container *ngSwitchCase="presentationTypes.GRAPH">
        <app-data-graph
                [inputResult]="result()"
                [inputConfig]="config"></app-data-graph>
    </ng-container>
</ng-container>


<!--<ng-template #createView [ngIf]="combinedResult()">// todo dl inject via plugins
    <div class="modal-content">
        <div class="modal-header">
            <h4 *ngIf="showView === null">Type</h4>
            <h4 *ngIf="showView != null" style="text-transform: capitalize;">
                {{ showView === ViewType.VIEW ? 'View' : 'Materialized View' }}
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCreateView.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="tab">
            <div class="modal-body" id="modal-body-tree">

                <div class="initial" *ngIf="showView === null">
                    <button class="btn btn-primary btn-lg mr-1 btn-block" (click)="showView = ViewType.VIEW">
                        View
                    </button>
                    <button class="btn btn-primary btn-lg mr-1 btn-block"
                            *ngIf="combinedResult().namespaceType !== NamespaceType.DOCUMENT"
                            (click)="showView = ViewType.MATERIALIZED">
                        Materialized View
                    </button>
                </div>

                <div class="tab-pane active" id="view-tab" *ngIf="showView === ViewType.VIEW">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="viewName" class="input-group-text">Name</label>
                            </div>
                            <input type="text" id="viewName" placeholder="view name" class="form-control"
                                   style="max-width: 200px;"
                                   [(ngModel)]="newViewName" [ngClass]="createTableValidation(newViewName)"
                                   (keyup.enter)="createViewCode(true, false)">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="materialized-view-tab" *ngIf="showView === ViewType.MATERIALIZED">


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="materializedViewName" class="input-group-text">Name</label>
                            </div>
                            <input type="text" id="materializedViewName" placeholder="view name" class="form-control"
                                   [(ngModel)]="newViewName" [ngClass]="createTableValidation(newViewName)">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="storeSelection" class="input-group-text">Store</label>
                            </div>
                            <select class="custom-select" id="storeSelection" [(ngModel)]=" storeSelected">
                                <option *ngFor="let storeOption of storeOptions"
                                        [ngValue]="storeOption">{{storeOption}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="freshnessSelection" class="input-group-text">Freshness Type</label>
                            </div>
                            <select class="custom-select" id="freshnessSelection" [(ngModel)]=" freshnessSelected">
                                <option *ngFor="let freshnessOption of Freshness"
                                        [ngValue]="freshnessOption">{{freshnessOption}}</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="freshnessSelected === 'INTERVAL'">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label for="freshnessInterval" class="input-group-text">Update Interval</label>
                                    </div>
                                    <input type="text" id="freshnessInterval" placeholder="number" class="form-control"
                                           [(ngModel)]="intervalSelected">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label for="freshnessInterval" class="input-group-text">Time Unit</label>
                                    </div>
                                    <select class="custom-select" [(ngModel)]="timeUniteSelected">
                                        <option *ngFor="let timeUnit of TimeUnits"
                                                [ngValue]="timeUnit">{{timeUnit}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="freshnessSelected === 'UPDATE'">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label for="freshnessUpdate" class="input-group-text">Update Interval</label>
                                    </div>
                                    <input type="text" id="freshnessUpdate" placeholder="number" class="form-control"
                                           [(ngModel)]="intervalSelected">
                                </div>
                            </div>
                        </div>


                        <div *ngIf="freshnessSelected === 'MANUAL'"></div>
                    </div>

                </div>


            </div>
        </div>

        <div class="modal-footer" *ngIf="showView !== null">
            <div *ngIf="showView === ViewType.VIEW">
                <button *ngIf="!(_router.url.startsWith('/views/querying/relational-algebra'))"
                        class="btn btn-secondary ml-2"
                        [disabled]="!creatingView ? 'disabled': null" (click)="createViewCode(true, false)">Show
                </button>
                <button class="btn btn-primary ml-2"
                        [disabled]="!creatingView ? 'disabled': null" (click)="createViewCode(true, true)">Execute
                </button>
            </div>
            <div *ngIf="showView === ViewType.MATERIALIZED">
                <button *ngIf="!(_router.url.startsWith('/views/querying/relational-algebra'))"
                        class="btn btn-secondary"
                        [disabled]="!creatingView ? 'disabled': null" (click)="createViewCode(false, false)"
                        (keyup.enter)="createViewCode(false, false)">Show
                </button>
                <button class="btn btn-primary ml-2"
                        [disabled]="!creatingView ? 'disabled': null" (click)="createViewCode(false, true)">Execute
                </button>
            </div>
        </div>

    </div>
</ng-template>-->



<ng-template #createViewExample>
    <div class="modal-content">
        <div class="modal-header">
            <ul class="nav">
                <li class="c-header-nav-item">
                    <a class="c-header-nav-link active view-title" aria-current="page" (click)="viewOptions ='view'">View</a>
                </li>
                <li class="c-header-nav-item">
                    <a class="c-header-nav-link view-title" aria-current="page"
                       (click)="viewOptions = 'materialized-view'">Materialized View</a>
                </li>
            </ul>
            <button cButton type="button" class="close pull-right" aria-label="Close" (click)="modalRefCreateView.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body-view">
            <div class="tab-pane active" id="view-tab" *ngIf="viewOptions === 'view'">
                <div class="form-group">
                    <label for="viewName" class="mb-2">Please enter a name for the view:</label>
                    <div class="d-flex justify-content-between">
                        <input type="text" class="form-control " id="viewName" placeholder="view name"
                               [(ngModel)]="newViewName" [ngClass]="createTableValidation(newViewName)"
                               (keyup.enter)="submitView()">
                        <button cButton color="primary" type="submit" class="ml-2" [disabled]="!creatingView ? 'disabled': null"
                                (click)="submitView()">execute
                        </button>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="materialized-view-tab" *ngIf="viewOptions==='materialized-view'">


                <div class="form-group">
                    <label for="materializedViewName" class="mb-2">Name:</label>
                    <div class="d-flex justify-content-between">

                        <input type="text" id="materializedViewName" placeholder="view name" class="form-control"
                               [(ngModel)]="newViewName" [ngClass]="createTableValidation(newViewName)">
                    </div>
                </div>


                <div class="form-group">
                    <label for="storeSelection">Store:</label>
                    <select class="custom-select mb-2" id="storeSelection" [(ngModel)]=" storeSelected">
                        <option *ngFor="let storeOption of storeOptions"
                                [ngValue]="storeOption">{{storeOption}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="freshnessSelection">Freshness Type:</label>
                    <select class="custom-select mb-2" id="freshnessSelection" [(ngModel)]=" freshnessSelected">
                        <option *ngFor="let freshnessOption of Freshness"
                                [ngValue]="freshnessOption">{{freshnessOption}}</option>
                    </select>
                </div>

                <div>
                    <div *ngIf="freshnessSelected === Freshness.INTERVAL">
                        <div class="form-group">
                            <label for="freshnessInterval" class="mb-2">Select update Interval:</label>
                            <input type="text" id="freshnessInterval" placeholder="number" class="form-control mb-2"
                                   [(ngModel)]="intervalSelected">
                            <select class="custom-select mb-2" [(ngModel)]="timeUniteSelected">
                                <option *ngFor="let timeUnit of TimeUnits" [ngValue]="timeUnit">{{timeUnit}}</option>
                            </select>
                        </div>

                    </div>
                    <div *ngIf="freshnessSelected === Freshness.UPDATE">
                        <div class="form-group">
                            <label for="freshnessUpdate" class="mb-2">Select update Interval:</label>
                            <input type="text" id="freshnessUpdate" placeholder="number" class="form-control mb-2"
                                   [(ngModel)]="intervalSelected">
                        </div>
                    </div>
                    <div *ngIf="freshnessSelected === Freshness.MANUAL">

                    </div>
                </div>

                <button cButton color="primary" [disabled]="!creatingView ? 'disabled': null" (click)="submitView()">
                    execute
                </button>

            </div>
        </div>

    </div>

</ng-template>
