#mode_wrapper{
  display: flex;
  justify-content: center;
  button{
    margin: 0 0.125rem;
  }
}
#addView{
  float: right;
}



#viewText{
  display: inline-block;
}
#addView{

  button{
    float: right;
  }
}
