@if (data.name) {
    <label for="argList"><strong>{{ data.name }}</strong></label>
}

@if (data.canHideTrivial) {
    <c-form-check [switch]="true" class="align-self-center">
        <input type="checkbox" role="switch" id="collapseTrivial" name="collapseTrivial" (pointerdown)="$event.stopPropagation()"
               [checked]="data.hideTrivial()" (change)="data.toggleHideTrivial()"
               class="form-check-input">
        <label cFormCheckLabel><i>Hide trivial {{ data.name }}</i></label>
    </c-form-check>
}

<ul cListGroup [flush]="data.depth===0" id="argList">

    @for (child of data.children(); track child) {
        @if (!(data.hideTrivial() && child.isTrivial())) {
            <li cListGroupItem class="p-2 list-element-container d-flex flex-row" [color]="data.depth > 0 && 'dark'">
                <div class="list-element flex-grow-1">
                    @if (data.param.isEnum) {
                        <app-enum-arg [data]="$any(child)"></app-enum-arg>
                    }

                    @switch (data.value.innerType) {
                        @case (ParamType.REX) {
                            <app-rex-arg [data]="$any(child)"></app-rex-arg>
                        }
                        @case (ParamType.STRING) {
                            <app-string-arg [data]="$any(child)"></app-string-arg>
                        }
                        @case (ParamType.INTEGER) {
                            <app-int-arg [data]="$any(child)"></app-int-arg>
                        }
                        @case (ParamType.DOUBLE) {
                            <app-double-arg [data]="$any(child)"></app-double-arg>
                        }
                        @case (ParamType.FIELD) {
                            <app-field-arg [data]="$any(child)"></app-field-arg>

                        }
                        @case (ParamType.CORR_ID) {
                            <app-correlation-arg [data]="$any(child)"></app-correlation-arg>
                        }
                        @case (ParamType.COLLATION) {
                            <app-collation-arg [data]="$any(child)"></app-collation-arg>
                        }
                        @case (ParamType.AGGREGATE) {
                            <app-agg-arg [data]="$any(child)"></app-agg-arg>
                        }
                        @case (ParamType.LAX_AGGREGATE) {
                            <app-lax-agg-arg [data]="$any(child)"></app-lax-agg-arg>
                        }
                        @case (ParamType.WINDOW_GROUP) {
                            <app-window-arg [data]="$any(child)"></app-window-arg>

                        }
                        @case (ParamType.LIST) {
                            <app-list-arg [data]="$any(child)"></app-list-arg>
                        }
                        @default {
                            @if (!data.param.isEnum) {
                                <p>{{ data.value.innerType }}</p>
                                <p>{{ child }}</p>
                            }
                        }
                    }
                </div>

                @if (!data.isReadOnly) {
                    <div class="text-end remove-element align-self-center ms-1" (click)="data.removeElement(child)" (pointerdown)="$event.stopPropagation()">
                        <i class="fa fa-close"></i>
                    </div>
                }
            </li>
        }

    }

    @if (!data.isReadOnly) {
        <li cListGroupItem [class.mt-1]="data.children().length > 0 && data.depth === 0" [color]="data.depth > 0 && 'dark'" class="py-0 px-2">
            <div class="d-grid">
                @if (data.depth === 0) {
                    <button cButton color="success" variant="outline" class="my-0 p-1"
                            (click)="data.addElement()" (pointerdown)="$event.stopPropagation()">
                        Add entry
                    </button>
                } @else if (data.depth > 0) {
                    <button cButton color="success" variant="outline" class="my-1 p-1"
                            (click)="data.addElement()" (pointerdown)="$event.stopPropagation()">
                        Add inner entry
                    </button>
                }
            </div>
        </li>
    }
</ul>
