.remove-element {
  //margin-top: -0.5rem;
  display: none;
}

//.list-element:hover + .remove-element, .remove-element:hover {
//  display: block;
//}

.list-element-container:hover .remove-element, .remove-element:hover {
  display: block;
}

.add-element.disabled {
  background-color: lightgray;
}