.input-group{
  align-items: center;
}
.invalid-feedback, .valid-feedback{
  text-align: left;
  position: absolute;
  bottom: -1rem;
  background: #e4e5e6;
  width: auto;
}
.insertRowLabel{
  width: 4em;
}
.switch {
  margin: 0;
}

input.fPickerInput {
  background-color: white !important;
}
.btn{
  border-radius: 0 0.2rem 0.2rem 0 !important;
}
.switch-wrapper{
  border: 1px #e4e7ea solid;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
}
