#data-table {
  width: auto;
  min-width: 60%;
  max-width: 100%;
  margin: 0 auto 0.5rem;
  overflow-x: auto;
  // display: inline-block;
  tr th {
    vertical-align: middle;

    .btn {
      padding: 2px;
    }
  }

  tr td {
    min-width: 100px;
    vertical-align: middle;

    span {
      white-space: pre-wrap;
    }
  }

  th span {
    //so the tooltip will show event if the mouse is not exactly on the column name
    padding: 0 1em;
    display: inline-table;
  }

  th .pk {
    text-decoration: underline;
  }
}

#data-table-wrapper {
  text-align: center;
  overflow-x: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

th.delete, td.delete {
  width: 1em;
  background: transparent;

  i {
    visibility: hidden;
  }
}

tr:hover i {
  visibility: visible;
  cursor: pointer;
}

tr:hover .delete i:hover {
  color: #dc3545;
}

#data-table tr td .download {
  opacity: .4;
  text-decoration: none;
  color: black;
  padding: 0.3em 0.5em;
}

#data-table tr:hover td .download {
  opacity: .7;
}

#data-table tr td .download:hover {
  opacity: 1;
}

.selector {
  width: 1em;
}

.selector input {
  visibility: hidden;
}

tr:hover .selector input {
  visibility: visible;
}

.selector input:checked {
  visibility: visible;
}

#addColumnBtn {
  border-radius: 100%;
  line-height: 1.25rem;
}

#editColSave {
  border-radius: 100%;
  line-height: 1.5rem;
}

.file-progress {
  height: 5px;
  width: 100px;
  display: inline-block;
  background-color: #3d434a;
}

.tooltip-inner {
  white-space: pre-wrap;
}

#insertRow td {
  vertical-align: middle;
}

.pagination {
  margin-top: 1rem;
}

#resetClassification {
  margin-top: 1rem;
}

#sendClassification {
  margin-top: 1rem;
}

#showDecisionTree {
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#treeInformation {
  margin-bottom: 0.5rem;
}

#showSQL {
  margin-top: 1rem;
  margin-right: 0.25rem;
}

#startClassification {
  margin-top: 1rem;
  margin-left: 0.25rem;
}

#createView {
  margin-top: 1rem;
}

#modal-body-SQL {
  max-width: 600px !important;
  width: 600px !important;
}

/*
see:
https://stackoverflow.com/questions/38773538/css-table-loading-overlay-for-tbody
respectively
https://plnkr.co/edit/qOwmd9xJvwYdJ37wsKWX?p=preview
*/
table thead,
table tbody {
  width: 100%;
}

table.loading {
  position: relative;
  border: none;
}

table.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('/assets/img/table_loading_spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  content: "";
}

app-data-table {
  rect {
    fill: #fff;
    stroke: #306f91;
    stroke-width: 1;
  }

  path {
    stroke: #333;
    stroke-width: 1.5px;
  }

  text {
    fill: blue;
  }
}


.hidden-layer {
  position: absolute;
  z-index: -1;
  height: 0;
  overflow: hidden;
}

.hidden-layer-sql {
  position: absolute;
  z-index: -1;
  height: 0;
  overflow: hidden;
}

.modal-dialog {
  position: relative;
  display: table;
  overflow: auto;
  width: auto;
  min-width: 300px;
}

.modal-body { /* Restrict Modal width to 90% */
  overflow-x: auto !important;
  max-width: 90vw !important;
}

#tree {
  overflow: visible;
  margin: 2rem;
}

.view-title {
  cursor: pointer;
}
