<div class="text-danger mb-3"
     *ngIf="$result() && $result().error && !$result().header">{{ $result().error }}
</div>

<c-row *ngIf="$result() && $result().header">
    <c-col [lg]="12" id="data-table-wrapper" [ngClass]="{ 'overflow-y-hidden': entityConfig().exploring }">
        <table cTable hover bordered small
               [striped]="true"
               [ngClass]="{'loading': loading()}" id="data-table"
               [attr.data-table]="$result().entityName">
            <thead>
            <tr>
                <ng-container *ngIf="$result()?.dataModel !== NamespaceType.DOCUMENT">
                    <ng-container *ngFor="let h of $result().header">
                        <th>
                        <span [tooltip]="getTooltip(h)" placement="bottom" [delay]="200" container="body"
                              [ngClass]="{'pk': h.primary}">{{ h.name }}</span>
                            <a *ngIf="false && entityConfig().sort && canOrder(h) && h.name !== '_data'"
                               [routerLink]="[]"
                               [ngClass]="{'btn-primary' : h.sort.sorting, 'btn-light': !h.sort.sorting, 'btn btn-sm float-right': true}"
                               (click)="sortTable(h.sort)">
                                <i [ngClass]="h.sort.direction === 'ASC' ? 'icon-arrow-up' : 'icon-arrow-down'"></i>
                            </a>
                        </th>
                    </ng-container>
                </ng-container>
                <th class="delete" *ngIf="entityConfig().delete">
                    <!--<i class="cil-trash"></i>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="entityConfig().search">
                <td *ngFor="let h of $result().header; trackBy:trackByFn">
                    <input *ngIf="_types.isNumeric(h.dataType) && !h.collectionsType"
                           type="number"
                           cFormControl
                           sizing="sm"
                           class="table-filter"
                           placeholder="search"
                           [id]="'search-' + h.name" [attr.data-col]="h.name" [value]="h.filter"
                           (keyup)="filterTable($event, filter1.value, h)" #filter1>
                    <input *ngIf="( ! _types.isNumeric(h.dataType) && !_types.isMultimedia(h.dataType) && !_types.isDocument($result().dataModel) && !_types.isGraph($result().dataModel)) || h.collectionsType"
                           type="text"
                           cFormControl sizing="sm"
                           class="table-filter"
                           placeholder="search"
                           [attr.data-col]="h.name"
                           [id]="'search-' + h.name"
                           [value]="h.filter"
                           (input)="filterTable($event, filter2.value, h)"
                           #filter2
                           [ngClass]="isValidFilter(filter2.value,h)">
                </td>
                <td *ngIf="entityConfig().update || entityConfig().delete"></td>
            </tr>
            <tr *ngFor="let d1 of $result().data; let i = index"
                [ngClass]="{'editing': editing === i, 'table-success' : this.userInput[d1] === 'true', 'table' : this.userInput === null, 'table-danger': this.userInput[d1] === 'false', 'table': this.userInput[d1] === '?'}">
                <ng-container *ngIf="editing === i">
                    <td *ngFor="let d2 of d1; let j = index">
                        <app-input class="editing" [header]="$result().header[j]"
                                   [value]="updateValues.get($result().header[j].name)"
                                   (valueChange)="newUpdateValue($result().header[j].name, $event)"
                                   (enter)="updateTuple()" [attr.data-before]="d2"
                                   [attr.data-col]="$result().header[j].name"></app-input>
                    </td>
                    <td *ngIf="entityConfig().update || entityConfig().delete">
                        <button cButton color="primary" *ngIf="uploadProgress === -1" id="editColSave"
                                (click)="updateTuple()"><i class="fa fa-save"></i></button>
                    </td>
                </ng-container>
                <!-- table which shows results  -->
                <ng-container *ngIf="editing !== i">
                    <td *ngFor="let d2 of d1; let j = index" (dblclick)="triggerEditing(i)">
                        <ng-container [ngSwitch]="removeNull($result().header[j].dataType)" *ngIf="d2">
                            <ng-container *ngSwitchCase="'FILE'">
                                <a *ngIf="downloadingIthRow !== i" [routerLink]="[]" class="download"
                                   (click)="getFile(d2, i)" download><span class="cil-cloud-download"></span></a>
                                <c-progress>
                                    <c-progress-bar
                                            *ngIf="downloadingIthRow === i && downloadProgress > -1 && downloadProgress !== 0 && downloadProgress !== 100"
                                            [animated]="true" [value]="downloadProgress === 0 ? 100 : downloadProgress"
                                            variant="striped" color="primary" class="file-progress"></c-progress-bar>
                                    <c-progress-bar
                                            *ngIf="downloadingIthRow === i && downloadProgress > -1 && (downloadProgress === 100 || downloadProgress === 0)"
                                            [animated]="true" [value]="downloadProgress === 0 ? 100 : downloadProgress"
                                            variant="striped" color="primary" class="file-progress"></c-progress-bar>
                                </c-progress>
                            </ng-container>
                            <img *ngSwitchCase="'IMAGE'" [src]="getFileLink(d2)"
                                 style="max-height:200px; max-width: 300px"/>
                            <app-media *ngSwitchCase="'VIDEO'" [src]="getFileLink(d2)"
                                       [type]="$result().header[j].dataType"
                                       [style]="{width: '300px'}"></app-media>
                            <app-media *ngSwitchCase="'AUDIO'" [src]="getFileLink(d2)"
                                       [type]="$result().header[j].dataType"
                                       [style]="{width: '300px'}"></app-media>
                            <app-json-text
                                    *ngSwitchCase="['JSON','DOCUMENT', 'NODE', 'EDGE', 'PATH', 'GRAPH', 'DocumentType', 'GraphType'] | multipleSwitch: removeNull($result().header[j].dataType)"
                                    [text]="d2"></app-json-text>
                            <app-json-text *ngSwitchCase="'ANY'" [text]="d2"></app-json-text>
                            <app-expandable-text *ngSwitchDefault [text]="d2"></app-expandable-text>
                        </ng-container>
                    </td>
                    <td class="delete" *ngIf="entityConfig().update || entityConfig().delete">
                        <app-delete-confirm (delete)="deleteRow(d1, null)"></app-delete-confirm>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="!$result().data || $result().data.length === 0">
                <td *ngIf="!$result().error" [attr.colspan]="$result().header.length+1"
                    class="text-danger text-center">(no data to show)
                </td>
                <td *ngIf="$result().error" [attr.colspan]="$result().header.length+1"
                    class="text-danger text-center">error while filtering entity
                </td>
            </tr>
            <tr *ngIf="entityConfig().create" id="insertRow">
                <td *ngFor="let h of $result().header">
                    <app-input [header]="h" [value]="insertValues.get(h.name)"
                               (valueChange)="inputChange(h.name, $event)"
                               (enter)="insertTuple()"></app-input>
                </td>
                <td *ngIf="entityConfig().update || entityConfig().delete">
                    <button cButton color="primary" id="addColumnBtn" (click)="insertTuple()"
                            *ngIf="uploadProgress === -1 || editing !== -1">+
                    </button>
                    <c-progress
                            *ngIf="editing === -1 && uploadProgress > -1 && uploadProgress !== 0 && uploadProgress !== 100">
                        <c-progress-bar
                                [animated]="true" [value]="uploadProgress === 0 ? 100 : uploadProgress"
                                variant="striped"
                                color="primary" class="file-progress"></c-progress-bar>
                    </c-progress>
                    <c-progress
                            *ngIf="editing === -1 && uploadProgress > -1 && (uploadProgress === 100 || uploadProgress === 0)">
                        <c-progress-bar
                                [animated]="true" [value]="100" color="primary"
                                class="file-progress"></c-progress-bar>
                    </c-progress>
                </td>
            </tr>
            </tbody>
        </table>
    </c-col>

</c-row>

<c-row class="row my-4" *ngIf="$result()">
    <c-col class="col">
        <nav aria-label="Page navigation" class="float-right" *ngIf="$result().highestPage > 1">
            <c-pagination align="center">
                <li *ngFor="let p of pagination" class="page-item pe-auto" cPageItem
                    [disabled]="p.disabled" [active]="p.active">
                    <a cPageLink class="pe-auto page-link"
                       [style.cursor]="p.active || p.disabled ? 'inherit' : 'pointer'" (click)="paginate(p)"
                       [routerLink]>{{ p.label }}</a>
                </li>
            </c-pagination>
        </nav>
    </c-col>
</c-row>



