<div *ngIf="currentRoute">
    <app-statistics-column
            *ngIf="isStatistic()"></app-statistics-column>
    <app-edit-columns
            *ngIf="(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.RELATIONAL) | async) && !isStatistic()"></app-edit-columns>
    <app-edit-tables
            *ngIf="!(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.RELATIONAL) | async) && !isStatistic()"></app-edit-tables>
    <app-document-edit-collections
            *ngIf="!(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.DOCUMENT) | async) && !isStatistic()"></app-document-edit-collections>
    <app-document-edit-collection
            *ngIf="(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.DOCUMENT) | async) && !isStatistic() "></app-document-edit-collection>
    <app-graph-edit
            *ngIf="(isNamespaceType(NamespaceType.GRAPH) | async)  && !isStatistic()"></app-graph-edit>
</div>


<ng-container *ngIf="!currentRoute">
    <h1>Namespaces</h1>
    <p>Select an item from the left sidebar to edit its entities.</p>

    <c-row class="row">
        <c-col class="col-lg-6 fixed-width">
            <div class="card">
                <div class="card-header">
                    <span class="mb-0">Create Namespace</span>
                </div>
                <div class="card-body">
                    <form *ngIf="createForm" [formGroup]="createForm" (submit)="createSchema()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="schemaNameCreate2" class="input-group-text">Name</label>
                            </div>
                            <input type="text" id="schemaNameCreate2" autocomplete="off" class="form-control"
                                   formControlName="name"
                                   [ngClass]="createSchemaValidation(createForm.controls['name'].value)"
                                   placeholder="namespace name">
                            <div class="invalid-feedback">{{createSchemaFeedback}}</div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="schema-type">Type</label>
                            </div>
                            <select class="form-control" formControlName="type" id="schema-type">
                                <option value="relational">relational</option>
                                <option value="document">document</option>
                                <option value="graph">graph</option>
                            </select>
                        </div>
                        <div class="input-group mb-3" *ngIf="this.createForm.get('type').value === 'graph'">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="schema-type">Store</label>
                            </div>
                            <select class="form-control" formControlName="stores" id="graph-store">
                                <option *ngFor="let store of stores"
                                        value="{{ store.uniqueName }}">{{store.uniqueName}}</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-primary float-right"
                                    [ngClass]="{'progress-bar-striped progress-bar-animated': createSubmitted}"
                                    [disabled]="createSubmitted">Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </c-col>

        <c-col class="col-lg-6 fixed-width">
            <div class="card">
                <div class="card-header">
                    <span class="mb-0">Drop Namespace</span>
                </div>
                <div class="card-body">
                    <form [formGroup]="dropForm" (submit)="dropSchema()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="schemaNameDrop" class="input-group-text">Name</label>
                            </div>
                            <input type="text" class="form-control" formControlName="name" id="schemaNameDrop"
                                   placeholder="namespace name" autocomplete="off"
                                   [ngClass]="getValidationClass(dropForm.controls['name'].value)">
                            <div class="invalid-feedback">This namespace does not exist</div>
                        </div>
                        <!--<div class="form-check checkbox">
                            <input type="checkbox" id="cascade" class="form-check-input" formControlName="cascade">
                            <label for="cascade" class="form-check-label">cascade</label>
                        </div>-->
                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-danger float-right"
                                    [ngClass]="{'progress-bar-striped progress-bar-animated': dropSubmitted}"
                                    [disabled]="dropSubmitted">Drop
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </c-col>
    </c-row>
</ng-container>
