<div *ngIf="currentRoute">
    <app-statistics-column
            *ngIf="isStatistic()"></app-statistics-column>
    <app-edit-columns
            *ngIf="(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.RELATIONAL) | async) && !isStatistic()"></app-edit-columns>
    <app-edit-tables
            *ngIf="!(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.RELATIONAL) | async) && !isStatistic()"></app-edit-tables>
    <app-document-edit-collections
            *ngIf="!(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.DOCUMENT) | async) && !isStatistic()"></app-document-edit-collections>
    <app-document-edit-collection
            *ngIf="(currentRoute | async).includes('.') && (isNamespaceType(NamespaceType.DOCUMENT) | async) && !isStatistic() "></app-document-edit-collection>
    <app-graph-edit
            *ngIf="(isNamespaceType(NamespaceType.GRAPH) | async)  && !isStatistic()"></app-graph-edit>
</div>


<ng-container *ngIf="(currentRoute|async)?.trim() === ''">
    <h1>Namespaces</h1>
    <p>Select an item from the left sidebar to edit its entities.</p>

    <c-row>
        <c-col lg="6" class="fixed-width">
            <c-card>
                <c-card-header>
                    <span class="mb-0">Create Namespace</span>
                </c-card-header>
                <c-card-body>
                    <form *ngIf="createForm" [formGroup]="createForm" (ngSubmit)="createNamespace()" cForm cRow class="needs-validation" [validated]="false">
                        <c-input-group class="mb-3 has-validation" cCol>
                            <span cInputGroupText id="namespaceNameCreate2">Name</span>
                            <input aria-describedby="NamespaceNameCreate2"
                                   autocomplete="off"
                                   cFormControl
                                   formControlName="name"
                                   [ngClass]="createNamespaceValidation(createForm.controls['name'].value)"
                                   required
                                   type="text"
                                   placeholder="namespace name">
                            <c-form-feedback valid="false">{{createNamespaceFeedback}}</c-form-feedback>
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <label class="input-group-text" for="namespace-type">Type</label>
                            <select id="namespace-type" formControlName="type" cSelect>
                                <option value="relational">relational</option>
                                <option value="document">document</option>
                                <option value="graph">graph</option>
                            </select>
                        </c-input-group>
                        <c-input-group class="mb-3" *ngIf="this.createForm.get('type').value === 'graph'">
                            <label class="input-group-text" for="namespace-type">Store</label>
                            <select class="form-control" formControlName="stores" id="graph-store" cSelect>
                                <option *ngFor="let store of stores"
                                        value="{{ store.uniqueName }}">{{store.uniqueName}}</option>
                            </select>
                        </c-input-group>
                        <c-input-group class="mb-0 justify-content-end">
                            <button cButton type="submit" class="btn btn-primary"
                                    [ngClass]="{'progress-bar-striped progress-bar-animated': createSubmitted}"
                                    [disabled]="createSubmitted || !createForm.valid">Create
                            </button>
                        </c-input-group>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>

        <c-col lg="6" class="fixed-width">
            <c-card>
                <c-card-header>
                    <span class="mb-0">Drop Namespace</span>
                </c-card-header>
                <c-card-body>
                    <form [formGroup]="dropForm" (submit)="dropNamespace()" cForm cRow class="needs-validation" [validated]="false">
                        <c-input-group  class="mb-3 has-validation" cCol>
                            <span id="namespaceNameDrop" cInputGroupText >Name</span>
                            <input type="text"
                                   formControlName="name"
                                   aria-describedby="namespaceNameDrop"
                                   cFormControl
                                   placeholder="namespace name"
                                   autocomplete="off"
                                   class="has-validation"
                                   [ngClass]="getValidationClass(dropForm.controls['name'].value)">
                            <c-form-feedback valid="false">This namespace does not exist</c-form-feedback>
                        </c-input-group>
                        <c-input-group class="mb-0 justify-content-end">
                            <button type="submit" class="btn btn-danger "
                                    [ngClass]="{'progress-bar-striped progress-bar-animated': dropSubmitted}"
                                    [disabled]="dropSubmitted"
                                    cButton>Drop
                            </button>
                        </c-input-group>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</ng-container>
