<c-accordion [flush]="true" [alwaysOpen]="true" class="mb-3">
    <c-accordion-item #item0="cAccordionItem" [visible]="true">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton class="ps-1 py-0 fs-3"
                    [ngClass]="textEditorState()" [tooltip]="textEditorState() === 'INVALID' ? textErrorTooltip : ''" [placement]="'bottom left'">
                PolyAlgebra Editor {{stateText[textEditorState()]}}
                <ng-template #textErrorTooltip>
                    {{textEditorError()}}
                </ng-template>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <div class="text-editor-wrapper"
                 [ngClass]="textEditorState()">
                <app-editor #textEditor id="text-editor"
                            [language]="'sql'"
                            [autocomplete]="true"
                            [initOptions]="textEditorOpts"
                            [useParentHeight]="false"
                            [code]="initialPolyAlg"
                            [readonly]="isReadOnly">
                </app-editor>
            </div>
            <p *ngIf="userMode() === UserMode.SIMPLE" class="mb-1"><i>PolyAlgebra can only be edited in advanced mode</i>.</p>
        </ng-template>
    </c-accordion-item>
</c-accordion>

<ng-container *ngIf="showEditButton">
    <button cButton color="success" variant="outline" class="m-1"
            (click)="openInPlanEditor()">
        Edit Plan
    </button>
</ng-container>
<ng-container *ngIf="isReadOnly">
    <button cButton color="light" class="m-1"
            (click)="toggleMetadata()">
        Toggle Stats
    </button>
</ng-container>
<ng-container *ngIf="!isReadOnly">
    <c-button-toolbar
            aria-label="Toolbar with button groups"
            class="justify-content-between"
            role="group"
    >
        <div>
            <c-button-group class="m-1">
                <input class="btn-check" id="radio1" type="radio" [checked]="userMode() === UserMode.SIMPLE"/>
                <label (click)="setUserMode(UserMode.SIMPLE)" cButton cFormCheckLabel for="radio1" color="dark" variant="outline">Simple</label>

                <input class="btn-check" id="radio2" type="radio" [checked]="userMode() === UserMode.ADVANCED"/>
                <label (click)="setUserMode(UserMode.ADVANCED)" cButton cFormCheckLabel for="radio2" color="dark" variant="outline">Advanced</label>
            </c-button-group>

            <button cButton color="light" class="m-1"
                    (click)="nodeEditor?.layout()">
                Arrange Nodes
            </button>
            <button cButton color="light" class="m-1" [disabled]="!canSyncEditors()"
                    (click)="synchronizeEditors()">
                Synchronize
            </button>
        </div>

        <button cButton (click)="executePlan()" class="m-1" [disabled]="!isSynchronized() || planType === 'PHYSICAL'">Execute Plan</button>

    </c-button-toolbar>
</ng-container>


<c-accordion [flush]="true" class="mt-3">
    <c-accordion-item #item1="cAccordionItem" [visible]="true" class="text-body">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton class="ps-1 py-0 fs-3"
                    [ngClass]="nodeEditorState()" [tooltip]="nodeEditorState() === 'INVALID' ? nodeErrorTooltip : ''" [placement]="'bottom left'">
                Node Editor {{stateText[nodeEditorState()]}}
                <ng-template #nodeErrorTooltip>
                    {{nodeEditorError()}}
                </ng-template>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <div class="rete" #rete (focusout)="onNodeEditorBlur()" (focusin)="onNodeEditorFocus()" [ngClass]="nodeEditorState()"></div>
            <ng-container *ngIf="!isReadOnly">
                <p>
                    <i>Open the context menu to add or remove nodes</i>
                </p>
            </ng-container>
        </ng-template>
    </c-accordion-item>
</c-accordion>