<div class="my-3 p-1 text-editor-wrapper"
     [ngClass]="textEditorState()">
    <app-editor #textEditor id="text-editor"
                [language]="'sql'"
                [autocomplete]="true"
                [initOptions]="textEditorOpts"
                [useParentHeight]="false"
                [code]="initialPolyAlg"
                [readonly]="isReadOnly">
    </app-editor>
</div>

<ng-container *ngIf="showEditButton">
    <button cButton color="success" variant="outline" class="m-1"
            (click)="openInPlanEditor()">
        Edit Plan
    </button>
</ng-container>
<ng-container *ngIf="!isReadOnly">
    <button cButton (click)="executePlan()" class="m-1" [disabled]="!isSynchronized()">Execute Plan</button>
    <button cButton color="secondary" class="m-1"
            (click)="nodeEditor?.layout()">
        Arrange Nodes
    </button>
    <button cButton color="secondary" class="m-1" [disabled]="!canSyncEditors()"
            (click)="synchronizeEditors()">
        Synchronize
    </button>
</ng-container>

<div class="mt-3">
    <div class="rete" #rete (focusout)="onNodeEditorBlur()" (focusin)="onNodeEditorFocus()" [ngClass]="nodeEditorState()"></div>
</div>
<ng-container *ngIf="!isReadOnly">
    <p>
        <i>Open the context menu to add or remove nodes</i>
    </p>
</ng-container>