// Here you can add other styles
table.table{
  background: white;
}
.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.breadcrumb .breadcrumb-item span{
  outline: none;
}
img.navbar-brand-full{
  width: 100%;
  height: 100%;
}
input[type="text"], input[type="number"]{
  color: black !important;
}
