// Variable overrides
$aside-menu-width: 350px;

// Load CoreUI. This generates CSS based on overwritten variables
@use "../node_modules/@coreui/coreui/scss/coreui" with (

  // Override CoreUI 5 with CoreUI 4 theme colors
  $primary: #27aae1,
  $primary-bg-subtle: #e9f7fc,
  $primary-border-subtle: #bee6f6,
  $primary-text-emphasis: #2399cb,

  $dark: #4f5d73,
  $sidebar-bg: #3c4b64,
  $secondary: #8a93a2,
);

.btn-primary {
  color: white !important;
}
