// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import '~angular-tree-component/dist/angular-tree-component.css';

// If you want to add something do it here
@import "custom";
