<div class="map-container">
    <div id="map"></div>
    <div *ngIf="this.isLoading" class="map-overlay">
        <div class="spinner-container">
            <c-spinner color="light">
                <span class="visually-hidden">{{ this.isLoadingMessage }}</span>
            </c-spinner>
            <span>{{ this.isLoadingMessage }}</span>
        </div>
    </div>
    <button *ngIf="this.canRerenderLayers" (click)="this.layerSettings.rerenderButtonClicked()"
            class="shadow-lg render-button" cButton color="primary">Refresh layers
    </button>
</div>
