<div class="py-2">
    <c-badge color="danger" *ngIf="data.isHighestCpuCost" class="me-1 px-1">Most CPU</c-badge>
    <c-badge color="danger" *ngIf="data.isHighestRowsCost" class="me-1 px-1">Most Rows</c-badge>
    <c-badge color="danger" *ngIf="data.isHighestIoCost" class="me-1 px-1">Most IO</c-badge>
    <table cTable hover small>
        <tbody>
        <tr *ngFor="let row of data.rows | keyvalue">
            <th scope="row">{{row.key}}</th>
            <td>{{row.value}}</td>
        </tr>
        </tbody>
    </table>
</div>
