<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="defaultRegistryField" class="input-group-text">Default Docker Registry</label>
                    </div>
                    <input id="defaultRegistryField" class="form-control" type="text" name="id" (input)="modified = true" [(ngModel)]="registry">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="input-group">
                <button class="btn btn-success mr-2" (click)="saveSettings()" [disabled]="!modified">Save</button>
                <button class="btn btn-secondary" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>
