@if (_crud.connected) {
    <c-alert [color]="latencyColor()">Latency: <span class="fw-bold">{{ this.formattedLatency() }}</span></c-alert>
} @else {
    <c-alert color="warning">Disconnected</c-alert>
}
<form [formGroup]="form" (ngSubmit)="saveSettings()">

    <div class="aside-options">
        @for (s of settings | keyvalue; track s.key) {
            <div class="form-group mb-3">
                <label [for]="s.key">{{ s.value.displayName }}</label>
                <input type="text" class="form-control form-control-sm" [id]="s.key" [value]="s.value.value"
                       [formControlName]="s.key">
            </div>
        }
    </div>

    <div class="aside-options">
        <small>Saving or resetting will reload the UI.</small>
    </div>
    <div class="aside-options">
        <button cButton color="primary" type="submit">Save</button>
        <button cButton color="danger" class="float-right ms-2" (click)="resetSettings()">Reset</button>
        <button cButton color="primary" class="ms-2" (click)="reload()">Reload</button>
    </div>

</form>

