<tabset>

  <!--<tab>
    <ng-template tabHeading><i class="icon-layers"></i></ng-template>
    <div class="list-group list-group-accent">

      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Database 1</div>
      <div class="list-group-item list-group-item-accent-primary list-group-item-divider">Table 1.1</div>
      <div class="list-group-item list-group-item-accent-primary list-group-item-divider child1">Column 1.1.1</div>
      <div class="list-group-item list-group-item-accent-primary list-group-item-divider child1">Column 1.1.2</div>
      <div class="list-group-item list-group-item-accent-success list-group-item-divider">Table 1.2</div>

      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Database 2</div>
      <div class="list-group-item list-group-item-accent-danger list-group-item-divider">Table 2.1</div>
      <div class="list-group-item list-group-item-accent-warning list-group-item-divider">Table 2.2</div>
      <div class="list-group-item list-group-item-accent-warning list-group-item-divider child1">Column 2.2.1</div>
      <div class="list-group-item list-group-item-accent-warning list-group-item-divider child1">Column 2.2.2</div>

    </div>
  </tab>

  <tab>
    <ng-template tabHeading><i class="icon-list"></i></ng-template>
    <div class="list-group list-group-accent">
      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Today</div>
      <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
        <div class="avatar float-right">
          <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
        </div>
        <div>Meeting with
          <strong>Lucas</strong>
        </div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>  1 - 3pm</small>
        <small class="text-muted">
          <i class="icon-location-pin"></i>  Palo Alto, CA</small>
      </div>
      <div class="list-group-item list-group-item-accent-info">
        <div class="avatar float-right">
          <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
        </div>
        <div>Skype with
          <strong>Megan</strong>
        </div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>  4 - 5pm</small>
        <small class="text-muted">
          <i class="icon-social-skype"></i>  On-line</small>
      </div>
      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>
      <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
        <div>New UI Project -
          <strong>deadline</strong>
        </div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>  10 - 11pm</small>
        <small class="text-muted">
          <i class="icon-home"></i>  creativeLabs HQ</small>
        <div class="avatars-stack mt-2">
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-accent-success list-group-item-divider">
        <div>
          <strong>#10 Startups.Garden</strong> Meetup</div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>  1 - 3pm</small>
        <small class="text-muted">
          <i class="icon-location-pin"></i>  Palo Alto, CA</small>
      </div>
      <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
        <div>
          <strong>Team meeting</strong>
        </div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>  4 - 6pm</small>
        <small class="text-muted">
          <i class="icon-home"></i>  creativeLabs HQ</small>
        <div class="avatars-stack mt-2">
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
          </div>
          <div class="avatar avatar-xs">
            <img class="img-avatar" src="assets/img/avatars/8.jpg" alt="admin@bootstrapmaster.com">
          </div>
        </div>
      </div>
    </div>

  </tab>
  <tab>
    <ng-template tabHeading><i class="icon-speech"></i></ng-template>
    <div class="p-3">
      <div class="message">
        <div class="py-3 pb-5 mr-3 float-left">
          <div class="avatar">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </div>
        <div>
          <small class="text-muted">Lukasz Holeczek</small>
          <small class="text-muted float-right mt-1">1:52 PM</small>
        </div>
        <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message">
        <div class="py-3 pb-5 mr-3 float-left">
          <div class="avatar">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </div>
        <div>
          <small class="text-muted">Lukasz Holeczek</small>
          <small class="text-muted float-right mt-1">1:52 PM</small>
        </div>
        <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message">
        <div class="py-3 pb-5 mr-3 float-left">
          <div class="avatar">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </div>
        <div>
          <small class="text-muted">Lukasz Holeczek</small>
          <small class="text-muted float-right mt-1">1:52 PM</small>
        </div>
        <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message">
        <div class="py-3 pb-5 mr-3 float-left">
          <div class="avatar">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </div>
        <div>
          <small class="text-muted">Lukasz Holeczek</small>
          <small class="text-muted float-right mt-1">1:52 PM</small>
        </div>
        <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message">
        <div class="py-3 pb-5 mr-3 float-left">
          <div class="avatar">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </div>
        <div>
          <small class="text-muted">Lukasz Holeczek</small>
          <small class="text-muted float-right mt-1">1:52 PM</small>
        </div>
        <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
    </div>
  </tab>-->

  <tab>
    <ng-template tabHeading>Settings</ng-template>
    <div class="p-3">
      <h6>Settings</h6>
      <form [formGroup]="form" (ngSubmit)="saveSettings()">


        <div class="aside-options">
          <small><b>ConfigManager</b></small>
          <br>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">rest</span>
              </div>
              <input type="text" class="form-control form-control-sm" [value]="config_rest" formControlName="configRest">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">socket</span>
              </div>
              <input type="text" class="form-control form-control-sm" [value]="config_socket" formControlName="configSocket">
            </div>
          </div>
        </div>

        <div class="aside-options">
          <small><b>InformationManager</b></small>
          <br>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">rest</span>
              </div>
              <input type="text" class="form-control form-control-sm" [value]="info_rest" formControlName="infoRest">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">socket</span>
              </div>
              <input type="text" class="form-control form-control-sm" [value]="info_socket" formControlName="infoSocket">
            </div>
          </div>
        </div>

        <div class="aside-options">
          <small>saving and resetting will reload the page</small>
        </div>

        <div class="aside-options">
          <button type="submit" class="btn btn-primary">save</button>
          <button class="btn btn-danger float-right" (click)="resetSettings()">reset</button>
        </div>

      </form>

    </div>
  </tab>
</tabset>
