tabset tab {
  .child1 {
    padding-left: 3em;
  }
}

.aside-options {
  .input-group {
    margin-bottom: 0.5em;
  }

  small {
    display: inline-block;
    margin-bottom: 0.5em;
  }
}

.input-group-prepend {
  height: 2em;
}

.form-group label {
  margin-bottom: 0.2rem;
}
