<ng-autocomplete
        [ngModel]="value()"
        (ngModelChange)="value.set($event)"
        [data]="data"
        [searchKeyword]="value()"
        [placeholder]="placeholder"
        [notFoundText]="notFoundText"
        [disabled]="disabled"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        (selected)="onItemSelected($event)"
        (inputChanged)="onInputChanged($event)"
        (inputFocused)="onInputFocused()"
        (inputCleared)="onInputCleared()"
        (opened)="onOpened()"
        (closed)="onClosed()"
        (scrolledToEnd)="onScrolledToEnd()">
</ng-autocomplete>

<ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
</ng-template>
<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
</ng-template>