.ng-autocomplete {
  width: 100% !important;


  .autocomplete-container {
    box-shadow: none !important;
    border: 1px solid #d8dbe0;
    border-radius: 0.25rem;
    line-height: 2;
    height: auto !important;
  }

  .not-found {
    margin-bottom: -36px;
  }

  .input-container {
    height: initial;
    line-height: 2;
    background-color: white !important;
    border-radius: 0.25rem;

    input {
      background-color: transparent !important;
      height: auto !important;
      line-height: 1 !important;
      padding: 0.25rem 0.5rem !important;
    }
  }

  .autocomplete-container .suggestions-container ul li a {
    padding: 0 0.5em !important;
  }

  .input-container input::placeholder {
    font-size: 1rem;
  }

  /* bootstrap styles */
  .autocomplete-container {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .autocomplete-container:focus-within {
    border: 1px #8ad4ee solid !important;
    border-radius: 0.25rem;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25) !important;
  }
}