<ng-container>
    <div class="p-3">
        <c-toast-header [closeButton]="true" [class]="(toast|async)?.type">

            <strong class="me-2">
                {{ (toast | async)?.title }}
            </strong>
            @if ((toast | async)?.generatedQuery) {
                <span class="me-3 copy-query-btn" title="Copy query" (click)="copyGeneratedQuery(toast.value)">
          @if (showCopied) {
              <span>Copied!</span>
          } @else {
              @if ((toast | async)?.generatedQuery) {
                  <i class="fa fa-code"></i>
              }
          }
        </span>
            }
        </c-toast-header>
        <c-toast-body #t [cToastClose]="t.toast" class="text-bg-light">

            <div (click)="showStackTraceModal(toast.value)">
                {{ (toast | async)?.message }}
            </div>
            <ng-content></ng-content>
            <c-progress thin="true">
                <c-progress-bar [value]="25*(t.toast?.clock ?? 1)"></c-progress-bar>
            </c-progress>
        </c-toast-body>
    </div>
</ng-container>

<c-modal #stackTraceModal aria-hidden="true" aria-labelledby="myModalLabel" class="fade"
         role="dialog" tabindex="-1" id="stackTraceModal" [scrollable]="true">
    <c-modal-header class="modal-header">
        <h5>Exception</h5>
    </c-modal-header>
    @if (exception) {
        <c-modal-body class="text-muted">
            <ng-container *ngTemplateOutlet="exceptionTemplate; context:{e: exception}"></ng-container>
        </c-modal-body>
    }
    <c-modal-footer>
        <button cButton type="button" color="secondary" (click)="stackTraceModal.visible = false">Close</button>
    </c-modal-footer>
</c-modal>

<ng-template #exceptionTemplate let-e="e">
    @if (e) {
        <ng-container class="p-3">
            <ng-container>
                <c-toast-header [closeButton]="true">
                    <!--<toast-sample-icon></toast-sample-icon>-->
                    <strong>{{ e.message }}</strong>
                </c-toast-header>
                <c-toast-body #toast [cToastClose]="toast.toast">
                    <p class="mb-1">This is a dynamic toast no {{ toast.toast?.index }} {{ toast.toast?.clock }}</p>
                    <ng-content></ng-content>
                    <c-progress thin="">
                        <c-progress-bar [value]="25*(toast.toast?.clock ?? 1)"></c-progress-bar>
                    </c-progress>
                </c-toast-body>
            </ng-container>
        </ng-container>
    }
</ng-template>
